//
// FEATRE STYLES
//
// @author Nathan Dirks
//

// Foundation imports
@import "settings";
@import "foundation/components/flex-video";

// Compass imports
@import "compass/css3";

// Luther imports
@import "extends";
@import "mixins";

// AV Module
//////////////////////////////////////

#wrapper {
	#contentAndRelated {
		.video {
			@include flex-video-container();
		}
	}
	
	#av {

		.moduleNav {
			
			ul {
				margin: 0;

				li {
					
					border-bottom: 1px solid $lc-grey;
					padding-bottom: $column-gutter;
					margin-bottom: $column-gutter;

					@media
					#{$small-high-up} {
						@include grid-column(8);

						&:nth-child(2n+1) {
							clear: left;
						}
					}

					&:last-child {
						margin-bottom: 0;
					}

					.highslide {
						display: block;
						margin-bottom: $column-gutter/2;
						position: relative;
						max-width: 480px;
					}

					img {
						margin: 0 auto;
						display: block;
					}

					.av-play {
						width: 44px;
						height: 44px;
						position: absolute;
						top: 50%;
						left: 50%;
						margin-left: -22px;
						margin-top: -22px;
					}

					.desc {
						*:last-child {
							margin-bottom: 0;
							padding-bottom: 0;
						}
					}
				}
			}
		}
	}

	#relatedSections {

		#av {

			.moduleNav {
				
				ul {
					margin: 0;

					li {
						padding: 0;
						border-bottom: 0;

						@media
						#{$small-high-up} {
							@include grid-column($columns:16, $collapse:true);

							&:nth-child(2n+1) {
								clear: none;
							}
						}

						&:last-child {
							padding-bottom: 0;
						}
					}
				}
			}
		}
	}
}