//
// FORM STYLES
//
// @author Nathan Dirks
//

// Foundation imports
@import "settings";
@import "foundation/components/grid";
@import "foundation/components/forms";
@import "foundation/components/buttons";
@import "foundation/components/alert-boxes";

// Compass imports
@import "compass/css3";

// Luther imports
@import "extends";
@import "mixins";

#form,
form {

// In _settings.scss, we set $include-html-form-classes: false to keep from including all the non-symantic form classes that we don't use.
// To get the form classes we do want, we include the Foundation form styles from components/_forms.scss here.

	div,
	.words,
	input,
	label,
    select {
		font-family: $header-font-family;
	}

    // Basic styling on all basic form elements
    input[type="text"],
    input[type="password"],
    input[type="date"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="month"],
    input[type="week"],
    input[type="email"],
    input[type="number"],
    input[type="search"],
    input[type="tel"],
    input[type="time"],
    input[type="url"],
    textarea {
      -webkit-appearance: none;
      -webkit-border-radius: 0;
      border-radius: 0;
      @include form-element;
      @if not $input-include-glowing-effect {
          @include single-transition(all, 0.15s, linear);
      }
      margin-bottom: 0;
    }

    input[type="text"],
    input[type="password"],
    input[type="date"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="month"],
    input[type="week"],
    input[type="email"],
    input[type="number"],
    input[type="search"],
    input[type="tel"],
    input[type="time"],
    input[type="url"] {max-width: 600px;}

     // Adjust margin for form elements below
    input[type="file"],
    select {
      margin: 0 0 $form-spacing 0;
    }

    input[type="checkbox"],
    input[type="radio"] {}

    input[type="checkbox"] + label,
    input[type="radio"] + label {
      display: inline-block;
      margin-#{$default-float}: $form-spacing * .5;
      margin-#{$opposite-direction}: $form-spacing;
      margin-bottom: 0;
      vertical-align: baseline;
    }

    // Normalize file input width
    input[type="file"] {
      width:100%;
    }

    // Basic fieldset styling
    fieldset {
      @include fieldset;
    }

    // Basic select styling
    select {
      -webkit-appearance: none !important;
      background: $select-bg-color;
      background-position-x: 97%;
      background-position-y: center;
      border: $input-border-width $input-border-style $input-border-color;
      padding: $form-spacing / 2;
      font-size: $input-font-size;
      @include radius(0);
      &.radius { @include radius($global-radius); }
      &:hover {
        background: darken($select-bg-color, 3%);
        background-position-x: 97%;
        background-position-y: center;
        border-color: $input-focus-border-color;
      }
      width: auto;
      max-width: 100%;
    }

    textarea {
    	height: auto;
    }

// Luther custom styles & Foundation overrides
// Custom form styles unique to Reason form markup



	.formElement {
		@include grid-row();
		padding: $form-spacing;
		margin-bottom: 1px;

		&:nth-child(even) {
			background: lighten($lc-grey, 5%);
		}

		.words {
			@include form-label;
			font-weight: 600;

			.requiredIndicator {
				font-weight: 300;
				display: inline-block;
				padding-left: rem-calc(4);
				color: darken($lc-grey, 40%);
			}
		}

		td {
			padding: .5em 0 .5em 1em; 
		}

		@media #{$medium-up} {

			padding: $form-spacing 0;

			.words {
			  @include grid-column($columns: 4, $float:left);
			 }

			.element {
				@include grid-column($columns: 12);
			}

			td {
				padding: .5em 1em .5em 0; 
			}

		}

	}

	input[type="text"] {
		
	}

	table tr {}

	#discoErrorNotice {
		@include alert($bg: $alert-color, $radius: 6px);
		color: $lc-red !important;

		&:before {
			  display: inline-block;
			  font-family: FontAwesome;
			  font-style: normal;
			  font-weight: normal;
			  line-height: 1;
			  -webkit-font-smoothing: antialiased;
			  -moz-osx-font-smoothing: grayscale;
			  content: "\f071"; // fa-var-exclamation-triangle
		}

		h3 {
			font-size: $font-size-18;
			
			font-weight: 600;
			margin: 0 rem-calc(6) 0 0;
			display: inline;
			display: none;
		}

		ul {
			margin: 0;
			display: inline;
			font-weight: 600;

			li {
				display: inline;

				a {font-weight: 400; text-decoration: underline;}
			}
		}
	}
}