//
// PUBLICATION STYLES
//
// @author Nathan Dirks
//

// Foundation imports
@import "settings";
@import "foundation/components/grid";

// Compass imports
@import "compass/css3";

// Luther imports
@import "extends";
@import "mixins";

// Publications
//////////////////////////////////////

/* Global Publication styles */
.publication .persistent {
 	//display: none; // Persistent is currently turned off at the page type level for the publication page type with 'use_filters' => false & 'show_login_link' => false.
}

/* Related Publications (often in sidebars) */
#relatedPub {

	.posts {
		margin-bottom: rem-calc(16);
	}

	.post {
		border-bottom: 1px solid $lc-grey;
		padding: rem-calc(16) 0;
		@include clearfix;

		figure {
			float: right;
			margin-left: rem-calc(16);

			@media #{$large-up} {
				float: left;
				margin: 0 rem-calc(16) 0 0;
			}
		}

		h4 {
			margin: 0;
		}
	}
}

.publication {

	/* Common */
	time {
		color: lighten($body-font-color, 25%);
	}

	/* POST INDEX (list of posts) */
	.posts {
		margin: 0;
	}

	.post {
		border-bottom: 1px dotted $lc-grey;
		padding: $column-gutter 0;

		&:first-child {
			padding-top: 0;
		}

		.title {
			margin: 0 0 $column-gutter/4;
			font-size: $h3-font-size;		}

		time,
		p.comments {
			display: inline-block;
			margin-bottom: $column-gutter/4;
			font-family: $open-sans;
			font-size: rem-calc(14);
		}

		p.comments {
			margin-left: rem-calc(16);

			a {
				&:before {
					@extend .fa;
					content: $fa-var-comments;
					margin-right: rem-calc(6);
				}
			}
		}

		p.more {
			margin: 0;

			a {
				color: $secondary-link-color;
				position: relative;
							margin-left: rem-calc(32);
			

				&:before {
					@extend .fa;
					content: $fa-var-chevron-circle-right;
					margin-left: rem-calc(6);
					position: absolute;
					left: - rem-calc(32);
					top: rem-calc(3);
					@include transition-property(left);
					@include transition-duration(.5s);
					@include transition-timing-function(ease);

				}

				&:hover,
				&:focus {
					&:before {
						left: - rem-calc(28);
						@include transition-property(left);
						@include transition-duration(.5s);
						@include transition-timing-function(ease);
					}
				}
			}
		}
	}

	.pagination {

		&.above {
			display: none;
		}
	}

	/* FULL POST */
	&.fullPostDisplay {
		//margin-right: rem-calc(40); // Leaves space for the persistent social media slider thing
	}

	.fullPost {

		.postTitle {display: none;}

		.date {
			display: block;
			margin-bottom: rem-calc(12);
		}

		.author {
			margin-bottom: $paragraph-margin-bottom;
			font-family: $header-font-family;
			font-size: $h4-font-size;
			font-weight: 300;
			margin-bottom: $column-gutter/1.25;
		}

		// The "Comment added!" message above the article after comments are posted
		.commentAdded {
			@include alert($bg: lighten($lc-green, 60%), $radius: $global-radius);
			border: 1px solid lighten($lc-green, 50%);
			color: lighten($body-font-color, 15%);
			margin: 0 0 $column-gutter/2;

			h4 {
				font-size: $h5-font-size;
				color: $lc-green;
				font-weight: 600;

				&:before {
					@extend .fa;
					content: $fa-var-check-circle-o;
					margin-right: rem-calc(10);
				}
			}

			a {
				display: inline-block;
				margin-left: rem-calc(24);
				&:before {
					content: "(";
				}
				&:after {
					content: ")";
				}
			}
		}
		// Artle WYSIWYG stiles are shared with other WYSIWYG content areas.  See _type.scss and _images.scss.

		/* Social Sharing */
		.social {

			&.top {

				display: none;

				// Make sticky on desktop
				@media #{$large-up} {
					display: block;
					position: fixed;
					z-index: 99999;
					right: 0;
					bottom: 50px;
					//width: rem-calc(40);
					padding: rem-calc(12);
					background: $lc-grey;
					background: rgba($lc-white, .9);
					@include box-shadow(rgba(#000, .25) 0 0 6px);
					@include border-left-radius(6px);
				}
			}

			&.bottom {
				text-align: center;
				margin-bottom: $column-gutter;

				@media #{$large-up} {
					display: none;
				}
			}

			p {
				padding: 0;
				margin: 0;
			}
		
			strong {
				position: relative;
				top: rem-calc(6);
				display: block;
				padding-bottom: rem-calc(12);
				
				@media #{$large-up} {
					float: left;
					padding-bottom: 0;
				}
				
			}

			a {
				width: rem-calc(40);
				display: inline-block;
				margin-left: rem-calc(12);

				@media #{$large-up} {
					
					float: left;
					

				}
			}
		}

		&.hasRelated { // If images, assets, or events are attached to the post
			.firstChunk {
				width: 60%;
				float: left;
			}
			.relatedItems {
				width: 40%;
				float: right;
			}
			.secondChunk {
				clear: both;
			}
		}
	}

	/* Next & Previous Posts navigation */
	.nextPrev {
		@include clearfix;
		background: $lc-grey;
		margin-bottom: $column-gutter;

		h4 {
			padding: $column-gutter/2;
			//padding-bottom: $column-gutter/3.5;
			margin: 0;
		}

		p {
			margin: 0;

			a {
				padding: $column-gutter/2;
				display: block;
				background: $lc-blue-light;
				color: #FFF;

				&:hover {
					background: $lc-blue-dark;
					color: #FFF;
				}
			}
		}

		
		.prev {
			border-bottom: rem-calc(12) solid $lc-white;
			
			@media #{$medium-up} {
				border-bottom: none;
				width: 50%;
				float: left;
				text-align: right;
				border-right: 1px solid #FFF;
			}

			h4 {
				&:before {
					@extend .fa;
					content: $fa-var-chevron-circle-left;
					margin-right: rem-calc(12);
					color: rgba($body-font-color, .35);
				}
			}

			&.only {
				width: 100%;
				text-align: center;
			}
		}

		.next {
			@media #{$medium-up} {
				width: 50%;
				float: right;
			}

			h4 {
				&:after {
					@extend .fa;
					content: $fa-var-chevron-circle-right;
					margin-left: rem-calc(12);
					color: rgba($body-font-color, .35);
				}
			}

			&.only {
				width: 100%;
				text-align: center;
			}
		}
	}

	.back {
		text-align: center;
		margin-bottom: $column-gutter;
		
		p {
			margin-bottom: 0;
		}
	}

	// @todo: Fix. Markup Generator Style.
	// 
	// As far as I can tell <div class="mainBackLink"> and similar are generated by show_back_link() in publication/module.php.
	// As noted in that file, this function should really be handled by a markup generator.
	// What I want to do is change the text of the back link, but I don't want to override publication/module.php just for that.
	// I may be uninteltionally hiding the back link in places where we may want to show it, which isn't cool.
	> .back {
		display: none;
	}

	/* Comments */
	.comments {
		ul {
			margin: 0 0 $column-gutter;

			li {
				position: relative;
				margin-top: rem-calc(60);
				border: 1px solid $lc-grey;
				@include border-radius (12px);
				padding: $column-gutter/2;

				&:first-child {
					margin-top: rem-calc(40);
				}
				
				.datetime {
					position: absolute;
					top: -30px;
					font-family: $open-sans;
					font-size: rem-calc(14);
					color: lighten($body-font-color, 25%);
				}

				.author {
					font-family: $header-font-family;
					color: $lc-blue-light;
					font-size: $h4-font-size;
					margin-bottom: rem-calc(12)
				}

				.commentContent {
					font-weight: 300;

					*:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}

	/* Add Comment Form */
	.addCommentForm {
		.subContent {
			form {
				padding: $column-gutter/2 0;
				border: 1px solid $lc-grey;
				@include border-radius (12px);		
			}

		}
	}
}