//
// SIBLING STYLES
//
// @author Brian Jones
//

// Foundation imports
@import "settings";
@import "foundation/components/grid";

// Compass imports
@import "compass/css3";

// Luther imports
@import "extends";
@import "mixins";

// TODO: Needs additional styling 

ul.siblingList {
	margin: 0;
	&.prevNext {
		li {
			display: inline;
			&.previous {
				> a[href]:before {
					font-family: FontAwesome;
					content: $fa-var-chevron-circle-left;
					padding-right: 0.35rem;
				}
			}
			&.next {
				float: right;
				> a[href]:after {
					font-family: FontAwesome;
					content: $fa-var-chevron-circle-right;
					padding-left: 0.35rem;
				}
			}	
		}
	}
}