//
// SIBLING STYLES
//
// @author Brian Jones
//

// TODO: Needs additional styling 

ul.siblingList {
	margin: 0;
	&.prevNext {
		width: 100%;
		li {
			border: 1px solid white;
			background-color: $lc-grey;
			width: 100%;
			//height: 71px;
			@media #{$medium-up} {
				width: 50%;
			}
			display: inline-block;
			font-size: 1.125rem;
			font-weight: 300;
			line-height: 1.2;
			a{
				display: inline-block;
				width: 100%;
				//height: 69px;
				padding: 20px;
				&:hover{
					background: darken($lc-grey, 5%);
				}
			}
			&.previous {
				> a[href] {
					padding-right: 0.75rem;
					padding-left: 2.35rem;
					display: inline-block;
					
					&:before {
						display: inline-block;
						color: rgba(68, 68, 68, 0.35);
						font-family: FontAwesome;
						content: $fa-var-chevron-circle-left;
						position: absolute;
						left: 30px;
						@media #{$medium-up} {
							left: 10px;
						}
					}
				}
			}
			&.next {
				float: right;
				text-align: right;
				> a[href] {
					padding-left: 0.75rem;
					padding-right: 2.35rem;
					display: inline-block;
					
					&:after {
						display: inline-block;
						color: rgba(68, 68, 68, 0.35);
						font-family: FontAwesome;
						content: $fa-var-chevron-circle-right;
						position: absolute;
						padding-left: 0.9rem;
					}
					
				}
			}	
		}
	}
}