/* insert tablesorter fontawesome sorting arrows after table header */

th {
  &.header:after {
    color: darken($lc-grey, 25%);
    padding-left: rem-calc(4);
    @extend .fa;
    content: $fa-var-sort;
  }
  &.headerSortUp:after {
    content: $fa-var-sort-asc;
  }
  &.headerSortDown:after {
    content: $fa-var-sort-desc;
  }
}