//
// TAB WIGET STYLES
//
// @author Nathan Dirks
//

// Foundation imports
@import "settings";
@import "foundation/components/grid";

// Compass imports
@import "compass/css3";

// Luther imports
@import "extends";
@import "mixins";

// TAB LAYOUTS

@mixin moblie-tabs {

	#tabs {
		@include box-shadow(rgba(0,0,0,.24) 0 2px 2px);
		@include border-radius($global-radius);
	}

	.tabs .tab-title {

		a {
			background: lighten($lc-grey, 6%);
			display: block;
			padding: $column-gutter/3.5 $column-gutter/1.5;
			border-left: 6px solid lighten($lc-grey, 2%);
			margin-bottom: 2px;
		}

		&:nth-child(4n+1).active a {
			border-color: $lc-green;
			background: rgba($lc-green, .2);
		}

		&:nth-child(4n+2).active a {
			border-color: $lc-red;
			background: rgba($lc-red, .2);
		}

		&:nth-child(4n+3).active a {
			border-color: $lc-blue-light;
			background: rgba($lc-blue-light, .2);
		}
		
		&:nth-child(4n+4).active a {
			border-color: $lc-yellow;
			background: rgba($lc-yellow, .2);
		}

		&.active a {
			border-left-width: 6px;
			border-left-style: solid;
			color: $body-font-color;
			color: $lc-blue-dark;
			background: $lc-grey;
		}
	}

	// Related content
	.tabs-content { 

		.content {
			padding: $column-gutter/2;
		
			&.active {
				display: block;
				border-left-width: 6px;
				border-left-style: solid;
			}

			&:nth-child(4n+1).active {
				border-color: $lc-green;
			}

			&:nth-child(4n+2).active {
				border-color: $lc-red;
			}

			&:nth-child(4n+3).active {
				border-color: $lc-blue-light;
			}
			
			&:nth-child(4n+4).active {
				border-color: $lc-yellow;
			}
		}			
	}
}

@mixin desktop-tabs {
	
	#tabs {
		@include box-shadow(none);
		@include border-radius(0);
	}

	.tabs .tab-title {

		a {
			background: #FFF !important;
			display: block;
			padding: $column-gutter/3.5 $column-gutter/1.5;
			border-left: none;
			margin: 0;
			float: left;
			font-weight: 300;
			@include border-top-radius($global-radius);
		}

		&:nth-child(4n+1).active a {
			border-color: $lc-green;
			//background: rgba($lc-green, .2);
		}

		&:nth-child(4n+2).active a {
			border-color: $lc-red;
			//background: rgba($lc-red, .2);
		}

		&:nth-child(4n+3).active a {
			border-color: $lc-blue-light;
			//background: rgba($lc-blue-light, .2);
		}
		
		&:nth-child(4n+4).active a {
			border-color: $lc-yellow;
			//background: rgba($lc-yellow, .2);
		}

		&.active a {
			border-left: none;
			border-top-width: 6px;
			border-top-style: solid;
			color: $lc-blue-dark;
			background: lighten($lc-grey, 5%) !important;
		}
	}

	// Related content
	.tabs-content {  
		margin-top: - rem-calc(3);

		.content {
			padding: $column-gutter/2;
			background: lighten($lc-grey, 5%);
		
			&.active {
				display: block;
				border: none;
				border-top: 3px solid $lc-grey;

				//border-left-width: 6px;
				//border-left-style: solid;
			}

			&:nth-child(4n+1).active {
				border-color: $lc-green;
			}

			&:nth-child(4n+2).active {
				border-color: $lc-red;
			}

			&:nth-child(4n+3).active {
				border-color: $lc-blue-light;
			}
			
			&:nth-child(4n+4).active {
				border-color: $lc-yellow;
			}
		}			
	}
}

// All tabs

#tabs {
	overflow: hidden;
	
	.tabs {
		@include clearfix;
		margin: 0;
		padding: 0;
		background: #FFF;
		
		.tab-title {
			margin: 0;
			padding: 0;
			display: block;	
		}
	}

	.tabs-content {

		.content {
			display: none;
		
			&.active {
				display: block;
			}
		}
	}			
}

// No related content
@include moblie-tabs;

	@media
	#{$medium-up} {
//		@include desktop-tabs;
	}

	/*.tab-title {	
		@media
		#{$medium-up} {
			float: left;
			margin-right: rem-calc(1);
		}
	}*/

// Has Related content
.hasRelated {

	@media
	#{$medium-up} {
//		@include moblie-tabs;
	}

	@media
	#{$xlarge-up} {
		@include desktop-tabs;
	}
}