/* Cluetip athlete tooltip */

p {
  &.athlete_position_event, &.athlete_class_year, &.athlete_hometown, &.athlete_high_school {
    width: 265px;
    margin-bottom: 0;
  }
  &.athlete_class_year {
    margin-bottom: 16px;
  }
}

img.athlete_image {
  float: left;
  padding: 0 7px 0 0;
}