/* line 288, ../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-small {
  font-family: "/only screen and (max-width: 40em)/";
  width: 0em;
}

/* line 293, ../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:40.063em) and (max-width:63.75em)/";
  width: 40.063em;
}

/* line 298, ../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-large {
  font-family: "/only screen and (min-width:63.8125em)/";
  width: 64.063em;
}

/* line 303, ../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:90.063em)/";
  width: 90.063em;
}

/* line 308, ../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:120.063em)/";
  width: 120.063em;
}

/* line 318, ../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 323, ../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
html,
body {
  font-size: 100%;
}

/* line 326, ../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
body {
  background: white;
  color: #444444;
  padding: 0;
  margin: 0;
  font-family: "Roboto Slab", serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  position: relative;
  cursor: default;
}

/* line 339, ../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
a:hover {
  cursor: pointer;
}

/* line 344, ../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
img,
object,
embed {
  max-width: 100%;
  height: auto;
}

/* line 347, ../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
object,
embed {
  height: 100%;
}

/* line 348, ../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
img {
  -ms-interpolation-mode: bicubic;
}

/* line 354, ../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important;
}

/* line 359, ../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
.left {
  float: left !important;
}

/* line 360, ../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
.right {
  float: right !important;
}

/* line 361, ../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
.clearfix {
  *zoom: 1;
}
/* line 165, ../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
/* line 166, ../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
.clearfix:after {
  clear: both;
}

/* line 362, ../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
.text-left {
  text-align: left !important;
}

/* line 363, ../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
.text-right {
  text-align: right !important;
}

/* line 364, ../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
.text-center {
  text-align: center !important;
}

/* line 365, ../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
.text-justify {
  text-align: justify !important;
}

/* line 366, ../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
.hide {
  display: none;
}

/* line 372, ../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
.antialiased {
  -webkit-font-smoothing: antialiased;
}

/* line 375, ../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
img {
  display: inline-block;
  vertical-align: middle;
}

/* line 385, ../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
textarea {
  height: auto;
  min-height: 50px;
}

/* line 388, ../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
select {
  width: 100%;
}

/* line 77, ../foundation/bower_components/foundation/scss/foundation/components/_top-bar.scss */
meta.foundation-mq-topbar {
  font-family: "/only screen and (min-width:40.063em)/";
  width: 40.063em;
}

/* line 67, ../foundation/bower_components/foundation/scss/foundation/components/_offcanvas.scss */
.off-canvas-wrap, .inner-wrap, nav.tab-bar, .left-off-canvas-menu, .left-off-canvas-menu *, .right-off-canvas-menu, .move-right a.exit-off-canvas, .move-left a.exit-off-canvas {
  -webkit-backface-visibility: hidden;
}

/* line 73, ../foundation/bower_components/foundation/scss/foundation/components/_offcanvas.scss */
.off-canvas-wrap, .inner-wrap {
  position: relative;
  width: 100%;
}

/* line 79, ../foundation/bower_components/foundation/scss/foundation/components/_offcanvas.scss */
.left-off-canvas-menu, .right-off-canvas-menu {
  width: 70%;
  top: 0;
  bottom: 0;
  height: 100%;
  position: absolute;
  overflow-y: auto;
  background: #9d9d9d;
  z-index: 1001;
  box-sizing: content-box;
}

/* line 150, ../foundation/bower_components/foundation/scss/foundation/components/_offcanvas.scss */
section.left-small, section.right-small {
  width: 2.8125rem;
  height: 2.8125rem;
  position: absolute;
  top: 0;
}

/* line 270, ../foundation/bower_components/foundation/scss/foundation/components/_offcanvas.scss */
.off-canvas-wrap {
  overflow: hidden;
}

/* line 271, ../foundation/bower_components/foundation/scss/foundation/components/_offcanvas.scss */
.inner-wrap {
  *zoom: 1;
  -webkit-transition: -webkit-transform 800ms ease;
  -moz-transition: -moz-transform 800ms ease;
  -ms-transition: -ms-transform 800ms ease;
  -o-transition: -o-transform 800ms ease;
  transition: transform 800ms ease;
}
/* line 165, ../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
.inner-wrap:before, .inner-wrap:after {
  content: " ";
  display: table;
}
/* line 166, ../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
.inner-wrap:after {
  clear: both;
}

/* line 273, ../foundation/bower_components/foundation/scss/foundation/components/_offcanvas.scss */
nav.tab-bar {
  background: #333333;
  color: white;
  height: 2.8125rem;
  line-height: 2.8125rem;
  position: relative;
}
/* line 139, ../foundation/bower_components/foundation/scss/foundation/components/_offcanvas.scss */
nav.tab-bar h1, nav.tab-bar h2, nav.tab-bar h3, nav.tab-bar h4, nav.tab-bar h5, nav.tab-bar h6 {
  color: white;
  font-weight: bold;
  line-height: 2.8125rem;
  margin: 0;
}
/* line 145, ../foundation/bower_components/foundation/scss/foundation/components/_offcanvas.scss */
nav.tab-bar h1, nav.tab-bar h2, nav.tab-bar h3, nav.tab-bar h4 {
  font-size: 1.125rem;
}

/* line 275, ../foundation/bower_components/foundation/scss/foundation/components/_offcanvas.scss */
section.left-small {
  border-right: solid 1px #1a1a1a;
  box-shadow: 1px 0 0 #4d4d4d;
  left: 0;
}

/* line 276, ../foundation/bower_components/foundation/scss/foundation/components/_offcanvas.scss */
section.right-small {
  border-left: solid 1px #4d4d4d;
  box-shadow: -1px 0 0 #1a1a1a;
  right: 0;
}

/* line 278, ../foundation/bower_components/foundation/scss/foundation/components/_offcanvas.scss */
section.tab-bar-section {
  padding: 0 0.625rem;
  position: absolute;
  text-align: center;
  height: 2.8125rem;
  top: 0;
}
@media only screen and (min-width: 40.063em) {
  /* line 278, ../foundation/bower_components/foundation/scss/foundation/components/_offcanvas.scss */
  section.tab-bar-section {
    text-align: left;
  }
}
/* line 182, ../foundation/bower_components/foundation/scss/foundation/components/_offcanvas.scss */
section.tab-bar-section.left {
  left: 0;
  right: 2.8125rem;
}
/* line 186, ../foundation/bower_components/foundation/scss/foundation/components/_offcanvas.scss */
section.tab-bar-section.right {
  left: 2.8125rem;
  right: 0;
}
/* line 190, ../foundation/bower_components/foundation/scss/foundation/components/_offcanvas.scss */
section.tab-bar-section.middle {
  left: 2.8125rem;
  right: 2.8125rem;
}

/* line 282, ../foundation/bower_components/foundation/scss/foundation/components/_offcanvas.scss */
a.menu-icon {
  text-indent: 2.1875rem;
  width: 2.8125rem;
  height: 2.8125rem;
  display: block;
  line-height: 2.0625rem;
  padding: 0;
  color: white;
  position: relative;
}
/* line 293, ../foundation/bower_components/foundation/scss/foundation/components/_offcanvas.scss */
a.menu-icon span {
  position: absolute;
  display: block;
  width: 1rem;
  height: 0;
  left: 0.8125rem;
  top: 0.3125rem;
  -webkit-box-shadow: 0 10px 0 1px white, 0 16px 0 1px white, 0 22px 0 1px white;
  box-shadow: 0 10px 0 1px white, 0 16px 0 1px white, 0 22px 0 1px white;
}
/* line 313, ../foundation/bower_components/foundation/scss/foundation/components/_offcanvas.scss */
a.menu-icon:hover span {
  -webkit-box-shadow: 0 10px 0 1px #b3b3b3, 0 16px 0 1px #b3b3b3, 0 22px 0 1px #b3b3b3;
  box-shadow: 0 10px 0 1px #b3b3b3, 0 16px 0 1px #b3b3b3, 0 22px 0 1px #b3b3b3;
}

/* line 325, ../foundation/bower_components/foundation/scss/foundation/components/_offcanvas.scss */
.left-off-canvas-menu {
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

/* line 326, ../foundation/bower_components/foundation/scss/foundation/components/_offcanvas.scss */
.right-off-canvas-menu {
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  right: 0;
}

/* line 328, ../foundation/bower_components/foundation/scss/foundation/components/_offcanvas.scss */
ul.off-canvas-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* line 204, ../foundation/bower_components/foundation/scss/foundation/components/_offcanvas.scss */
ul.off-canvas-list li label {
  padding: 0.3rem 0.9375rem;
  color: #999999;
  text-transform: uppercase;
  font-weight: bold;
  background: #444444;
  border-top: 1px solid #5e5e5e;
  border-bottom: none;
  margin: 0;
}
/* line 214, ../foundation/bower_components/foundation/scss/foundation/components/_offcanvas.scss */
ul.off-canvas-list li a {
  display: block;
  padding: 0.66667rem;
  color: rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid #909090;
}

/* line 334, ../foundation/bower_components/foundation/scss/foundation/components/_offcanvas.scss */
.move-right > .inner-wrap {
  -webkit-transform: translate3d(70%, 0, 0);
  -moz-transform: translate3d(70%, 0, 0);
  -ms-transform: translate3d(70%, 0, 0);
  -o-transform: translate3d(70%, 0, 0);
  transform: translate3d(70%, 0, 0);
}
/* line 337, ../foundation/bower_components/foundation/scss/foundation/components/_offcanvas.scss */
.move-right a.exit-off-canvas {
  transition: background 300ms ease;
  cursor: pointer;
  box-shadow: -4px 0 4px rgba(0, 0, 0, 0.25), 4px 0 4px rgba(0, 0, 0, 0.25);
  display: block;
  position: absolute;
  background: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1002;
}
@media only screen and (min-width: 40.063em) {
  /* line 244, ../foundation/bower_components/foundation/scss/foundation/components/_offcanvas.scss */
  .move-right a.exit-off-canvas:hover {
    background: rgba(255, 255, 255, 0.05);
  }
}

/* line 341, ../foundation/bower_components/foundation/scss/foundation/components/_offcanvas.scss */
.move-left > .inner-wrap {
  -webkit-transform: translate3d(-70%, 0, 0);
  -moz-transform: translate3d(-70%, 0, 0);
  -ms-transform: translate3d(-70%, 0, 0);
  -o-transform: translate3d(-70%, 0, 0);
  transform: translate3d(-70%, 0, 0);
}
/* line 345, ../foundation/bower_components/foundation/scss/foundation/components/_offcanvas.scss */
.move-left a.exit-off-canvas {
  transition: background 300ms ease;
  cursor: pointer;
  box-shadow: -4px 0 4px rgba(0, 0, 0, 0.25), 4px 0 4px rgba(0, 0, 0, 0.25);
  display: block;
  position: absolute;
  background: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1002;
}
@media only screen and (min-width: 40.063em) {
  /* line 244, ../foundation/bower_components/foundation/scss/foundation/components/_offcanvas.scss */
  .move-left a.exit-off-canvas:hover {
    background: rgba(255, 255, 255, 0.05);
  }
}

/* line 353, ../foundation/bower_components/foundation/scss/foundation/components/_offcanvas.scss */
.lt-ie10 .left-off-canvas-menu {
  left: -70%;
}
/* line 354, ../foundation/bower_components/foundation/scss/foundation/components/_offcanvas.scss */
.lt-ie10 .right-off-canvas-menu {
  right: -70%;
}
/* line 357, ../foundation/bower_components/foundation/scss/foundation/components/_offcanvas.scss */
.lt-ie10 .move-left > .inner-wrap {
  right: 70%;
}
/* line 358, ../foundation/bower_components/foundation/scss/foundation/components/_offcanvas.scss */
.lt-ie10 .move-right > .inner-wrap {
  left: 70%;
}

/* Tooltips */
/* line 32, ../foundation/bower_components/foundation/scss/foundation/components/_tooltips.scss */
.has-tip {
  border-bottom: none;
  cursor: help;
  font-weight: inherit;
  color: #1073ce;
}
/* line 39, ../foundation/bower_components/foundation/scss/foundation/components/_tooltips.scss */
.has-tip:hover, .has-tip:focus {
  border-bottom: dotted 1px black;
  color: black;
}
/* line 45, ../foundation/bower_components/foundation/scss/foundation/components/_tooltips.scss */
.has-tip.tip-left, .has-tip.tip-right {
  float: none !important;
}

/* line 48, ../foundation/bower_components/foundation/scss/foundation/components/_tooltips.scss */
.tooltip {
  display: none;
  position: absolute;
  z-index: 999;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.3;
  padding: 0.75rem;
  max-width: 85%;
  left: 50%;
  width: 100%;
  color: white;
  background: #6f6f6f;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
/* line 63, ../foundation/bower_components/foundation/scss/foundation/components/_tooltips.scss */
.tooltip > .nub {
  display: block;
  left: 5px;
  position: absolute;
  width: 0;
  height: 0;
  border: solid 5px;
  border-color: transparent transparent #6f6f6f transparent;
  top: -10px;
}
/* line 74, ../foundation/bower_components/foundation/scss/foundation/components/_tooltips.scss */
.tooltip.opened {
  color: black !important;
  border-bottom: dotted 1px black !important;
}

/* line 80, ../foundation/bower_components/foundation/scss/foundation/components/_tooltips.scss */
.tap-to-close {
  display: block;
  font-size: 0.625rem;
  color: #777777;
  font-weight: normal;
}

@media only screen and (min-width: 40.063em) {
  /* line 89, ../foundation/bower_components/foundation/scss/foundation/components/_tooltips.scss */
  .tooltip > .nub {
    border-color: transparent transparent #6f6f6f transparent;
    top: -10px;
  }
  /* line 93, ../foundation/bower_components/foundation/scss/foundation/components/_tooltips.scss */
  .tooltip.tip-top > .nub {
    border-color: #6f6f6f transparent transparent transparent;
    top: auto;
    bottom: -10px;
  }
  /* line 100, ../foundation/bower_components/foundation/scss/foundation/components/_tooltips.scss */
  .tooltip.tip-left, .tooltip.tip-right {
    float: none !important;
  }
  /* line 102, ../foundation/bower_components/foundation/scss/foundation/components/_tooltips.scss */
  .tooltip.tip-left > .nub {
    border-color: transparent transparent transparent #6f6f6f;
    right: -10px;
    left: auto;
    top: 50%;
    margin-top: -5px;
  }
  /* line 109, ../foundation/bower_components/foundation/scss/foundation/components/_tooltips.scss */
  .tooltip.tip-right > .nub {
    border-color: transparent #6f6f6f transparent transparent;
    right: auto;
    left: -10px;
    top: 50%;
    margin-top: -5px;
  }
}
/* line 4, scss/font-awesome/_core.scss */
.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 10, scss/_extends.scss */
.zero-out, body #wrapper #global-banner hgroup h1, body #wrapper #global-banner #mobile-nav ul, body #wrapper #global-nav .minisites, body #wrapper #global-footer #global-footer-nav .column ul, body #wrapper #global-footer #global-footer-info .contact {
  margin: 0;
  padding: 0;
}

/* line 15, scss/_extends.scss */
.screenreader, body #wrapper #global-banner hgroup span, body #wrapper #global-banner #mobile-nav ul a span {
  position: absolute;
  left: -9999px;
  top: -9999px;
  margin-bottom: 0;
}

/* Layout
 ***************************************/
/* line 40, scss/_global.scss */
body #wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 100%;
  *zoom: 1;
}
/* line 165, ../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
body #wrapper:before, body #wrapper:after {
  content: " ";
  display: table;
}
/* line 166, ../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
body #wrapper:after {
  clear: both;
}
@media only screen and (min-width: 90.063em) {
  /* line 40, scss/_global.scss */
  body #wrapper {
    margin: 0 auto;
    max-width: 103.75rem;
  }
}
/* line 48, scss/_global.scss */
body #wrapper #wrapper-col {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  float: left;
}
@media only screen and (min-width: 63.8125em) {
  /* line 48, scss/_global.scss */
  body #wrapper #wrapper-col {
    position: relative;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    width: 100%;
    float: left;
  }
}
/* line 56, scss/_global.scss */
body #wrapper #global-banner {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 100%;
  *zoom: 1;
  position: relative;
  z-index: 10;
}
/* line 165, ../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
body #wrapper #global-banner:before, body #wrapper #global-banner:after {
  content: " ";
  display: table;
}
/* line 166, ../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
body #wrapper #global-banner:after {
  clear: both;
}
@media only screen and (min-width: 63.8125em) {
  /* line 56, scss/_global.scss */
  body #wrapper #global-banner {
    border-left: 7px solid #6b9fd0;
    border-right: 7px solid #6b9fd0;
    height: 6rem;
  }
}
/* line 66, scss/_global.scss */
body #wrapper #global-banner hgroup {
  height: 3.75rem;
  background: #004789;
}
@media only screen and (min-width: 63.8125em) {
  /* line 66, scss/_global.scss */
  body #wrapper #global-banner hgroup {
    height: 6rem;
  }
}
/* line 77, scss/_global.scss */
body #wrapper #global-banner hgroup h1 a {
  display: block;
  height: 28px;
  width: 150px;
  margin: 0 auto;
  background: url("../images/logo_mobile_1x.png") no-repeat;
  top: 16px;
  position: relative;
  z-index: 11;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 91, scss/_global.scss */
  body #wrapper #global-banner hgroup h1 a {
    background: url("../images/logo_mobile_2x.png") no-repeat;
    -webkit-background-size: 150px 28px;
    -moz-background-size: 150px 28px;
    -o-background-size: 150px 28px;
    background-size: 150px 28px;
  }
}
@media only screen and (min-width: 63.8125em) {
  /* line 99, scss/_global.scss */
  body #wrapper #global-banner hgroup h1 a {
    width: 288px;
    height: 54px;
    top: 21px;
    margin-left: 1.25rem;
    background: url("../images/logo_1x.png") no-repeat;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }
}
@media only screen and (min-width: 63.8125em) and (-webkit-min-device-pixel-ratio: 2) and (min-width: 63.8125em), only screen and (min-width: 63.8125em) and (min--moz-device-pixel-ratio: 2) and (min-width: 63.8125em), only screen and (min-width: 63.8125em) and (-o-min-device-pixel-ratio: 2 / 1) and (min-width: 63.8125em), only screen and (min-width: 63.8125em) and (min-device-pixel-ratio: 2) and (min-width: 63.8125em), only screen and (min-width: 63.8125em) and (min-resolution: 192dpi) and (min-width: 63.8125em), only screen and (min-width: 63.8125em) and (min-resolution: 2dppx) and (min-width: 63.8125em) {
  /* line 111, scss/_global.scss */
  body #wrapper #global-banner hgroup h1 a {
    background: url("../images/logo_2x.png") no-repeat;
    -webkit-background-size: 288px 54px;
    -moz-background-size: 288px 54px;
    -o-background-size: 288px 54px;
    background-size: 288px 54px;
  }
}
/* line 118, scss/_global.scss */
body #wrapper #global-banner hgroup h1 a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
}
/* line 122, scss/_global.scss */
body #wrapper #global-banner hgroup h1 a:active {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
  opacity: 0.25;
}
/* line 137, scss/_global.scss */
body #wrapper #global-banner #mobile-nav ul a {
  width: 60px;
  height: 60px;
  display: block;
  background: #1073ce;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 12;
}
/* line 147, scss/_global.scss */
body #wrapper #global-banner #mobile-nav ul a i {
  font-size: 1.875rem;
  width: 60px;
  text-align: center;
  margin-top: 0.9375rem;
  color: white;
}
/* line 154, scss/_global.scss */
body #wrapper #global-banner #mobile-nav ul a i.fa-times {
  display: none;
}
@media only screen and (min-width: 63.8125em) {
  /* line 137, scss/_global.scss */
  body #wrapper #global-banner #mobile-nav ul a {
    display: none;
  }
}
/* line 169, scss/_global.scss */
body #wrapper #global-banner #mobile-nav ul a.search {
  left: auto;
  right: 0;
}
/* line 173, scss/_global.scss */
body #wrapper #global-banner #mobile-nav ul a.search.open {
  background: #f6f6f6;
}
/* line 176, scss/_global.scss */
body #wrapper #global-banner #mobile-nav ul a.search.open i {
  color: #1073ce;
}
/* line 179, scss/_global.scss */
body #wrapper #global-banner #mobile-nav ul a.search.open i.fa-search {
  display: none;
}
/* line 183, scss/_global.scss */
body #wrapper #global-banner #mobile-nav ul a.search.open i.fa-times {
  display: block;
}
/* line 192, scss/_global.scss */
body #wrapper #global-banner #search-nav {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  display: none;
  position: relative;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  width: 100%;
  float: left;
  background: #f6f6f6;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 2px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 2px 2px;
  box-shadow: rgba(0, 0, 0, 0.25) 0 2px 2px;
}
/* line 199, scss/_global.scss */
body #wrapper #global-banner #search-nav.open {
  display: block;
}
/* line 203, scss/_global.scss */
body #wrapper #global-banner #search-nav ul {
  margin: 0;
  padding: 1.11111rem 0;
  text-align: center;
  *zoom: 1;
}
/* line 165, ../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
body #wrapper #global-banner #search-nav ul:before, body #wrapper #global-banner #search-nav ul:after {
  content: " ";
  display: table;
}
/* line 166, ../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
body #wrapper #global-banner #search-nav ul:after {
  clear: both;
}
/* line 209, scss/_global.scss */
body #wrapper #global-banner #search-nav ul li {
  display: inline;
  margin-left: 1em;
}
/* line 213, scss/_global.scss */
body #wrapper #global-banner #search-nav ul li.directory {
  margin-left: 0;
}
/* line 217, scss/_global.scss */
body #wrapper #global-banner #search-nav ul li.search {
  display: block;
  margin: 1.11111rem auto;
  max-width: 25rem;
}
/* line 224, scss/_global.scss */
body #wrapper #global-banner #search-nav ul li.search form table td {
  padding: 0;
}
/* line 230, scss/_global.scss */
body #wrapper #global-banner #search-nav ul li.search .gsc-search-box {
  font-size: auto;
  margin: 0;
}
/* line 234, scss/_global.scss */
body #wrapper #global-banner #search-nav ul li.search .gsc-search-box * {
  border: none !important;
  line-height: 1;
  vertical-align: top;
}
/* line 243, scss/_global.scss */
body #wrapper #global-banner #search-nav ul li.search .gsc-search-box .gsc-input > input:hover,
body #wrapper #global-banner #search-nav ul li.search .gsc-search-box .gsc-input-box-hover,
body #wrapper #global-banner #search-nav ul li.search .gsc-search-box .gsc-input > input:focus,
body #wrapper #global-banner #search-nav ul li.search .gsc-search-box .gsc-input-box-focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;
}
/* line 249, scss/_global.scss */
body #wrapper #global-banner #search-nav ul li.search .gsc-input-box {
  background: none !important;
  border: none !important;
}
/* line 253, scss/_global.scss */
body #wrapper #global-banner #search-nav ul li.search .gsc-input-box:focus {
  border: none !important;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: 0;
}
/* line 261, scss/_global.scss */
body #wrapper #global-banner #search-nav ul li.search .gsc-input input.gsc-input {
  height: 2rem !important;
  padding: 0 0.5rem !important;
  border: 1px solid #e9e9e9 !important;
  border-right: none !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: white;
  font-size: 0.875rem;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
/* line 271, scss/_global.scss */
body #wrapper #global-banner #search-nav ul li.search .gsc-input input.gsc-input:focus {
  border-color: #d0d0d0;
}
/* line 278, scss/_global.scss */
body #wrapper #global-banner #search-nav ul li.search .gsst_b {
  padding: 0;
  height: 2rem;
  border-top: 1px solid #e9e9e9 !important;
  border-bottom: 1px solid #e9e9e9 !important;
  background: #FFF;
}
/* line 287, scss/_global.scss */
body #wrapper #global-banner #search-nav ul li.search .gsc-search-button input.gsc-search-button {
  border: none;
  margin: 0;
  height: 0;
  width: 0;
  display: block;
  padding: 1rem;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background: #1073ce url("../images/search-1x.png") 0.5rem no-repeat;
}
/* line 299, scss/_global.scss */
body #wrapper #global-banner #search-nav ul li.search .gsc-search-button input.gsc-search-button:hover, body #wrapper #global-banner #search-nav ul li.search .gsc-search-button input.gsc-search-button:active {
  background-color: #1280e6;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 287, scss/_global.scss */
  body #wrapper #global-banner #search-nav ul li.search .gsc-search-button input.gsc-search-button {
    background-image: url("../images/search-2x.png");
    background-size: 50%;
  }
}
/* line 313, scss/_global.scss */
body #wrapper #global-banner #search-nav a {
  font-size: 0.875rem;
}
/* line 317, scss/_global.scss */
body #wrapper #global-banner #search-nav a:link, body #wrapper #global-banner #search-nav a:visited {
  color: #1073ce;
  color: rgba(16, 115, 206, 0.8);
}
@media only screen and (min-width: 63.8125em) {
  /* line 317, scss/_global.scss */
  body #wrapper #global-banner #search-nav a:link, body #wrapper #global-banner #search-nav a:visited {
    color: white;
    color: rgba(255, 255, 255, 0.8);
  }
}
/* line 325, scss/_global.scss */
body #wrapper #global-banner #search-nav a:hover {
  color: #1073ce;
  color: #1073ce;
}
@media only screen and (min-width: 63.8125em) {
  /* line 325, scss/_global.scss */
  body #wrapper #global-banner #search-nav a:hover {
    color: white;
    color: white;
  }
}
@media only screen and (min-width: 63.8125em) {
  /* line 192, scss/_global.scss */
  body #wrapper #global-banner #search-nav {
    width: auto;
    left: auto;
    position: absolute;
    right: 2.5rem;
    top: 0.5rem;
    padding: 0;
    z-index: 10;
    background: none;
    box-shadow: none;
    display: block;
    border: none;
  }
  /* line 347, scss/_global.scss */
  body #wrapper #global-banner #search-nav ul {
    padding: 0;
    text-align: left;
    display: block;
  }
  /* line 354, scss/_global.scss */
  body #wrapper #global-banner #search-nav ul li.search {
    display: inline-block;
    margin: 0 0 0 1em;
    width: 18.75rem;
    position: relative;
    top: 0.5rem;
  }
}
/* line 367, scss/_global.scss */
body #wrapper #global-nav {
  clear: both;
}
@media only screen and (min-width: 63.8125em) {
  /* line 367, scss/_global.scss */
  body #wrapper #global-nav {
    display: block;
    position: relative;
    overflow: visible;
    padding-top: 0;
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    width: auto !important;
    border-left: 7px solid #a9cdee;
    border-right: 7px solid #a9cdee;
    *zoom: 1;
  }
  /* line 165, ../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
  body #wrapper #global-nav:before, body #wrapper #global-nav:after {
    content: " ";
    display: table;
  }
  /* line 166, ../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
  body #wrapper #global-nav:after {
    clear: both;
  }
  /* line 384, scss/_global.scss */
  body #wrapper #global-nav.left-off-canvas-menu {
    height: inherit;
  }
}
/* line 389, scss/_global.scss */
body #wrapper #global-nav h2 {
  display: none;
}
/* line 396, scss/_global.scss */
body #wrapper #global-nav a:link, body #wrapper #global-nav a:visited {
  color: white;
  color: rgba(255, 255, 255, 0.8);
}
/* line 402, scss/_global.scss */
body #wrapper #global-nav .audiences {
  margin: 0;
  padding: 1.11111rem;
  background: #f6f6f6;
  font-size: 0.875rem;
}
/* line 410, scss/_global.scss */
body #wrapper #global-nav .audiences li {
  display: inline-block;
}
/* line 412, scss/_global.scss */
body #wrapper #global-nav .audiences li a {
  background: #3b99f0;
  padding: 0.25rem 1rem;
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  -ms-border-radius: 1000px;
  -o-border-radius: 1000px;
  border-radius: 1000px;
  margin: 0.375rem 0.125rem;
  display: inline-block;
}
/* line 419, scss/_global.scss */
body #wrapper #global-nav .audiences li a:hover {
  color: white;
  color: white;
}
@media only screen and (min-width: 63.8125em) {
  /* line 402, scss/_global.scss */
  body #wrapper #global-nav .audiences {
    padding: 0;
    position: absolute;
    top: -2.5rem;
    right: 2.5rem;
    background: none;
    margin: 0 auto 0 auto;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
  }
  /* line 37, ../foundation/bower_components/foundation/scss/foundation/components/_inline-lists.scss */
  body #wrapper #global-nav .audiences > li {
    list-style: none;
    float: left;
    margin-left: 1.375rem;
    display: block;
  }
  /* line 42, ../foundation/bower_components/foundation/scss/foundation/components/_inline-lists.scss */
  body #wrapper #global-nav .audiences > li > * {
    display: block;
  }
  /* line 436, scss/_global.scss */
  body #wrapper #global-nav .audiences li a {
    background: none;
    padding: 0;
    margin: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
  }
}
/* line 450, scss/_global.scss */
body #wrapper #global-nav .minisites {
  border-top: 1px solid #c5c5c5;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 4px 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 4px 4px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 4px 4px;
}
/* line 457, scss/_global.scss */
body #wrapper #global-nav .minisites li {
  background-color: #e9e9e9;
  border-bottom: 1px solid #c5c5c5;
}
/* line 461, scss/_global.scss */
body #wrapper #global-nav .minisites li a {
  color: #1073ce;
  font-weight: 600;
  letter-spacing: 1px;
  display: block;
  padding: 1.25rem;
}
/* line 468, scss/_global.scss */
body #wrapper #global-nav .minisites li a .fa-fw {
  margin-right: 0.75rem;
  color: #909090;
}
/* line 473, scss/_global.scss */
body #wrapper #global-nav .minisites li a:hover {
  background-color: #d0d0d0;
}
@media only screen and (min-width: 63.8125em) {
  /* line 461, scss/_global.scss */
  body #wrapper #global-nav .minisites li a {
    color: white;
    color: white;
    font-weight: 400;
    font-size: 0.875rem;
  }
  /* line 482, scss/_global.scss */
  body #wrapper #global-nav .minisites li a:hover {
    color: white;
    color: white;
  }
}
@media only screen and (min-width: 90.063em) {
  /* line 461, scss/_global.scss */
  body #wrapper #global-nav .minisites li a {
    font-size: 0.9375rem;
  }
}
/* line 493, scss/_global.scss */
body #wrapper #global-nav .minisites li ul {
  /* subnav */
  display: none;
}
@media only screen and (min-width: 40.063em) {
  /* line 503, scss/_global.scss */
  body #wrapper #global-nav .minisites li a {
    border: none;
  }
  /* line 510, scss/_global.scss */
  body #wrapper #global-nav .minisites li ul li {
    border: none;
    display: inline;
  }
  /* line 514, scss/_global.scss */
  body #wrapper #global-nav .minisites li ul li a {
    display: inline-block;
    padding: 0;
  }
}
@media only screen and (min-width: 63.8125em) {
  /* line 450, scss/_global.scss */
  body #wrapper #global-nav .minisites {
    border-top: none;
    -webkit-box-shadow: 0px 0px 5px #333333;
    -moz-box-shadow: 0px 0px 5px #333333;
    box-shadow: 0px 0px 5px #333333;
  }
  /* line 531, scss/_global.scss */
  body #wrapper #global-nav .minisites > li {
    border-bottom: none;
    width: 12.5%;
    float: left;
    position: relative;
    background: #1073ce;
  }
  /* line 538, scss/_global.scss */
  body #wrapper #global-nav .minisites > li a {
    font-weight: 600;
    display: block;
    border-right: 1px solid rgba(255, 255, 255, 0.12);
    padding: 1em 0;
    text-align: center;
  }
  /* line 546, scss/_global.scss */
  body #wrapper #global-nav .minisites > li a i {
    display: none;
  }
  /* line 550, scss/_global.scss */
  body #wrapper #global-nav .minisites > li a:hover {
    background-color: #0f68bb;
  }
  /* line 555, scss/_global.scss */
  body #wrapper #global-nav .minisites > li ul {
    /* subnav */
    display: none;
  }
  /* line 559, scss/_global.scss */
  body #wrapper #global-nav .minisites > li.open {
    background: #FFF;
  }
  /* line 566, scss/_global.scss */
  body #wrapper #global-nav .minisites > li.open ul {
    padding: 12px;
    margin: 0;
    display: block;
    position: absolute;
    left: -12px;
    background: #efefef;
    width: 300px;
  }
  /* line 578, scss/_global.scss */
  body #wrapper #global-nav .minisites > li:last-child > a {
    border-right: none;
  }
}
@media only screen and (min-width: 63.8125em) {
  /* line 585, scss/_global.scss */
  body #wrapper #emergencyPreempt {
    margin-top: 2.5rem;
  }
  /* line 591, scss/_global.scss */
  body #wrapper #emergencyPreempt .callout {
    margin-bottom: 0;
  }
}
/* line 601, scss/_global.scss */
body #wrapper #global-footer {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 100%;
  *zoom: 1;
}
/* line 165, ../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
body #wrapper #global-footer:before, body #wrapper #global-footer:after {
  content: " ";
  display: table;
}
/* line 166, ../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
body #wrapper #global-footer:after {
  clear: both;
}
/* line 604, scss/_global.scss */
body #wrapper #global-footer #footerInner {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  float: left;
}
/* line 609, scss/_global.scss */
body #wrapper #global-footer #global-footer-nav,
body #wrapper #global-footer #global-footer-info {
  color: white;
  color: white;
}
/* line 614, scss/_global.scss */
body #wrapper #global-footer #global-footer-nav a:link, body #wrapper #global-footer #global-footer-nav a:visited,
body #wrapper #global-footer #global-footer-info a:link,
body #wrapper #global-footer #global-footer-info a:visited {
  color: white;
  color: rgba(255, 255, 255, 0.75);
}
/* line 617, scss/_global.scss */
body #wrapper #global-footer #global-footer-nav a:hover,
body #wrapper #global-footer #global-footer-info a:hover {
  color: white;
  color: white;
}
/* line 623, scss/_global.scss */
body #wrapper #global-footer #global-footer-nav {
  background: #1073ce;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 2.5rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 100%;
  *zoom: 1;
}
/* line 165, ../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
body #wrapper #global-footer #global-footer-nav:before, body #wrapper #global-footer #global-footer-nav:after {
  content: " ";
  display: table;
}
/* line 166, ../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
body #wrapper #global-footer #global-footer-nav:after {
  clear: both;
}
@media only screen and (min-width: 63.8125em) {
  /* line 623, scss/_global.scss */
  body #wrapper #global-footer #global-footer-nav {
    border-left: 7px solid #a9cdee;
    border-right: 7px solid #a9cdee;
  }
}
/* line 634, scss/_global.scss */
body #wrapper #global-footer #global-footer-nav h3 {
  font-size: 1.125rem;
  font-weight: 700;
  color: white;
  color: white;
}
/* line 640, scss/_global.scss */
body #wrapper #global-footer #global-footer-nav ul {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
}
/* line 645, scss/_global.scss */
body #wrapper #global-footer #global-footer-nav .column {
  padding-bottom: 2.5rem;
  position: relative;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  width: 100%;
  float: left;
}
@media only screen and (min-width: 30em) and (max-width: 40em) {
  /* line 645, scss/_global.scss */
  body #wrapper #global-footer #global-footer-nav .column {
    position: relative;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    width: 50%;
    float: left;
  }
  /* line 651, scss/_global.scss */
  body #wrapper #global-footer #global-footer-nav .column:nth-child(odd) {
    clear: left;
  }
}
@media only screen and (min-width: 40.063em) and (max-width: 63.75em) {
  /* line 645, scss/_global.scss */
  body #wrapper #global-footer #global-footer-nav .column {
    position: relative;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    width: 33.33333%;
    float: left;
  }
  /* line 658, scss/_global.scss */
  body #wrapper #global-footer #global-footer-nav .column:nth-child(3n+1) {
    clear: left;
  }
}
@media only screen and (min-width: 63.8125em) {
  /* line 645, scss/_global.scss */
  body #wrapper #global-footer #global-footer-nav .column {
    position: relative;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    width: 16.66667%;
    float: left;
  }
}
/* line 668, scss/_global.scss */
body #wrapper #global-footer #global-footer-nav .column ul {
  color: white;
  color: rgba(255, 255, 255, 0.75);
}
/* line 677, scss/_global.scss */
body #wrapper #global-footer #global-footer-info {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 100%;
  *zoom: 1;
  padding-top: 1.66667rem;
  padding-bottom: 1.66667rem;
  background: #004789;
  text-align: center;
}
/* line 165, ../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
body #wrapper #global-footer #global-footer-info:before, body #wrapper #global-footer #global-footer-info:after {
  content: " ";
  display: table;
}
/* line 166, ../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
body #wrapper #global-footer #global-footer-info:after {
  clear: both;
}
@media only screen and (min-width: 63.8125em) {
  /* line 677, scss/_global.scss */
  body #wrapper #global-footer #global-footer-info {
    border-left: 7px solid #6b9fd0;
    border-right: 7px solid #6b9fd0;
  }
}
/* line 690, scss/_global.scss */
body #wrapper #global-footer #global-footer-info nav ul {
  font-size: 0.875rem;
}
/* line 693, scss/_global.scss */
body #wrapper #global-footer #global-footer-info nav ul a {
  font-weight: 700;
}
/* line 696, scss/_global.scss */
body #wrapper #global-footer #global-footer-info nav ul a:hover {
  text-decoration: underline;
}
/* line 703, scss/_global.scss */
body #wrapper #global-footer #global-footer-info .utility-nav {
  position: relative;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  width: 100%;
  float: left;
}
/* line 706, scss/_global.scss */
body #wrapper #global-footer #global-footer-info .utility-nav ul {
  padding: 0;
  margin: 0 0 1.66667rem;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.125);
  line-height: 1;
}
/* line 713, scss/_global.scss */
body #wrapper #global-footer #global-footer-info .utility-nav ul li {
  margin-bottom: 1.66667rem;
}
@media only screen and (min-width: 40.063em) {
  /* line 719, scss/_global.scss */
  body #wrapper #global-footer #global-footer-info .utility-nav ul li {
    display: inline;
  }
  /* line 722, scss/_global.scss */
  body #wrapper #global-footer #global-footer-info .utility-nav ul li a {
    display: inline-block;
    border-right: 1px solid rgba(255, 255, 255, 0.25);
    margin-bottom: 1.66667rem;
  }
  /* line 727, scss/_global.scss */
  body #wrapper #global-footer #global-footer-info .utility-nav ul li a span {
    margin: 0 0.75rem;
  }
  /* line 733, scss/_global.scss */
  body #wrapper #global-footer #global-footer-info .utility-nav ul li:last-child > a {
    border: none;
  }
}
/* line 741, scss/_global.scss */
body #wrapper #global-footer #global-footer-info .contact {
  position: relative;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  width: 100%;
  float: left;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-weight: 300;
  font-size: 0.75rem;
  letter-spacing: .65px;
}
/* line 749, scss/_global.scss */
body #wrapper #global-footer #global-footer-info .contact .sep {
  display: inline-block;
  margin: 0 0.5rem;
  font-weight: 700;
}
/* line 756, scss/_global.scss */
body #wrapper #global-footer #global-footer-info .phone {
  display: block;
}
/* line 762, scss/_global.scss */
body #wrapper #post-footer {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 100%;
  *zoom: 1;
  float: left;
  clear: both;
  margin: 1.66667rem 0;
}
/* line 165, ../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
body #wrapper #post-footer:before, body #wrapper #post-footer:after {
  content: " ";
  display: table;
}
/* line 166, ../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
body #wrapper #post-footer:after {
  clear: both;
}
/* line 768, scss/_global.scss */
body #wrapper #post-footer p {
  position: relative;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  width: 100%;
  float: left;
  text-align: center;
  margin-bottom: 0;
  font-size: 0.875rem;
  color: #777777;
  font-weight: 300;
}
/* line 777, scss/_global.scss */
body #wrapper #post-footer a {
  text-decoration: underline;
}
@media only screen and (min-width: 40.063em) {
  /* line 783, scss/_global.scss */
  body #wrapper #post-footer p {
    text-align: left;
    margin-bottom: 0;
    position: relative;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    width: 50%;
    float: left;
  }
  /* line 789, scss/_global.scss */
  body #wrapper #post-footer .powered-by {
    text-align: right;
  }
}
@media only screen and (min-width: 63.8125em) {
  /* line 801, scss/_global.scss */
  body .off-canvas-wrap.move-right > .inner-wrap {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  /* line 809, scss/_global.scss */
  body .off-canvas-wrap.move-right a.exit-off-canvas {
    display: none;
  }
}
