meta.foundation-version {
  font-family: "/5.5.1/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0em; }

meta.foundation-mq-small-only {
  font-family: "/only screen and (max-width: 40em)/";
  width: 0em; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:40.063em)/";
  width: 40.063em; }

meta.foundation-mq-medium-only {
  font-family: "/only screen and (min-width:40.063em) and (max-width:63.75em)/";
  width: 40.063em; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:63.8125em)/";
  width: 63.8125em; }

meta.foundation-mq-large-only {
  font-family: "/only screen and (min-width:63.8125em) and (max-width:90em)/";
  width: 63.8125em; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:90.063em)/";
  width: 90.063em; }

meta.foundation-mq-xlarge-only {
  font-family: "/only screen and (min-width:90.063em) and (max-width:120em)/";
  width: 90.063em; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:120.063em)/";
  width: 120.063em; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

html, body {
  height: 100%; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  font-size: 100%; }

body {
  background: #FFFFFF;
  color: #444444;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  line-height: 1.5;
  position: relative;
  cursor: auto; }

a:hover {
  cursor: pointer; }

img {
  max-width: 100%;
  height: auto; }

img {
  -ms-interpolation-mode: bicubic; }

#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important; }

.left {
  float: left !important; }

.right {
  float: right !important; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
.clearfix:after {
  clear: both; }

.hide {
  display: none; }

.invisible {
  visibility: hidden; }

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

img {
  display: inline-block;
  vertical-align: middle; }

textarea {
  height: auto;
  min-height: 50px; }

select {
  width: 100%; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.text-center {
  text-align: center !important; }

.text-justify {
  text-align: justify !important; }

@media only screen and (max-width: 40em) {
  .small-only-text-left {
    text-align: left !important; }

  .small-only-text-right {
    text-align: right !important; }

  .small-only-text-center {
    text-align: center !important; }

  .small-only-text-justify {
    text-align: justify !important; } }
@media only screen {
  .small-text-left {
    text-align: left !important; }

  .small-text-right {
    text-align: right !important; }

  .small-text-center {
    text-align: center !important; }

  .small-text-justify {
    text-align: justify !important; } }
@media only screen and (min-width: 40.063em) and (max-width: 63.75em) {
  .medium-only-text-left {
    text-align: left !important; }

  .medium-only-text-right {
    text-align: right !important; }

  .medium-only-text-center {
    text-align: center !important; }

  .medium-only-text-justify {
    text-align: justify !important; } }
@media only screen and (min-width: 40.063em) {
  .medium-text-left {
    text-align: left !important; }

  .medium-text-right {
    text-align: right !important; }

  .medium-text-center {
    text-align: center !important; }

  .medium-text-justify {
    text-align: justify !important; } }
@media only screen and (min-width: 63.8125em) and (max-width: 90em) {
  .large-only-text-left {
    text-align: left !important; }

  .large-only-text-right {
    text-align: right !important; }

  .large-only-text-center {
    text-align: center !important; }

  .large-only-text-justify {
    text-align: justify !important; } }
@media only screen and (min-width: 63.8125em) {
  .large-text-left {
    text-align: left !important; }

  .large-text-right {
    text-align: right !important; }

  .large-text-center {
    text-align: center !important; }

  .large-text-justify {
    text-align: justify !important; } }
@media only screen and (min-width: 90.063em) and (max-width: 120em) {
  .xlarge-only-text-left {
    text-align: left !important; }

  .xlarge-only-text-right {
    text-align: right !important; }

  .xlarge-only-text-center {
    text-align: center !important; }

  .xlarge-only-text-justify {
    text-align: justify !important; } }
@media only screen and (min-width: 90.063em) {
  .xlarge-text-left {
    text-align: left !important; }

  .xlarge-text-right {
    text-align: right !important; }

  .xlarge-text-center {
    text-align: center !important; }

  .xlarge-text-justify {
    text-align: justify !important; } }
@media only screen and (min-width: 120.063em) and (max-width: 999999999999) {
  .xxlarge-only-text-left {
    text-align: left !important; }

  .xxlarge-only-text-right {
    text-align: right !important; }

  .xxlarge-only-text-center {
    text-align: center !important; }

  .xxlarge-only-text-justify {
    text-align: justify !important; } }
@media only screen and (min-width: 120.063em) {
  .xxlarge-text-left {
    text-align: left !important; }

  .xxlarge-text-right {
    text-align: right !important; }

  .xxlarge-text-center {
    text-align: center !important; }

  .xxlarge-text-justify {
    text-align: justify !important; } }
/* Typography resets */
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0; }

/* Default Link Styles */
a {
  color: #b84041;
  text-decoration: none;
  line-height: inherit; }
  a:hover, a:focus {
    color: #9e3738; }
  a img {
    border: none; }

/* Default paragraph styles */
p {
  font-family: inherit;
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.6;
  margin-bottom: 1.375rem;
  text-rendering: optimizeLegibility; }
  p.lead {
    font-size: 1.34375rem;
    line-height: 1.6; }
  p aside {
    font-size: 1rem;
    line-height: 1.35;
    font-style: italic; }

/* Default header styles */
h1, h2, h3, h4, h5, h6 {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
  color: #222222;
  text-rendering: optimizeLegibility;
  margin-top: 0.3rem;
  margin-bottom: 0.6rem;
  line-height: 1.3; }
  h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-size: 75%;
    color: #6f6f6f;
    line-height: 0; }

h1 {
  font-size: 2rem; }

h2 {
  font-size: 1.8125rem; }

h3 {
  font-size: 1.25rem; }

h4 {
  font-size: 1.0625rem; }

h5 {
  font-size: 1.1875rem; }

h6 {
  font-size: 1.0625rem; }

.subheader {
  line-height: 1.3;
  color: #6f6f6f;
  font-weight: 300;
  margin-top: 0.3rem;
  margin-bottom: 0.6rem; }

hr {
  border: solid #DDDDDD;
  border-width: 1px 0 0;
  clear: both;
  margin: 1.25rem 0 1.1875rem;
  height: 0; }

/* Helpful Typography Defaults */
em,
i {
  font-style: italic;
  line-height: inherit; }

strong,
b {
  font-weight: 700;
  line-height: inherit; }

small {
  font-size: 75%;
  line-height: inherit; }

code {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-weight: 300;
  color: #333333;
  background-color: #f8f8f8;
  border-width: 1px;
  border-style: solid;
  border-color: #dfdfdf;
  padding: 0.125rem 0.3125rem 0.0625rem; }

/* Lists */
ul,
ol,
dl {
  font-size: 1.125rem;
  line-height: 1.6;
  margin-bottom: 1.375rem;
  list-style-position: outside;
  font-family: inherit; }

ul {
  margin-left: 1.1rem; }
  ul.no-bullet {
    margin-left: 0; }
    ul.no-bullet li ul,
    ul.no-bullet li ol {
      margin-left: 1.25rem;
      margin-bottom: 0;
      list-style: none; }

/* Unordered Lists */
ul li ul,
ul li ol {
  margin-left: 1.25rem;
  margin-bottom: 0; }
ul.square li ul, ul.circle li ul, ul.disc li ul {
  list-style: inherit; }
ul.square {
  list-style-type: square;
  margin-left: 1.1rem; }
ul.circle {
  list-style-type: circle;
  margin-left: 1.1rem; }
ul.disc {
  list-style-type: disc;
  margin-left: 1.1rem; }
ul.no-bullet {
  list-style: none; }

/* Ordered Lists */
ol {
  margin-left: 1.4rem; }
  ol li ul,
  ol li ol {
    margin-left: 1.25rem;
    margin-bottom: 0; }

/* Definition Lists */
dl dt {
  margin-bottom: 0.3rem;
  font-weight: 700; }
dl dd {
  margin-bottom: 0.75rem; }

/* Abbreviations */
abbr,
acronym {
  text-transform: uppercase;
  font-size: 90%;
  color: #444444;
  cursor: help; }

abbr {
  text-transform: none; }
  abbr[title] {
    border-bottom: 1px dotted #DDDDDD; }

/* Blockquotes */
blockquote {
  margin: 0 0 1.375rem;
  padding: 3rem;
  border-left: none; }
  blockquote cite {
    display: block;
    font-size: 0.9375rem;
    color: #555555; }
    blockquote cite:before {
      content: "\2014 \0020"; }
    blockquote cite a,
    blockquote cite a:visited {
      color: #555555; }

blockquote,
blockquote p {
  line-height: 1.6;
  color: #6f6f6f; }

/* Microformats */
.vcard {
  display: inline-block;
  margin: 0 0 1.25rem 0;
  border: 1px solid #DDDDDD;
  padding: 0.625rem 0.75rem; }
  .vcard li {
    margin: 0;
    display: block; }
  .vcard .fn {
    font-weight: 700;
    font-size: 0.9375rem; }

.vevent .summary {
  font-weight: 700; }
.vevent abbr {
  cursor: default;
  text-decoration: none;
  font-weight: 700;
  border: none;
  padding: 0 0.0625rem; }

@media only screen and (min-width: 40.063em) {
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.3; }

  h1 {
    font-size: 2.625rem; }

  h2 {
    font-size: 2.25rem; }

  h3 {
    font-size: 1.625rem; }

  h4 {
    font-size: 1.375rem; }

  h5 {
    font-size: 1.1875rem; }

  h6 {
    font-size: 1.0625rem; } }
@media only screen and (min-width: 30em) {
  .cloakLogin #wrapper {
    padding-top: 10%; } }
@media only screen and (min-width: 30em) {
  .cloakLogin #banner,
  .cloakLogin #meat {
    max-width: 25rem;
    margin: 0 auto; } }
.cloakLogin #banner {
  text-align: center;
  padding: 1.125rem 1.5rem;
  border-bottom: 1px solid #CCCCCC;
  background: #EFEFEF; }
  @media only screen and (min-width: 30em) {
    .cloakLogin #banner {
      border: 1px solid #CCCCCC;
      border-bottom: none;
      border-radius: 3px 3px 0 0;
      background: none; } }
  .cloakLogin #banner h1 {
    font-size: 1.375rem; }
    .cloakLogin #banner h1 a {
      color: #b84041; }
      .cloakLogin #banner h1 a:hover {
        color: #b84041; }
.cloakLogin #meat {
  padding: 1.125rem 1.5rem 0 1.5rem;
  max-width: 25rem;
  margin: 0 auto; }
  @media only screen and (min-width: 30em) {
    .cloakLogin #meat {
      border: 1px solid #CCCCCC;
      border-radius: 0 0 3px 3px; } }
  .cloakLogin #meat #login table {
    width: 100%;
    margin-bottom: 1.125rem; }
    .cloakLogin #meat #login table tr {
      display: block;
      margin-top: 1.5rem; }
    .cloakLogin #meat #login table td:first-child {
      display: inline-block;
      width: 30%;
      margin-right: 5%;
      font-weight: 600;
      font-size: 0.875rem; }
      @media only screen and (min-width: 30em) {
        .cloakLogin #meat #login table td:first-child {
          font-size: 0.875rem; } }
    .cloakLogin #meat #login table td:last-child {
      display: inline-block;
      width: 65%; }
    .cloakLogin #meat #login table input[type="text"],
    .cloakLogin #meat #login table input[type="password"] {
      width: 100%; }
    .cloakLogin #meat #login table input[type="submit"] {
      border-style: solid;
      border-width: 0;
      cursor: pointer;
      font-family: "Open Sans", sans-serif;
      font-weight: 300;
      line-height: normal;
      margin: 0 0 1.25rem;
      position: relative;
      text-decoration: none;
      text-align: center;
      -webkit-appearance: none;
      -moz-appearance: none;
      border-radius: 0;
      display: inline-block;
      padding-top: 0.75rem;
      padding-right: 1.5rem;
      padding-bottom: 0.8125rem;
      padding-left: 1.5rem;
      font-size: 1rem;
      background-color: #b84041;
      border-color: #933334;
      color: #FFFFFF;
      border-radius: 3px;
      transition: background-color 300ms ease-out; }
      .cloakLogin #meat #login table input[type="submit"]:hover, .cloakLogin #meat #login table input[type="submit"]:focus {
        background-color: #933334; }
      .cloakLogin #meat #login table input[type="submit"]:hover, .cloakLogin #meat #login table input[type="submit"]:focus {
        color: #FFFFFF; }
  .cloakLogin #meat #login .msg {
    font-size: 1.1875rem;
    color: #f04124;
    margin: 0; }
    .cloakLogin #meat #login .msg p {
      margin: 0; }
  .cloakLogin #meat #login .msg_extra {
    margin-top: 1rem; }
    .cloakLogin #meat #login .msg_extra * {
      font-size: 0.875rem; }
  .cloakLogin #meat #login .msg + .logoutLink {
    margin-top: 1rem; }
  .cloakLogin #meat #login .logoutLink {
    border-style: solid;
    border-width: 0;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    line-height: normal;
    margin: 0 0 1.25rem;
    position: relative;
    text-decoration: none;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    display: inline-block;
    padding-top: 0.75rem;
    padding-right: 1.5rem;
    padding-bottom: 0.8125rem;
    padding-left: 1.5rem;
    font-size: 1rem;
    padding-top: 0.75rem;
    padding-bottom: 0.8125rem;
    padding-right: 0;
    padding-left: 0;
    width: 100%;
    background-color: #b84041;
    border-color: #933334;
    color: #FFFFFF;
    border-radius: 3px;
    transition: background-color 300ms ease-out;
    margin-bottom: 1.125rem; }
    .cloakLogin #meat #login .logoutLink:hover, .cloakLogin #meat #login .logoutLink:focus {
      background-color: #933334; }
    .cloakLogin #meat #login .logoutLink:hover, .cloakLogin #meat #login .logoutLink:focus {
      color: #FFFFFF; }
  .cloakLogin #meat #login p.smallText {
    background: #EFEFEF;
    border: 1px solid #CCCCCC;
    padding: 1.125rem 1.5rem;
    font-size: 0.875rem; }
    @media only screen and (min-width: 30em) {
      .cloakLogin #meat #login p.smallText {
        margin-top: 0;
        margin-left: -1.5rem;
        margin-right: -1.5rem;
        margin-bottom: 0;
        border: none;
        border-top: 1px solid #CCCCCC; } }
  .cloakLogin #meat #login a {
    color: #b84041; }
    .cloakLogin #meat #login a:hover {
      color: #923334; }
