apache.conf
.vagrant/*

# Don't track a local Reason settings directory in this repo (track it elsewhere)
/settings_local

# Symlinks created for local Reason instance, some for backwards compatibility
/reason_4.0/lib/local*
/reason_4.0/www/reason_package
/www/reason_4.0

