#eventsGalleryModule.bigList ul.events {
	margin:0;
	padding:0;
	list-style:none;
}
#eventsGalleryModule.bigList ul.events li.event {
	float:left;
	width:280px;
	height:280px;
	padding:10px;
	margin:10px;
	background:#eee;
}