.inappropriate_url_warning {
    background: #FFE684;
    color: #2C1D19;
}
.incomplete_warning {
    color: #444;
}
#urlfragmentItem span.parent_path, #urlfragmentItem span.trailing_slash {
	font-size:0.9em;
	color:#777;
}
#pagetypenoteItem div.note>*:first-child, #pagetypenoteItem div.note div.callOut>*:first-child {
	margin-top:0;
}
h4 {
	font-size:1.125em;
}
