.inappropriate_url_warning {
    background: #FFE684;
    color: #2C1D19;
}
.incomplete_warning {
    color: #444;
}
tr#urlfragmentRow span.parent_path, tr#urlfragmentRow span.trailing_slash {
	font-size:0.9em;
	color:#777;
}
#pagetypenoteRow div.note>*:first-child, #pagetypenoteRow div.note div.callOut>*:first-child {
	margin-top:0;
}
h4 {
	font-size:1.125em;
}
