/* .hilite { behavior: url(js/hilite_js.htc); border: 1px solid #999999; } */

.editorBox { width: 100%; background-color: #e2e2e2; border: 1px solid #999999; }
.editorData { width: 99.5% /*700px*/; height: 300px; background-color: #ffffff; /*padding: 10px;*/ border: inset #ffffff 2px; overflow: auto; }

.tb { border: #e2e2e2 solid 1px; }
.tbOver { background-color: buttonface; border-bottom: buttonshadow solid 1px; border-left: buttonhighlight solid 1px; border-right: buttonshadow solid 1px; border-top:  buttonhighlight solid 1px; }
.tbPressed { background-color: buttonface; border-bottom: buttonhighlight solid 1px; border-left: buttonshadow solid 1px; border-right: buttonhighlight solid 1px; border-top:  buttonshadow solid 1px; }

p.callOut { background: #FFFFCC; margin: 1em; padding: 1em; border: 1px dashed #FFCC00; }

/* yeah, yeah, yeah this is a little f*cked up because the .bg****** don't match the background-color. it is a hack for right now - BK */
.bgFFFFCC { background-color: #ffffcc; }
.bgFFFF99 { background-color: #e9eef8; } 
.bg99CCFF { background-color: #d9e2f4; }
.bgCCCCCC { background-color: #cccccc; }
.bgE8E8E8 { background-color: #e8e8e8; }

ol.upperRoman { list-style-type: upper-roman; }
ol.lowerRoman { list-style-type: lower-roman; }
ol.upperAlpha { list-style-type: upper-alpha; }
ol.lowerAlpha { list-style-type: lower-alpha; }
ol.decimal { list-style-type: decimal; }

.dirRTL { direction: rtl; align: right; }

.colorBlockFormat { background: #E9EEF8; padding: 5px 0px 5px 10px; }

p.pullQuoteRight { 
	float: right;
	clear: both;
	width: 200px;
	text-align: center;
	font-weight: bold;
	font-style: italic;
	background: #E9EEF8;
	padding: 15px;
	margin: 10px;
	border-top: medium double #8AA3D0;
	border-bottom: medium double #8AA3D0;
}
