body
{
	background-color: buttonface;
	font-family: MS Sans Serif, sans-serif;
	font-size: 8px;
}
input, button, select
{
	font-family: MS Sans Serif, sans-serif;
	font-size: 8px;
}



#tab1spacer { z-index: 10; background-color: buttonface; position: absolute; left: 11px; top: 32px; }
#tab2spacer { z-index: 10; background-color: buttonface; position: absolute; left: 95px; top: 32px; }
