/** 
 * Reason CMS loads this whenever tinyMCE is loaded. This defaults version does a couple things:
 *
 * - Fixes what is probably a bug with the lightgray theme which causes the format pull down to be too tall.
 * - Provides styles for our reasonimage and reasonlink plugins (soon)
 *
 * @todo move reasonimage and reasonlink CSS to this file
 */

/* This seems to fix the format pull down height problem */
.mce-menubtn span { 
	line-height: normal; 
}

/* Hide the path item info while preserving resize ability */
.mce-path > .mce-path-item, .mce-path > .mce-divider {
	display: none !important;
}

.selectedImage {
	background: #dedede;
	background: -moz-linear-gradient(top,  #dedede 0%, #b8b8b8 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dedede), color-stop(100%,#b8b8b8));
	background: -webkit-linear-gradient(top,  #dedede 0%,#b8b8b8 100%);
	background: -o-linear-gradient(top,  #dedede 0%,#b8b8b8 100%);
	background: -ms-linear-gradient(top,  #dedede 0%,#b8b8b8 100%);
	background: linear-gradient(to bottom,  #dedede 0%,#b8b8b8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dedede', endColorstr='#b8b8b8',GradientType=0 );

}

/**
 * Styles for tinymce reason integration plugin
 */

button:disabled,button:disabled:hover,button:disabled:focus,button[disabled=true] {
	background-image: linear-gradient(to bottom,rgb(222,222,222), #b8b8b8) !important;
	color: #aaa;
	cursor: default;
}

.items_chunk {
	text-align: center;
	height: 300px;
	white-space: normal;
	overflow: auto;
	margin-top: 10px;
}

.image_item {
	width: 190px;
	padding: 5px;
	display: inline-block;
	text-align: center;
}

.items_chunk .name,.items_chunk .description {
	display: block;
	white-space: normal;
	text-align: center;
}

.reasonImage .pageCount {
	margin-left: -101px;
	display: block;
	float: left;
	padding: 7px 0;
}

.reasonImage .pagination {
	padding: 10px 0 0px 120px;
}

.reasonImage .nextImagePage {
	left: 180px;
}

div.pagination .mce-btn {
	margin-right: 5px;
}

.items_chunk .description {
	font-size: .9em;
}

