body {
    background-color: #e2ecf5;
    margin: 0px;
}

/* DIRECTIONS STYLE
*/

table.directions {
    padding-right: 1cm;
}

div#myBanner {
    background-image: url('/images/luther2010/mobile/mobile_header_grad.gif');
    background-repeat: repeat-x;
    padding-right: 0cm;
}

div#content {
    color:#0b2345;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 1px;
    margin: 0px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

div#footer {
    font-size: 11px;
    color: #0B2345;
}

/*(for mobile news footer not to show) ---*/
div#foot ul {
    display: none;
}

div#foot div.vcard {
    display: none;
}

ol.icon-menu {
    list-style:none;
    margin: 0;
    padding:5px;
}
ol.icon-menu li {
    display:inline-block;
    background-repeat:no-repeat;
    background-position:center 10px;
    vertical-align:top;
}

.pageTitle{
    margin-top: 3px;
    margin-bottom: 10px;
    font-size: 20px;
}

ol.icon-menu li a {
    width: 60px;
    height:2em;
    padding:4px;
    padding-top: 75px;
    text-align:center;
    font-size: 10px;
    font-family: Helvetica;
    font-weight: bold;
    display:block;
    text-decoration:none;
    color: #0b2345;
}
li#menu-home {background-image:url('/images/luther2010/mobile/full_site_mobile_icon.png');}

li#menu-directions {background-image:url('/images/luther2010/mobile/directions_mobile_icon.png');}

li#menu-mail {background-image:url('/images/luther2010/mobile/norse_mail_mobile_icon.png');}

li#menu-map {background-image:url('/images/luther2010/mobile/campus_map_mobile_icon.png');}

li#menu-directory {background-image:url('/images/luther2010/mobile/directory_mobile_icon.png');}

li#menu-cafcam {background-image:url('/images/luther2010/mobile/caf_cam_mobile_icon.png');}

li#menu-labstat {background-image:url('/images/luther2010/mobile/lab_availability_mobile_icon.png');}

li#menu-news {background-image:url('/images/luther2010/mobile/blue_news_mobile_icon.png');}


/* NEWS STYLE
*/

div.desc {
    display: none;
}

div.persistent {
    display: none;
}

div.pagination.above {
    display: none;
}

div#maintainer {
    display: none;
}

div.feedInfo {
    text-align: left;
}

div.fullPost div.date {
    display: none;
}

h3.postTitle {
    display: none;
}

/*
.highslide {
    visibility: hidden;
}
*/