// A to Z Styles
// Cloak, v1
	
#atoz {

	// Jump to navigation
	> p {
		border-bottom: 1px solid $gainsboro;
		padding-bottom: $horizontal-gutter/2;
		margin-bottom: $horizontal-gutter;

		.jumpTo {
			display: inline-block;
			margin-right: rem-calc(4);
		}

		a {
			text-align: center;
			display: inline-block;
			width: rem-calc(32);	
			height: rem-calc(32);
			line-height: rem-calc(32);
			margin: 0 rem-calc(4) $column-gutter/4 0;
			border-radius: $global-rounded; 
			color: $white;
			background-color: $a-to-z-primary-color;

			&:hover {
				background-color: darken($a-to-z-primary-color, 20%);
				text-decoration: none;
			}
		}
	}

	ul {
		margin-left: 0;
		list-style-type: none;
		
		li {
			padding-bottom: $horizontal-gutter;
			margin-left: rem-calc(64);
			@include clearfix;
			
			a[name] {
				display: block;
				@include anchor-padding-menu;
			}

			a {
				color: $a-to-z-primary-color;

				&:hover {
					color: darken($a-to-z-primary-color, 20%);
					text-decoration: underline;
				}
			}

			.letter {
				margin-bottom: rem-calc(3);
				text-align: center;
				display: inline-block;
				width: rem-calc(32);	
				height: rem-calc(32);
				line-height: rem-calc(32);
				border-radius: $global-rounded;
				color: $white;
				background-color: $a-to-z-primary-color;
				margin-left: - rem-calc(64);
				float: left;
			}
			
			ul {
				float: left;
				
				li {
					padding-bottom: 0;
					margin-left: 0;
				}
			}
		}
	}
}