// Announcement Styles
// Cloak, v1
	
#announcements {

	.announcement {
		@include cloak-alert($mode: secondary);
		border-radius: 0 !important;
		margin: 0;

		// To display different colored alerts, wrap your text blurb in a div with one of the following classes, like so:
		// 
		// <div class="success">
		//   <p>Success!</p>
		// </div>
		// 
		// Default is secondary (handled above).

		.success {
			@include cloak-alert($mode: success);
			margin: -$alert-padding-top;
			border-radius: 0 !important;
			border-bottom: $alert-padding-top*4 solid red;
		}

		.info {
			@include cloak-alert($mode: info);
			margin: - $alert-padding-top;
			border-radius: 0 !important;
		}

		.warning {
			@include cloak-alert($mode: warning);
			margin: - $alert-padding-top;
			border-radius: 0 !important;
		}

		.alert {
			@include cloak-alert($mode: alert);
			margin: - $alert-padding-top;
			border-radius: 0 !important;
		}
	}
}