// Audio / Video Module Styles
// Cloak, v1
	
#av {
	@include clearfix;
	// This margin, along with the bottom padding on each li, gives us the even margin we need to keep spacing uniform between page elements
	margin-bottom: $horizontal-gutter/2;

	.moduleNav {
		
		ul {
			margin: 0 0 0 $column-gutter/2; // bump out the list to make room for icons
			list-style-type: none;

			li {
				padding-bottom: $column-gutter/2; 
				padding-bottom: $horizontal-gutter/2;

				&:before {  // video play icon
					@extend .fa;
					content: $fa-var-youtube-play;
					margin-left: - $column-gutter/2;
					float: left;
					margin-top: rem-calc(4);
					color: $aluminum;
				}
		
				.date {
					font-size: rem-calc(14);
					color: $jumbo;
				}
			}
		}
	}

	// Subscribe to feed buttons
	.podcast {
		margin: 0 0 $horizontal-gutter/2;
		clear: both;

		a {
			@include feed-button();
		}

		.subscribe {
			&:before {
				content: $fa-var-music;
			}
		}
	}
}

// To customize the sidebar view of AV, use the following.

// #relatedSections {

// 	#av {

// 		.moduleNav {

// 			ul {


// 				li {

// 				}
// 			}
// 		}
// 	}
// }