// Breadcrumb Styles
// Cloak, v1

.locationBarText {

	span {
		font-weight: 700;
		text-transform: uppercase;
		font-size: rem-calc(14);
	}

	a {
		text-decoration: underline;
		color: $anchor-font-color;
	}

	.delimiter {
		color: $steel;
		font-weight: 300;
		margin: 0 rem-calc(2);
		display: inline-block;
	}
}