// Event and Event Calendar Styles
// Cloak, v1


// Events

// #calendar .responsiveEventsList .eventsListContent {
// 	width:67%;
// 	float:left;
// }
// #calendar .responsiveEventsList .gridAndOptionsWrapper {
// 	width:32%;
// 	margin-left:1%;
// 	float:left;
// }
// #calendar .responsiveEventsList .gridAndOptions {
// 	float:none;
// 	width:auto;
// 	margin:0;
// }
// div#calendar .responsiveEventsList .calendarGridWrapper {
// 	margin:5% 5% 1em 5%;
// }
// div#calendar .responsiveEventsList div.gridAndOptions div.calendarGrid {
// 	margin:0;
// 	width:auto;
// 	float:none;
// }
// div#calendar .responsiveEventsList div.gridAndOptions div.calendarGrid table {
// 	width:100%;
// 	font-size:0.9em;
// }
// #calendar .responsiveEventsList .foot {
// 	clear:both;
// }
// @media all and (max-width:720px) {
// 	#calendar .responsiveEventsList .eventsListContent, #calendar .responsiveEventsList .gridAndOptionsWrapper {
// 		width:auto;
// 		float:none;
// 		margin-left:0;
// 		clear:both;
// 		padding:1px 0;
// 	}
// 	#calendar .responsiveEventsList .datesAndSearch {
// 		float:left;
// 		width:49%;
// 	}
// 	#calendar .responsiveEventsList .options {
// 		float:right;
// 		width:49%;
// 	}
// }
// @media all and (max-width:500px) {
// 	#calendar .responsiveEventsList .datesAndSearch, #calendar .responsiveEventsList .options {
// 		float:none;
// 		width:auto;
// 	}
// }

@media all and (max-width:720px) {
	#calendar .responsiveEventsList .eventsListContent, #calendar .responsiveEventsList .gridAndOptionsWrapper {
		background: green;
		width:auto;
		float:none;
		margin-left:0;
		clear:both;
		padding:1px 0;
	}
	#calendar .responsiveEventsList .datesAndSearch {
		float:left;
		width:49%;
	}
	#calendar .responsiveEventsList .options {
		float:right;
		width:49%;
	}
}
@media all and (max-width:500px) {
	#calendar .responsiveEventsList .datesAndSearch, #calendar .responsiveEventsList .options {
		float:none;
		width:auto;
	}
}

/* Events Column Layouts */

#calendar { // Override some Reason layout styles
	.responsiveEventsList {

		.gridAndOptionsWrapper {
		//	width: 100% !important;
			float: left;
			margin: -$column-gutter/2 0 0 0;
			//border-left: 1px solid darken($iron, 0%);
			padding: rem-calc(16);
			clear: none;
		}

		.datesAndSearch,
		.options {
			width: 100%;
		}
	}		
}

// .hasCon #calendar { // Events module only (no sidebar)

// 	.responsiveEventsList {

// 		.eventsMainContent {	
			
// 			@media #{$medium-up} {
// 				float: left;
// 				width: 60%;
// 			}
			
// 			@media #{$large-up} {
// 				float: left;
// 				width: 67%;
// 			}
// 		}

// 		.gridAndOptionsWrapper {

// 			@media #{$medium-up} { 
// 				margin-top: -$column-gutter;
// 			    width: 40% !important;
// 			}

// 			@media #{$large-up} {
// 			    width: 33% !important;

// 			    .datesAndSearch {
// 				    width: 100%;
// 				}
// 			}
// 		}
// 	}
// }

// .hasConRel #calendar, 
// .hasConNav #calendar {  // Events module + one sidebar (either nav or related)

// 	.eventsMainContent {	
// 		@media #{$large-up} {
// 			float: left;
// 			width: 60%;
// 		}
// 	}

// 	.gridAndOptionsWrapper {
// 		border: none;

// 		@media #{$large-up} {
// 			margin-top: -$column-gutter;
// 		    width: 40% !important;
// 		    border-left: 1px solid #ddd;
// 		}
// 	}
// }


// .hasConRelNav #calendar { // Events module + nav & related

// 	.gridAndOptionsWrapper {
// 		border: none;
// 		width: 100%;
// 	}
// }

// CALENDAR LIST VIEW (main calendar page)

#calendar {
	
	.responsiveEventsList {
		@include grid-row();
		
		// VIEW SELECTOR
		// Day, Week, Month, Year, All tabs
		.views { 
			@include clearfix;
			clear: both;
			text-align: left;
			margin-bottom: $column-gutter;
		
			h4 {
				display: inline;
				font-size: rem-calc(12);
				margin-right: rem-calc(6);

				@media #{$medium-up} {
					font-size: rem-calc(14);
				}
			}

			ul {
				@include zero-out();
				display: inline-block;

				li {
					display: inline-block;
					margin: 0 0 0 rem-calc(6);
					margin: 0;
					padding: 0;
					font-size: rem-calc(12);

					@media #{$medium-up} {
						font-size: rem-calc(14);
					}

					a,
					strong {
						padding: rem-calc(1) rem-calc(12);
						display: inline-block;
						
						background: $silver;
						border-right: 1px solid $gainsboro;
					}

					a {
						&:hover {
							background: $gainsboro;
						}
					}

					strong {
						text-decoration: none;
						font-weight: 400;
						background: $primary-color;
						color: #FFF;
					}

					&:first-child a,
					&:first-child strong {
						border-radius: $global-rounded 0 0 $global-rounded;
						padding-left: rem-calc(16);
					}

					&:last-child a,
					&:last-child strong {
						border-radius: 0 $global-rounded $global-rounded 0;
						border-right: none;
						padding-right: rem-calc(16);
					}
				}
			}
		}

		// SELECTED DAYS NAIVGATION
		// "Starting Tues, January 6th, 2016 (today)"
		.nav {
			background: $silver;
			text-align: center;
			font-size: rem-calc(14);
			margin-bottom: $column-gutter;
			line-height: 1;

			@media #{$medium-up} {
				font-size: rem-calc(16);
			}

			.previous,
			.next {
				padding: rem-calc(8) rem-calc(14);
				display: inline-block;
				background: $primary-color;
				color: $white;

				&:hover {
					background: lighten($primary-color, 5%);
				}
			}

			.previous {
				float: left;
			}

			.next {
				float: right;
			}

			strong {
				display: inline-block;
				padding: rem-calc(8) 0;
			}
		}

		// EVENT LISTINGS
		.eventsListContent {

			.focus {
				@include alert($bg:$vapor,$radius:$global-radius);
				border: none;

				ul {
					margin-bottom: 0;
				}

				h3 {
					font-size: rem-calc(16);
				}

				h4 {
					font-size: rem-calc(16);
					display: inline;
				}

				a {
					font-size: rem-calc(12);
					display: inline;
				}
			}

			.newEventsError { // Shows errors.  "No events."

			}

			.ongoingblock {

			}		

			.month {
				font-family: $font-family-serif;
				font-size: $h4-font-size;
				color: $aluminum;
				border-top: 1px dotted $gainsboro;
				padding-top: $column-gutter/2;

				&:first-of-type {
					border-top: none;
					padding-top: 0;
				}
			}

			.day {
				font-size: rem-calc(16);
				font-weight: 700;
			}
			
			.dayEvents {
				list-style-type: none;
				margin: 0;

				.event {
					margin: 0 0 $column-gutter/2 $column-gutter/2;
				}
			}
		}

		// SIDEBAR DATE PICKER / FILTER
		.gridAndOptionsWrapper {
			margin: 0 0 $column-gutter;

			.calendarGridWrapper {
				margin: 0 0 $column-gutter;
			}

			.calendarGrid {
				text-align: center;

				a.previous,
				h4,
				a.next {
					display: inline-block;
					padding: 0 rem-calc(6);
				}

				table {
					border: none;

					tr {
						background: #FFF;
					}

					th,
					td {
						text-align: center;
						padding: 0;
					}

					th {
						padding: 5% 0;
						background: lighten($iron, 7%);
						background: #FFF;
						border: #FFF;
					}

					td {
						border-color: #DDDDDD;
					    border-image: none;
					    border-style: solid;
					    border-width: 1px;

					    &:empty {
					    	background: lighten($iron, 5%);
					    }

						&.startDate {

						}

						&.hasEvent {
							a {
								color: red;
								//font-weight: 700;
							}
						}

					    &.currentlyViewing {
					    	//background: rgba($vapor, .10);
					    	background: $vapor;

					    	a {
					    		color: #FFF;	
					    	}
					    }

					   	&.today {
					    	//background: rgba(0,0,0,.08);
					    	background: lighten($vapor, 15%);
					    	//box-shadow: inset 0 0 1px #999;
					    	a {
					    		color: #FFF;
					    	}
					    }

						a {
							color: lighten($body-font-color, 35%);
							display: block;
							padding: 28% 0;
						}

					}
				}
			}

		

			$events_default_break_point_lower: 500px;
			$events_default_break_point_upper: 720px;

			$medium-only-events: "#{$screen} and (min-width:#{$events_default_break_point_upper}) and (max-width:#{upper-bound($large-low-range)})";
			

			.dateJump {
				margin: 0 0 $column-gutter;
				@include clearfix;

				select {

					&[name="start_month"] {
						width: 30%;
					}
					&[name="start_day"] {
						width: 30%;
					}
					&[name="start_year"] {
						width: 40%;
					}

					// @media #{$medium-only-events} {
					// 	&[name="start_month"] {
					// 		width: 33.333%;
					// 	}
					// 	&[name="start_day"] {
					// 		width: 33.333%;
					// 	}
					// 	&[name="start_year"] {
					// 		width: 33.333%;
					// 	}
					// }
				}

				span {
					width: 80%;
					float: left;
					padding-right: rem-calc(14);

					@media #{$medium-only-events} {
						width: 100%;
						//white-space: normal !important;
						//float: none;
					}
				}

				input[type="submit"] {
					padding: 0;
					float: right;
					width: 20%;

					@media #{$medium-only-events} {
						float: none;
						width: 100%;
					}
				}
			}

			.search {
				margin: 0 0 $column-gutter;
			}
		}

		// FOOTER
		.foot {
			margin-bottom: $column-gutter;
		}

		// Subscribe to feed buttons
		.iCalExport,
		.feedInfo {
			margin: 0;
			display: inline-block;

			a {
				
				@include button(
					$padding: $button-tny,
					$bg: $primary-color,
					$radius: $global-radius
				);

				margin: 0 rem-calc(12) rem-calc(2) 0 !important;

				&:before {  // feed icon
					@extend .fa;
					color: $white;
					margin-right: rem-calc(6);
				}
			}
			
			// .feedLink {
			// 	&:before {
			// 		content: $fa-var-rss;
			// 	}
			// }

			// .subscribe {
			// 	&:before {
			// 		content: $fa-var-music;
			// 	}
			// }

			.divider {
				display: none;
			}
		}

		.iCalExport {
			// "Subscribe to this calendar" icon
			a:nth-of-type(1) {
				&:before {
					content: $fa-var-calendar;
				}
			}
			
			// "Download events (.ics)" icon
			a:nth-of-type(2) {
				&:before {
					content: $fa-var-cloud-download;
				}
			}
		}

		.feedInfo {
			// "xml" icon
			a:nth-of-type(1) {
				&:before {
					content: $fa-var-rss;
				}
			}
		}
	}
}

// Full Event

#calendar {
	
	.eventDetails {
	
		.export {

			// Back to main calendar link
			.back {
				a {
					text-transform: uppercase;
					font-size: rem-calc(12);

					&:before {
						@extend .fa;
						content: $fa-var-angle-double-left;
						margin-right: rem-calc(6);
					}
				}
			}

			.description{

			}

			.repetition,
			.date,
			.time,
			.duration,
			.eventLocation,
			.sponsor,
			.contact {
				&:before {
					@extend .fa;
					@extend .fa-fw;
					content: $fa-var-repeat;
					margin-right: rem-calc(6);
				}

				margin: 0;
			}
		
			.repetition {
				@include alert($bg:$info-color,$radius:$global-radius);

				&:before {
					content: $fa-var-repeat;
				}
			}

			.date {
				
				&:before {
					content: $fa-var-calendar;
				}
			}

			.time {
				
				&:before {
					content: $fa-var-clock-o;
				}
			}

			.duration {
				
				&:before {
					content: $fa-var-arrows-h;
				}
			}

			.eventLocation {

				&:before {
					content: $fa-var-map-marker;
				}

				.eventMap {
					display: inline-block;
					//float: right;
				}

				strong {
					margin-right: rem-calc(4);
				}

				p {
					display: inline;
					margin: 0;
				}


			}

			.sponsor {
				&:before {
					content: $fa-var-bookmark;
				}
			}

			.contact {
				
				&:before {
					content: $fa-var-question-circle;
				}
			}
		}
		
		.eventContent {

		}

		.dates {

		}

		.eventUrl {

		}

		.categories {

		}

		.audiences {

		}

		#slotInfo {

		}

	}
}

// #calendar {

// 	.responsiveEventsList {

// 		@include grid-row();

// 		.options {
// 			//display: none;
// 			//background: $iron;
// 			margin: 0 5%;
// 			margin-bottom: rem-calc(64);


// 			@media #{$medium-up} {
// 				//@include grid-column(8);
// 			}

// 			.categories {
// 				ul {
// 					//display: none;
// 				}
// 			}

// 			.audiences,
// 			.today,
// 			.archive {
// 				//display: none;
// 			}
// 		}

// 		.search {
// 			/*display: none;*/
// 			/*margin-bottom: rem-calc(64);*/
// 			margin-bottom: rem-calc(32);
// 			background: inherit;

// 			@media #{$medium-up} {
// 				@include grid-column(
// 				  $columns:16,
// 				  $float:inherit
// 				);
// 			}
// 			float: inherit;
// 			form {
// 				.search {
// 					margin-bottom: 0;
// 					background: none;
// 				}
// 				input[type="text"] {
// 					@include grid-column($columns:13);
// 					padding-left: 0.5rem;
// 				}
// 				input[type="submit"] {
// 					 @include prefix-postfix-base();
// 					  @include grid-column(
// 					    $columns:3,
// 					    $float:none
// 					  );
// 				}
// 			}
// 			.otherActions {
// 				@include grid-column(
// 				   $columns:16,
// 				   $float:inherit
// 				);
// 			}
// 		}

// 		.views { // Day, Week, Month, Year, All tabs
// 			text-align: center;
// 			margin: -$column-gutter/2 0 0;
// 			//background: lighten($iron, 4%);
// 			clear: both;
// 			@include clearfix;
// 			padding: $column-gutter/2 0;
			

// 			h4 {
// 				//display: none;
// 				display: inline;
// 				font-size: rem-calc(12);
// 			}

// 			ul {
// 				@extend .zero-out;
// 				display: inline-block;

// 				li {
// 					display: inline-block;
// 					margin: 0 0 0 rem-calc(6);
// 					padding: 0;

// 					@media #{$medium-up} {
// 						margin: 0 0 0 rem-calc(6);
// 					}

// 					&:nth-child(4),
// 					&:nth-child(5) {
// 						display: none;
// 					}

// 					a,
// 					strong {
// 						padding: rem-calc(1) rem-calc(12);
// 						border-radius: $global-rounded;
// 						display: inline-block;
// 						text-decoration: underline;
// 						font-size: rem-calc(12);
// 					}

// 					a {
// 						&:hover {
// 							background: $iron;
// 						}
// 					}

// 					strong {
// 						text-decoration: none;
// 						font-weight: 400;
// 						background: $vapor;
// 						color: #FFF;
// 					}
// 				}
// 			}
// 		}

// 		.nav { // Left/right navigation to change dates
// 			clear: both;
// 			text-align: center;
// 			padding-bottom: $column-gutter/3;
// 			font-size: rem-calc(24);
// 			line-height: 1.75;
// 		}

// 		/*.eventsListContent { // Event listings
// 			width: 100%;

// 			.focus { // Shows what you're currently browsing. Redundant.
// 				display: none;
// 			}

// 			.newEventsError { // Shows errors.  "No events."

// 			}

// 			.ongoingblock {

// 			}

// 			.dayblock {

// 			}

// 			ul {
// 				margin-left: 0;
// 			}

// 			.event {
// 				display: block;
// 				margin-bottom: 2px;
// 				padding: rem-calc(16);
// 				@include clearfix;
// 				border-bottom: 1px dotted $iron;
// 				position: relative;

// 				&:nth-child(odd) {
// 					//background: #efefef;
// 				}
				
// 				a {
					
// 					max-width: 65%;
// 					display: block;
// 					float: left;

// 					&:hover {
// 						text-decoration: underline;

// 						i { // Video feed icon
// 							color: lighten(yellow, 10%);
// 						}
// 					}

// 					i { // Video feed icon
// 						color: yellow;
// 						margin-left: rem-calc(6);
// 					}
// 				}

// 				em {
// 					&.through {
// 						max-width: 65%;
// 						display: block;
// 						float: left;
// 						clear: left;
// 					}
// 				}

// 				.time {
// 					font-weight: bold;
// 					color: $jumbo;
// 					position: absolute;
// 					left: 70%;
// 				}
// 			}
// 		}*/

// 		.eventsListContent {
// 			width: 100%;

// 			.focus {
// 				background: lighten($iron, 4%) !important;
// 				padding: $column-gutter/2;

// 				h3 {
// 					margin-top: - $column-gutter/2; 
// 					margin-left: - $column-gutter/2;
// 					padding: $column-gutter/2;
// 					background: $vapor;
// 					color: #FFF;
// 					display: inline-block;
// 					font-size: rem-calc(16);
// 				}

// 				ul {
// 					margin-bottom: 0;
// 				}
// 			}

// 			#events {
// 				margin-bottom: rem-calc(16);
// 			}

// 			.dayblock,
// 			.ongoingblock {
// 				border-bottom: 1px solid $iron;
// 				padding: rem-calc(16) 0;
// 				@include clearfix;
// 				position: relative;
// 			}

// 			h3.month {
// 				margin-top: $column-gutter;
// 			}

// 			.day {  // Red/grey calendar "icon"
// 				display: block;
// 				text-align: center;
// 				font-size: rem-calc(14);
// 				font-weight: 600;
// 				width: rem-calc(50);
// 				margin: 0;
// 				position: absolute;
// 				top: rem-calc(16);
// 				left: 0;

// 				.month {
// 					display: block;
// 					background: $jumbo;
// 					color: $white;
// 					border-radius-top: $global-radius;
// 					padding: rem-calc(2);
// 				}

// 				.date {
// 					display: block;
// 					background: $iron;
// 					border-radius-bottom: $global-radius;
// 					padding: rem-calc(2);
// 				}

// 				.today {
// 					@extend .screenreader;
// 				}
// 			}

// 			.dayEvents,
// 			.ongoingEvents { 
// 				margin: 0 0 0 rem-calc(70);
// 				padding: 0;

// 				.event {
// 					padding-bottom: rem-calc(10);
// 					@include clearfix;

// 					a { // Event title
// 						//font-size: 1.125rem;
// 						font-weight: 400;
// 						//display: block;
// 						//float: left;

// 						&:hover {
// 							text-decoration: underline;

// 							i { // Video feed icon
// 								color: lighten(yellow, 10%);
// 							}
// 						}

// 						i { // Video feed icon
// 							color: yellow;
// 							margin-left: rem-calc(6);
// 						}
// 					}

// 					.title {
// 						//background: red;
// 					}

// 					&:last-child {
// 						padding-bottom: 0;
// 					}

// 					.through,
// 					.ends {
// 						font-style: normal;
// 						display: inline;
// 					}

// 					time {
// 						//display: block;
// 						//clear: left;
// 						//float: left;
// 						display: inline;
// 					}

// 					.sep {
// 						padding: 0 rem-calc(4);
// 						//display: block;
// 		   				//float: left;
// 					}

// 					.location {
// 						font-family: $header-font-family;
// 		   				font-weight: 300;
// 		   				display: inline;
// 		   				//display: block;
// 		   				//float: left;
// 					}
// 				}
// 			}
// 		}
		

// 		.gridAndOptionsWrapper { // Clickable calendar, search, jump to date, & categories

// 			.calendarGridWrapper {
// 				margin-bottom: $column-gutter;
// 			}

// 			.calendarGrid {

// 				text-align: center;

// 				a.previous,
// 				h4,
// 				a.next {
// 					display: inline-block;
// 					padding: 0 rem-calc(6);
// 				}

// 				table {
// 					border: none;
// 					tr {
// 						background: #FFF;
// 					}

// 					th,
// 					td {
// 						text-align: center;
// 						padding: 0;
// 					}



// 					th {
// 						padding: 5% 0;
// 						background: lighten($iron, 7%);
// 						background: #FFF;
// 						border: #FFF;
// 					}

// 					td {
// 						border-color: #DDDDDD;
// 					    border-image: none;
// 					    border-style: solid;
// 					    border-width: 1px;

// 					    &:empty {
// 					    	background: lighten($iron, 5%);
// 					    }

// 						&.startDate {

// 						}

// 						&.hasEvent {
// 							a {
// 								color: red;
// 								//font-weight: 700;
// 							}
// 						}

// 					    &.currentlyViewing {
// 					    	//background: rgba($vapor, .10);
// 					    	background: $vapor;

// 					    	a {
// 					    		color: #FFF;	
// 					    	}
// 					    }

// 					   	&.today {
// 					    	//background: rgba(0,0,0,.08);
// 					    	background: lighten($vapor, 15%);
// 					    	//box-shadow: inset 0 0 1px #999;
// 					    	a {
// 					    		color: #FFF;
// 					    	}
// 					    }

// 						a {
// 							color: lighten($body-font-color, 35%);
// 							display: block;
// 							padding: 28% 0;
// 						}

// 					}
// 				}
// 			}

// 			.iCalExport,
// 			.feedInfo {
// 				a {
// 					margin: 0 5%;
// 					display: block;
// 					padding: 0;
// 					&:before {
// 						@extend .fa;
// 						margin: 0 rem-calc(8) rem-calc(16) 0;
// 					}
// 				}
// 			}

// 			.webcal:before {
// 				content: $fa-var-calendar;
// 			}
			
// 			.download:before {
// 				content: $fa-var-arrow-down;
// 			}
			
// 			.rss:before {
// 				content: $fa-var-rss;
// 			}
// 		}

// 		.foot {  // Left/right navigation to change dates & XML

// 		}
// 	}
// }

// /* Events Mini */

// #miniCal {

// 	#events {
// 		margin-bottom: rem-calc(16);
// 	}

// 	.dayblock,
// 	.ongoingblock {
// 		border-bottom: 1px solid $iron;
// 		padding: rem-calc(16) 0;
// 		@include clearfix;
// 		position: relative;
// 	}

// 	.day {  // Red/grey calendar "icon"
// 		display: block;
// 		text-align: center;
// 		font-size: rem-calc(14);
// 		font-weight: 600;
// 		width: rem-calc(50);
// 		margin: 0;
// 		position: absolute;
// 		top: rem-calc(16);
// 		left: 0;

// 		.month {
// 			display: block;
// 			background: $jumbo;
// 			color: $white;
// 			border-radius-top: $global-radius;
// 			padding: rem-calc(2);
// 		}

// 		.date {
// 			display: block;
// 			background: $iron;
// 			border-radius-bottom: $global-radius;
// 			padding: rem-calc(2);
// 		}

// 		.today {
// 			@extend .screenreader;
// 		}
// 	}

// 	.dayEvents,
// 	.ongoingEvents { 
// 		margin: 0 0 0 rem-calc(70);
// 		padding: 0;

// 		.event {
// 			padding-bottom: rem-calc(10);
// 			@include clearfix;

// 			a { // Event title
// 				//font-size: 1.125rem;
// 				font-weight: 400;
// 				//display: block;
// 				//float: left;

// 				&:hover {
// 					text-decoration: underline;

// 					i { // Video feed icon
// 						color: lighten(yellow, 10%);
// 					}
// 				}

// 				i { // Video feed icon
// 					color: yellow;
// 					margin-left: rem-calc(6);
// 				}
// 			}

// 			.title {
// 				//background: red;
// 			}

// 			&:last-child {
// 				padding-bottom: 0;
// 			}

// 			.through,
// 			.ends {
// 				font-style: normal;
// 				display: inline;
// 			}

// 			time {
// 				//display: block;
// 				//clear: left;
// 				//float: left;
// 				display: inline;
// 			}

// 			.sep {
// 				padding: 0 rem-calc(4);
// 				//display: block;
//    				//float: left;
// 			}

// 			.location {
// 				font-family: $header-font-family;
//    				font-weight: 300;
//    				display: inline;
//    				//display: block;
//    				//float: left;
// 			}
// 		}
// 	}

// 	.foot {
// 		.more {
// 			margin: 0;
// 			a {
// 				&:before {
// 					@extend .fa;
// 					content: $fa-var-calendar;
// 					margin-right: rem-calc(6);
// 				}
// 			}
// 		}
// 	}
// }

// /* Events Single */

// #calendar {

// 	.eventDetails {

// 		.back {
// 			a {
// 				&:before {
// 					@extend .fa;
// 					content: $fa-var-chevron-circle-left;
// 					margin-right: rem-calc(6);
// 				}
// 			}
// 		}

// 		.eventMeta {

// 			li {
// 				margin-left: rem-calc(40);
				
// 				&:before {
// 					@extend .fa;
// 					width: rem-calc(32);
// 					margin-left: - rem-calc(36);
// 					text-align: center;
// 				}

// 				strong {
// 					@extend .screenreader;
// 				}

// 				.fa {
// 					margin: 0 rem-calc(6);
// 				}
// 			}

// 			.repeats:before {
// 				content: $fa-var-rotate-right;
// 			}

// 			.date:before {
// 				content: $fa-var-calendar;
// 			}

// 			.time:before {
// 				content: $fa-var-clock-o;
// 			}

// 			.location:before {
// 				content: $fa-var-map-marker;
// 			}


// 		}

// 		.images {
// 			margin-bottom: $column-gutter;
//       display: inline-block;

// 			.imageChunk {
// 				@media
// 				#{$medium-up} {
// 					float: left;
// 					width: 50%;

// 					&:nth-child(2n+1) {
// 						padding-right: rem-calc(16);
// 						clear: left;
// 					}

// 					&:nth-child(2n+2) {
// 						padding-left: rem-calc(16);
// 					}
// 				}
// 			}
// 		}

// 		.contact,
// 		.eventUrl,
// 		.calendarExport {
// 			margin-bottom: 0;

// 			&:before {
// 				@extend .fa;
// 				margin-right: rem-calc(6);
// 			}
// 		}

// 		.contact {
// 			&:before {
// 				content: $fa-var-question-circle;
// 			}
// 		}

// 		.eventUrl {
// 			&:before {
// 				content: $fa-var-info-circle;
// 			}
// 		}

// 		.calendarExport {
// 			&:before {
// 				content: $fa-var-calendar;
// 			}
// 		}

// 		.export {
// 			margin-bottom: $paragraph-margin-bottom;
// 		}

// 	}
// }
