// Image Module Styles
// Cloak, v1

// Image Module (images in the main content area)

#images {
	//margin-bottom: $column-gutter/2;
	@include clearfix;

	ul {
		margin: 0;

		li {
			list-style-type: none;
			margin-bottom: $horizontal-gutter;

			img {
				border: 1px solid #ccc;
				padding: rem-calc(6);
			}

			.caption {
				@include image-caption();
			}
		}
	}
}

// Sidebar Images (default pages, publications)
.imageSidebarModule,
.publication .images {
	
	.imageChunk,
	li {
		margin-bottom: $horizontal-gutter;

		.tnImage {

		}

		.tnDesc {
			@include image-caption();
		}
	}
}