// Login Link Module Styles
// Cloak, v1

.loginLinkModule {

	margin-top: $column-gutter/2;

	.editDiv,
	.inlineEditDiv {
		display: inline-block;
	}

	.editLink,
	.inlineEditLink {
		@include button(
			$padding: $button-tny,
			$bg: $primary-color,
			$radius: $global-radius,
			$full-width: false,
			$disabled: false
		);
		margin: 0 rem-calc(4) $column-gutter/2;
	}

	.inlineEditLink {
		margin-left: rem-calc(7);
	}

	.editDivider {
		display: none;
	}

	.inlineEnabled {

		.clarifyingText {
			@include screenreader();
		}

		.inlineEditLink {
			background: $warning-color;

			&:hover {
				background: darken($warning-color, 10%);
			}
		}
	}

	#footerLoginLink {

		font-size: rem-calc(14);

		.login {
			&:after {
				@extend .fa;
				content: $fa-var-power-off;
				margin-left: rem-calc(4);
			}
		}

		.username {
			font-weight: 700;
		}

		.logout {
			&:after {
				@extend .fa;
				content: $fa-var-power-off;
				margin-left: rem-calc(4);
			}
		}
	}
}