// Header Styles
// Cloak, v1

#banner {
	padding-top: $column-gutter;
	padding-bottom: $column-gutter;
	padding: $column-gutter;

	h1 {
		font-family: $font-family-serif;
		margin: 0;
		padding-bottom: $column-gutter/2;

	}

	#navigationToggles {
		@include zero-out();

		li {
			list-style-type: none;
			display: inline-block;
			margin: 0 rem-calc(6);

			&.navJump {
				a {
					@include circle-icon-button();
				}

				.navJumpText {
					@include screenreader();
				}
			}

			&.searchToggle {
				a {
					@include circle-icon-button(rem-calc(15), rem-calc(10), $iron, $fa-var-search);
				}

				.searchJumpText {
					@include screenreader();
				}
			}
		}
	}

	#bannerXtra {

		#search {

			// Many Reveal Modal (lightbox) styles are set with variables in _settings.scss.

		}
	}
}