// Cloak Mixins
// Cloak, v1

@mixin screenreader() {
	position: absolute;
	left: -9999px;
	top: -9999px;
	margin-bottom: 0;
}

@mixin zero-out() {
	margin: 0;
	padding: 0;
}

@mixin circle-icon-button(
	$icon-size: rem-calc(15),
	$icon-padding: rem-calc(10),
	$icon-background: $snow,
	$icon-variable: $fa-var-bomb,
	$icon-color: $primary-color,
	$icon-border-color: $gainsboro
	) {

	display: inline-block;
	margin: 0;
	padding: $icon-padding;
	line-height: 1 !important;
	border-radius: $global-rounded;
	background: $icon-background;
	border: 1px solid $icon-border-color;
	color: $icon-color;
	text-align: center;
	
	&:before {
		@extend .fa;
		content: $icon-variable;
		font-size: $icon-size;
		width: $icon-size;
		display: block;
	}

	&:hover {
		background: darken($icon-background, 10%);
	}

	&:active {
		background: lighten($icon-background, 5%);
	}
}

@mixin inline-icon($pseudo: before, $icon: $fa-var-bomb, $color: inherit, $margin: true) {
	&:#{$pseudo} {
		@extend .fa;
		content: $icon;
		@if $margin == true {
			@if $pseudo == after {
				margin-left: rem-calc(6);	
			}
			@else {
				margin-right: rem-calc(6);
			}
		}
		color: $color;
	}
}

@mixin feed-button() {
	@include button(
		$padding: $button-tny,
		$bg: $primary-color,
		$radius: $global-radius
	);
	@include inline-icon($pseudo: before, $icon: $fa-var-rss);
	margin: 0 rem-calc(12) rem-calc(2) 0 !important;
}

@mixin more-link($more-link-bg: $primary-color) {
	@include button($padding: $button-tny, $bg: $more-link-bg);
	@include inline-icon($pseudo: after, $icon: $fa-var-chevron-circle-right);
}

@mixin back-link($more-link-bg: $primary-color) {
	@include button($padding: $button-tny, $bg: $more-link-bg);
	@include inline-icon($pseudo: before, $icon: $fa-var-chevron-circle-left);
}

@mixin cloak-alert($mode: alert, $symbol: null) {

	@if $symbol != null {
		@include inline-icon($icon: $symbol);

		&:before {
			line-height: 1;
			font-size: rem-calc(20);
			display: block;
			text-align: center;
			background: rgba(white, .25);
			margin-top: - ($alert-padding-top + $alert-border-width);
			margin-left: - ($alert-padding-top + $alert-border-width);
			margin-right: - ($alert-padding-top + $alert-border-width);
			margin-top: - $alert-padding-top;
			margin-left: - $alert-padding-top;
			margin-right: - $alert-padding-top;
			margin-bottom: $alert-padding-top;
			padding: rem-calc(12) 0;
			border-bottom: 1px solid;
		}
	}
	@if $mode == success {
		@include alert($bg: $success-color, $radius: 6px);
		&:before {
			border-color: scale-color($success-color, $lightness: $alert-function-factor);
		}
	}
	@if $mode == warning {
		@include alert($bg: $warning-color, $radius: 6px);
		&:before {
			border-color: scale-color($warning-color, $lightness: $alert-function-factor);
		}
	}
	@if $mode == alert {
		@include alert($bg: $alert-color, $radius: 6px);
		&:before {
			border-color: scale-color($alert-color, $lightness: $alert-function-factor);
		}
	}
	@if $mode == info {
		@include alert($bg: $info-color, $radius: 6px);
		&:before {
			border-color: scale-color($info-color, $lightness: $alert-function-factor);
		}
	}
	@if $mode == secondary {
		@include alert($bg: $gainsboro, $radius: 6px);
		&:before {
			border-color: scale-color($gainsboro, $lightness: $alert-function-factor);
		}
	}

	a {
		text-decoration: underline;
		font-weight: 700;
		color: inherit;
	}

	*:last-child {
		margin-bottom: 0;
		padding-bottom: 0;
	}
}

@mixin last-child-padding-collapse {
	> *:last-child {
		margin-bottom: 0;

		*:last-child {
			margin-bottom: 0;
		}
	}
}

// Named anchor padding
// Provides padding above named anchor links to keep them from hugging the top of the browser window

// Provides padding equal to the column guttter
@mixin anchor-padding-gutter {
	&:before {
		display: block;
		content: "";
		margin-top: - $column-gutter/2;
		height: $column-gutter/2;
		visibility: hidden;
	}
}

// Provides padding to account for the sticky navigation menu
@mixin anchor-padding-menu {
	&:before { 
		display: block;
		content: "";
		margin-top: - $column-gutter;
		height: $column-gutter;
		visibility: hidden;

		@media #{$large-up} {
			margin-top: - $column-gutter*4;
			height: $column-gutter*4;
		}
	}
}

@mixin image-caption {
	font-style: italic;
	font-weight: 300;
	color: $aluminum;
	font-family: $font-family-serif;
	font-size: rem-calc(14);
	display: block;
	margin-top: rem-calc(2);
}

// Equilateral triangles
//
// $triangle-size - Used to set border-size. No default, set a px or em size.
// $triangle-color - Used to set border-color which makes up triangle. No default
// $triangle-direction - Used to determine which direction triangle points. Options: top, bottom, left, right
@mixin css-triangle($triangle-size, $triangle-color, $triangle-direction) {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: inset $triangle-size;
  @if ($triangle-direction == top) {
    border-color: $triangle-color transparent transparent transparent;
    border-top-style: solid;
  }
  @if ($triangle-direction == bottom) {
    border-color: transparent transparent $triangle-color transparent;
    border-bottom-style: solid;
  }
  @if ($triangle-direction == left) {
    border-color: transparent transparent transparent $triangle-color;
    border-left-style: solid;
  }
  @if ($triangle-direction == right) {
    border-color: transparent $triangle-color transparent transparent;
    border-right-style: solid;
  }
}