// Widgets
// Cloak, v1

// Custom styles for Foundation components that don't have variables

// Modal

.reveal-modal,
dialog {

	&.tiny {

		@media #{$medium-up} {
			min-width: 560px;
		}
	}

	.close-reveal-modal {
		
		&:before {
			@extend .fa;
			content: $fa-var-times-circle;
		}

		span {
			@include screenreader();
		}
	}
}