#content .blurbs:after, .layoutTable .content .blurbs:after {
    content:".";
    display:block;
    visibility:hidden;
    clear:both;
    height:0;
}
#content .blurbs, .layoutTable .content .blurbs {
	display:inline-block;
}
#content .blurbs, .layoutTable .content .blurbs {
	display:block;
}
#content .blurbs .blurb, .layoutTable .content .blurbs .blurb {
	width:48%;
	margin-right:0;
	margin-left:0;
	float:left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*:first-child+html #content .blurbs .blurb, *:first-child+html .layoutTable .content .blurbs .blurb {
	padding-left:0;
	padding-right:0;
	border-left:none;
	border-right:none;
}
#content .blurbs .blurb.odd, .layoutTable .content .blurbs .blurb.odd {
	margin-right:4%;
	clear:left;
}
@media all and (max-width:850px) {
	#content .blurbs .blurb, .layoutTable .content .blurbs .blurb {
		width:auto;
		float:none;
	}
	#content .blurbs .blurb.odd, .layoutTable .content .blurbs .blurb.odd {
		margin-right:0;
		clear:none;
	}
}