<?xml version="1.0" encoding="ISO-8859-15"?>
<!-- WARNING *** ENSURE THIS FILE IS NOT WEB ACCESSIBLE *** -->
<databases>
  <database>
  <connection_name>reason_connection</connection_name>
  <db>${MYSQL_DATABASE}</db>
  <user>${MYSQL_USER}</user>
  <password>${MYSQL_PASSWORD}</password>
  <host>${MYSQL_HOST}</host>
  </database>

  <database>
  <connection_name>thor_connection</connection_name>
  <db>${MYSQL_DATABASE}</db>
  <user>${MYSQL_USER}</user>
  <password>${MYSQL_PASSWORD}</password>
  <host>${MYSQL_HOST}</host>
  </database>
</databases>
