//
// LUTHER EXTENDS
//

// Reusable classes that can be added to any rule.
// Example:
// .my-divypoo {@extend .zero-out;}
//

.zero-out {
	margin: 0;
	padding: 0;
}

.screenreader {
	position: absolute;
	left: -9999px;
	top: -9999px;
	margin-bottom: 0;
}