//
// GLOBAL STYLES
//
// @author Nathan Dirks
//
// These styles handle the structure for global strcutre shared by all sites, i.e. the global header, nav, footer, and main content column.

//#reasonDeveloper {display: none;}

/* Layout
 ***************************************/

body {

	#wrapper {
		@include grid-row(); // Global row

		@media #{$xlarge-up} {
			margin: 0 auto;
			max-width: $site-max-width;
		}

		#wrapper-col {  // Global column
			@include grid-column($columns: 16, $collapse: true);
			
			@media #{$large-up} {
				@include grid-column($columns: 16, $collapse: false);	
			}
		}

		#global-banner {
			@include grid-row();
			position: relative;
			z-index: 10;
			
			@media #{$large-up} {
				@include lr-border($lc-blue-dark-compliment);	
				height: rem-calc($header-height);		
			}
			
			hgroup {
				height: rem-calc($header-height-mobile);
				background: $lc-blue-dark;

				@media #{$large-up} {
					height: rem-calc($header-height);		
				}

				h1 {
					@extend .zero-out;
				
					a {
						display: block;	
						height: $logo-height-mobile;
						width: $logo-width-mobile;
						margin: 0 auto;
						background: url('../images/logo_mobile_1x.png') no-repeat;
						top: ($header-height-mobile - $logo-height-mobile)/2;
						position: relative;
						z-index: 11;
						
					}
					
					@media #{$small-up-reitna} {
					
						a {				
							background: url('../images/logo_mobile_2x.png') no-repeat;
							@include background-size($logo-width-mobile $logo-height-mobile);
						}
					}
				
					@media #{$large-up} {
				
						a {
							width: $logo-width;
							height: $logo-height;
							top: ($header-height - $logo-height)/2;
							margin-left: $column-gutter / 2;
							background: url('../images/logo_1x.png') no-repeat;
							@include transition-property(opacity);
							@include transition-duration(.5s);
						}
						
						@media #{$large-up-reitna} {
					
							a {	
								background: url('../images/logo_2x.png') no-repeat;
								@include background-size($logo-width $logo-height);
							}
						}							
					}
						
					a:hover {
						@include opacity(0.75);
					}
					
					a:active {
						@include opacity(0.25);
					}
				}
				
				span {
					@extend .screenreader;
				}
			}
			
			#mobile-nav {  // Mobile nav toggle buttons (Global Menu & Search)
			
				ul {
					@extend .zero-out;
					
					a { // Global Menu Toggle
						width: $header-height-mobile;
						height: $header-height-mobile;
						display: block;
						background: $lc-blue-light;
						position: absolute;
						left: 0;
						top: 0;
						z-index: 12;
				
						i {
							font-size: rem-calc(30); 
							width: $header-height-mobile;
							text-align: center;
							margin-top: rem-calc(15);
							color: rgba(255,255,255,1);
							
							&.fa-times {
								display: none;
							}	
						}
						
						span {
							@extend .screenreader;
						}
			
						@media #{$large-up} {
							display: none;
						}

					}
				
					a.search { // Search Menu Toggle
						left: auto;
						right: 0;
						
						&.open {
							background: lighten($lc-grey, 5%);
							
							i {
								color: $lc-blue-light;
								
								&.fa-search {
									display: none;
								}
								
								&.fa-times {
									display: block;
								}	
							}
						}	
					}					
				}		
			}
			
			#search-nav {  // Mobile nav search
				font-family: $navigation-font-family;
				display: none;
				@include grid-column(16);
				background: lighten($lc-grey, 5%);
				@include box-shadow(rgba(0,0,0,.25) 0 2px 2px);
			
				&.open {
					display: block;
				}
				
				ul {		
					margin: 0;			
					padding: ($column-gutter/2.25) 0;
					text-align: center;
					@include clearfix;
								
					li {
						display: inline;
						margin-left: 1em;
						
						&.directory {
							margin-left: 0;
						}

						&.search {
							display: block;
							margin: ($column-gutter/2.25) auto;
							max-width: rem-calc(400);

							form {
								table {
									td {
										padding: 0;
									}
								}
							}

							.gsc-search-box {
								font-size: auto;
								margin: 0;

								* { // zero out everything inside
									border: none !important;
									line-height: 1;
									vertical-align: top;
								}

								.gsc-input > input:hover,
								.gsc-input-box-hover,
								.gsc-input > input:focus,
								.gsc-input-box-focus {
									@include box-shadow(none);
									border: none;
								}
							}

							.gsc-input-box { // hide Google focus and hover styles
								background: none !important;
								border: none !important;

								&:focus {
									border: none !important;
									@include box-shadow(0);
								}
							}

							.gsc-input {
								input {
									&.gsc-input {  // search input
										height: 2rem !important;
										padding: 0 rem-calc(8) !important;
										border: 1px solid $lc-grey !important;
										border-right: none !important;
										@include box-shadow(none);
										background: $input-bg-color;
										font-size: $input-font-size;
										@include border-left-radius(4px);

										&:focus {
											border-color: darken($lc-grey, 10%);
										}
									}
								}
							}

							.gsst_b {  // close search "x"
								padding: 0;
								height: 2rem;
								border-top: 1px solid $lc-grey !important;
								border-bottom: 1px solid $lc-grey !important;
								background: #FFF;
							}

							.gsc-search-button {  // submit button
								input.gsc-search-button {
									border: none;
									margin: 0;
									height: 0;
									width: 0;
									display: block;
									padding: 1rem;
									@include border-radius(0);
									@include border-right-radius(4px);
									background: $lc-blue-light url("../images/search-1x.png") rem-calc(8) no-repeat;

									&:hover,
									&:active {
										background-color: lighten($lc-blue-light, 5%);
									}

									@media #{$small-up-reitna} { // offer a retina icon	
										background-image: url('../images/search-2x.png');
										background-size: 50%;
									}
								}
							}
						}
					}	
				}

				a {
					font-size: rem-calc(14);
				
					&:link,
					&:visited {
						@include semi-transparent-text-color($primary-link-color, .8);
					
						@media #{$large-up} {
							@include semi-transparent-text-color($lc-white, .8);
						}
					}
					
					&:hover {
						@include semi-transparent-text-color($primary-link-color, 1);
						
						@media #{$large-up} {
							@include semi-transparent-text-color($lc-white, 1);
						}
					}
				}
				
				@media #{$large-up} { 
					width: auto;
					left: auto;
					position: absolute;
					right: $column-gutter;
					top: rem-calc(8);
					padding: 0;
					z-index: 10;
					background: none;
					box-shadow: none;
					display: block;
					border: none;
								
					ul {
						padding: 0;
						text-align: left;
						display: block;
						
						li {

							&.search {
								display: inline-block;
								margin: 0 0 0 1em;
								width: rem-calc(300);
								position: relative;
								top: rem-calc(8);
							}
						}
					}
				}
			}
		} // end #global-banner
		
		#global-nav {

			// Navigation Wrapper
			clear: both;
			
			@media #{$large-up} {
				display: block;
				position: relative;
				overflow: visible;
				padding-top: 0;
				-moz-transform: translate3d(0, 0, 0);
				-webkit-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
				width: auto !important;
				@include lr-border($lc-blue-light-compliment);		
				@include clearfix;
				
				&.left-off-canvas-menu {
					height: inherit;      // removes gray box below main top nav on mac localhost
					z-index: 97;
				}
			}
			
			h2 {
				display: none;
			}

			a {
	
				&:link,
				&:visited {
					@include semi-transparent-text-color($lc-white, .8);
				}
			}

			// Audience Navigation
			.audiences {
			
				// Mobile Nav
				margin: 0;
				padding: $column-gutter/2.25;
				background: lighten($lc-grey, 5%);
				font-size: rem-calc(14);
				
				li {
					display: inline-block;
					a {
						background: lighten($lc-blue-light, 15%);
						padding: rem-calc(4) rem-calc(16);
						@include border-radius($global-rounded);
						margin: rem-calc(6) rem-calc(2);
						display: inline-block;

						&:hover {
							@include semi-transparent-text-color($lc-white, 1);
						}
					}
				}
				
				// Desktop Nav
				@media #{$large-up} {
					padding: 0;
					position: absolute;
					top: rem-calc(-40);
					right: $column-gutter;
					background: none;
					@include inline-list;
					
					li {
						
						a {
							background: none;
							padding: 0;
							margin: 0;
							@include border-radius(0);
						}				
					
					}
					 
				}					
				
			}
			
			// Section Navigation
			.minisites {
				
				// Mobile Nav
				@extend .zero-out;
				border-top: 1px solid darken($lc-grey, 14%);
				@include box-shadow(rgba(#000, .2) 0 4px 4px);
				
				li {
					background-color: $lc-grey;
					border-bottom: 1px solid darken($lc-grey, 14%);

					a {
						color: #1073ce;
						font-weight: 600;
						letter-spacing: 1px;
						display: block;
						padding: $column-gutter/2;
						
						.fa-fw {
							margin-right: rem-calc(12);
							color: darken($lc-grey, 35%);
						}
						
						&:hover {
							background-color: darken($lc-grey, 10%);
						}

						@media #{$large-up} {
							@include semi-transparent-text-color($lc-white, 1);
							font-weight: 400;
							font-size: rem-calc(14);
							
							&:hover {
								@include semi-transparent-text-color($lc-white, 1);
							}
				
						}

						@media #{$xlarge-up} {
							font-size: rem-calc(15);
						}
					}

					ul {  /* subnav */
						display: none;
					}					
				}
				
				// Tablet Nav
				@media #{$medium-up} {
				
					li {
					
						a {
							border: none;
						}
						
						ul {
							// display: block;

							li {
								border: none;
								display: inline;
								
								a {
									display: inline-block;
									padding: 0;
								}
							}
						}
					
					}
				
				}
			
				// Desktop Nav
				@media #{$large-up} {
					@extend .zero-out;
					border-top: none;
					@include box-shadow();
	
					> li {
						border-bottom: none;
						width: (100/$num-global-nav-items)/100*100%;
						float: left;
						position: relative;
						background: $lc-blue-light;
			
						a {
							font-weight: 600;
							display: block;
							border-right: 1px solid rgba(255,255,255,.12);
							padding: 1em 0;
							text-align: center;
							
							
							i {
								display: none;
							}

							&:hover {
								background-color: darken($lc-blue-light, 4%);
							}
						}
						
						ul {  /* subnav */
							display: none;
						}
						
						&.open {
							background: #FFF;
							
							a {

							}

							ul {
								padding: 12px;
								margin: 0;
								display: block;
								position: absolute;
								left: -12px;
								background: #efefef;
								width: 300px;
							}
						}		
					}
					
					> li:last-child > a {
						border-right: none;
					}	
				}
			}
		}

		#emergencyPreempt {

			@media
			#{$large-up} {
				margin-top: $column-gutter;

				.callout {
					margin-bottom: 0;
				}
			}
		}
		
		#minisite { // see _minisite.scss

		}
		
		#global-footer {
			@include grid-row();

			#footerInner {
				@include grid-column($columns: 16, $collapse: true);
			}

			#global-footer-nav,
			#global-footer-info {
				@include semi-transparent-text-color($lc-white, 1);

				a {
					&:link,
					&:visited {
						@include semi-transparent-text-color($lc-white, .75);
					}
					&:hover {
						@include semi-transparent-text-color($lc-white, 1);
					}
				}
			}
			
			#global-footer-nav {	
				background: $lc-blue-light;
				padding-left: $column-gutter/2;
				padding-right: $column-gutter/2;
				padding-top: $column-gutter;
				@include grid-row();

				@media #{$large-up} {
					@include lr-border($lc-blue-light-compliment);
				}

				h3 {
					font-size: rem-calc(18);
					font-weight: 700;
					@include semi-transparent-text-color($lc-white, 1);
				}

				ul {
					font-family: $body-font-family;
					font-weight: 300;
				}
				
				.column {
					padding-bottom: $column-gutter;
					@include grid-column(16);
					
					@media #{$small-high-only} {
						@include grid-column(8);
						&:nth-child(odd) {
							clear: left;
						}
					}
					
					@media #{$medium-only} {
						@include grid-column(5.33333333);
						&:nth-child(3n+1) {
							clear: left;
						}

					}
					
					@media #{$large-up} {
						@include grid-column(2.6666666666);
					}
						
					ul {
						@extend .zero-out;
						@include semi-transparent-text-color($lc-white, .75);
					}
					
				}
				
			}
			
			#global-footer-info {
				@include grid-row();
				padding-top: $column-gutter/1.5;
				padding-bottom: $column-gutter/1.5;
				background: $lc-blue-dark;
				text-align: center;
				
				@media #{$large-up} {
					@include lr-border($lc-blue-dark-compliment);
				}

				nav {
	
					ul {
						font-size: rem-calc(14);
					
						a {
							font-weight: 700;
						
							&:hover {
								text-decoration: underline;
							}
						}
					}
				}
				
				.utility-nav {
					@include grid-column(16);
					
					ul {
						padding: 0;
						margin: 0 0 ($column-gutter/1.5);
						
						border-bottom: 1px dashed rgba(255,255,255,.125);
						line-height: 1;
						
						li {
							margin-bottom: ($column-gutter/1.5);
						}
						
						@media #{$medium-up} {
					
							li {
								display: inline;
	
								a {
									display: inline-block;
									border-right: 1px solid rgba(255,255,255,.25);
									margin-bottom: ($column-gutter/1.5);
								
									span {
										margin: 0 rem-calc(12);
									}
								
								}
							
								&:last-child > a {
									border: none;
								}	
							}	
						}
					}	
				}
				
				.contact {
					@include grid-column(16);
					font-family: $navigation-font-family;
					font-weight: 300;
					font-size: rem-calc(12);
					@extend .zero-out;
					letter-spacing: .65px;
					
					.sep {
						display: inline-block;
						margin: 0 rem-calc(8);
						font-weight: 700;
					}	
				}
				
				.phone {
					display: block;
				}
			}	
		}  // end #global-footer
		
		#post-footer {
			@include grid-row();
			float: left;
			clear: both;
			margin: ($column-gutter/1.5) 0;
			
			p {
				@include grid-column(16);
				text-align: center;
				margin-bottom: 0;
				font-size: rem-calc(14);
				color: lighten($body-font-color, 20%);
				font-weight: 300;
			}

			a {
				text-decoration: underline;
			}	
			
			@media #{$medium-up} {
			
				p {
					text-align: left;
					margin-bottom: 0;
					@include grid-column(8);
				}
			
				.powered-by {
					text-align: right;
					
				}
			}
		}
	} // end #wrapper
	
	.off-canvas-wrap.move-right {
	
		@media #{$large-up} {
			
			> .inner-wrap {
				  -webkit-transform: translate3d(0,0, 0);
				  -moz-transform: translate3d(0,0, 0);
				  -ms-transform: translate3d(0,0, 0);
				  -o-transform: translate3d(0,0, 0);
				  transform: translate3d(0,0, 0);
			}
			
			a.exit-off-canvas {
				display: none;
			}
		}
	}
}