//
// LUTHER TYPE
//
// @author Nathan Dirks
//
// Typography variables can be set in Luther's _settings.scss.  Those variables are used in Foudnation's _type.scss 
// and are written to our stylesheet when we set the parameter $include-html-type-classes to true (see line 9 below).
// To keep from editing Foundation's _type.scss, we add any overrides or additional type styles below.

$include-html-type-classes: true;
$include-html-table-classes: true;

// Foundaton imports
@import "settings";
@import "foundation/components/type";
@import "foundation/components/tables";

// Compass Imports
@import "compass/css3";

// Luther imports
@import "extends";
@import "mixins";

/* Luther Custom Typography 
*******************************************/

a { // HTML5 sometimes wrapps anchors around headings. Let's make sure they still get the default anchor colors
	&:link {
		h1,
		h2,
		h3,
		h4,
		h5 {
			color: $anchor-font-color;
		}
	}

	&:hover {
		h1,
		h2,
		h3,
		h4,
		h5 {
			color: $anchor-font-color-hover;
		}
	}

	&:visited {
		h1,
		h2,
		h3,
		h4,
		h5 {
			color: $anchor-font-color;
		}
	}
}

/* Blockquote */
blockquote {
	font-family: $blockquote-font-family;
}

/* Wysiwyg Formatting */  
#pageContent,
.blurb {

	ol, // bullets needed for wysiwyg content
	ul,
	dl {
		font-weight: $paragraph-font-weight;
		padding-bottom: rem-calc(6);
		&:last-child {
			padding-bottom: 0;
		}
	}
	ol {list-style-type: decimal;}
	ul {list-style-type: disc;}

	a:link { // underline links
		text-decoration: underline;
	}

	.callOut {
		@include border-radius($global-radius);
		background: $lc-grey;
		padding: $column-gutter/2 $column-gutter/1.5;
		margin-bottom: $paragraph-margin-bottom;

		*:last-child {
			margin-bottom: 0;
		}
	}
}

// Tables

table {
	font-family: $header-font-family;
}

// Callouts


// "More" links at the end of feeds or short descriptions
a.more,
.pubLinks a {
	color: $secondary-link-color;
	font-family: $open-sans;
	font-size: rem-calc(14);
	font-weight: 700;
	text-transform: uppercase;

	&:hover {
		color: darken($secondary-link-color, 10%);	
	}
}


/* Feeds */
#relatedPub .post h4 {
	font-family: $body-font-family;
	font-size: rem-calc(18);
	font-weight: 400;
}

time {
	font-family: $header-font-family;
	font-weight: 300;
}


/* Custom Typography 
*******************************************/

nav {
	font-family: $navigation-font-family;
}

#global-banner {

	#search-nav {
		font-family: $navigation-font-family;
		
		a {
			font-size: rem-calc(14);
		
			&:link,
			&:visited {
			
				@include semi-transparent-text-color($primary-link-color, .8);
			
				@media #{$large-up} {
					@include semi-transparent-text-color($lc-white, .8);
				}
			}
			
			&:hover {
			
				@include semi-transparent-text-color($primary-link-color, 1);
				
				@media #{$large-up} {
					@include semi-transparent-text-color($lc-white, 1);
				}
			}
		}
	}
} // end #global-banner

#global-nav {

	a {
	
		&:link,
		&:visited {
			@include semi-transparent-text-color($lc-white, .8);
		}
	}
	
	.audiences {
	
		a {
		
			&:hover {
				@include semi-transparent-text-color($lc-white, 1);
			}
		}
	}

	.sections {
	
		a {
		
			color: #1073ce;
			
			@media #{$medium-high-up} { 
				
			}
		
			@media #{$large-up} {
				@include semi-transparent-text-color($lc-white, 1);
				/*text-shadow: 1px 1px 1px rgba(0,0,0,.2);*/
				font-weight: 400;
				font-size: rem-calc(14);
				
				&:hover {
					@include semi-transparent-text-color($lc-white, 1);
				}
				
				@media #{$xlarge-up} {
					font-size: rem-calc(15);
				}
			}
		}
	}
} // end #global-nav

#global-footer {

	#global-footer-nav,
	#global-footer-info {
		@include semi-transparent-text-color($lc-white, 1);

		a {
			&:link,
			&:visited {
				@include semi-transparent-text-color($lc-white, .75);
			}
			&:hover {
				@include semi-transparent-text-color($lc-white, 1);
			}
		}
	}
	
	#global-footer-nav {
		h3 {
			font-size: rem-calc(18);
			font-weight: 700;
			@include semi-transparent-text-color($lc-white, 1);
		}
		ul {
			font-family: $body-font-family;
			font-weight: 300;
		}
	}
	
	#global-footer-info {
	
		nav {
	
			ul {
				font-size: rem-calc(14);
			
				a {
					font-weight: 700;
				
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
		
		.contact {
			font-weight: 300;
			font-family: $body-font-family;
			font-size: rem-calc(12);
			@extend .zero-out;
			letter-spacing: .65px;
			
			.sep {
				font-weight: 700;
			}
		}	
	}
	
	#post-footer {
	
		p {
			font-size: rem-calc(14);
			color: lighten($body-font-color, 20%);
			font-weight: 300;
		}
		
		a {
			text-decoration: underline;
		}				
	}
}// end #global-footer