/* Form Navigation */
#formNavigation .formSteps {
    margin:0 0 0.75em 0;
    padding:0;
    list-style:none;
    overflow:hidden;
}
#formNavigation .formSteps li {
    margin-right: 5px;
    float:left;

}
#formNavigation .formSteps li {

    background-repeat: no-repeat;
    color: black;
    letter-spacing: 3px;
    text-shadow: 0px 0px;
    font-style: normal;
    font-weight: normal;
    display:block;
    background-color:#ccdeeb;
    text-decoration:none;
    padding:5px 9px 6px 9px;
    border-bottom:8px;
}
#formNavigation .formSteps li  a {

    background-repeat: no-repeat;
    color: black;
    letter-spacing: 3px;
    text-shadow: 0px 0px;
    font-style: normal;
    font-weight: normal;
    display:block;
    background-color:#ccdeeb;
    text-decoration:none;
    padding:5px 9px 6px 9px;
    border-bottom:8px;
}
#formNavigation .formSteps li.current {
    color: #000;
	background: url("formnav_current.gif") no-repeat scroll center bottom #95b3cd;
    padding-bottom:14px;
}
#formNavigation .formSteps li.current a {
    color: #000;
	background: url("formnav_current.gif") no-repeat scroll center bottom #95b3cd;
    padding-bottom:14px;
}

#discoTable textarea {
	height: 50%;
	width: 75%;
}

#discoTable tr td  {
	font-size: 1em;
}

#discoTable tr td ul {
	font-size: 1em;
}

#disco_form{
	background-color: white;
}

#discoTable tbody{
	background-color: white;
}
