
div#courseNavigation {
    font-size: 1.2em;
    font-weight: bold;
    padding-top: 0.75em;
}

header#banner, div#preBanner, div.pageTitle {
	display: none;	
}

h3 {
	font-size: 1.2em;
}

ul.courseListActive, ul.courseListInactive {
	list-style: none;
	padding-left: 0;
}

ul.courseListInactive {
	color: #999;	
}

#wrapper ul.courseListInactive a {
	color: #5c8ab5;	
}

li.courseListRow {
	padding-left: 2em;
}

li.courseListRow span.courseNumber {
	display: inline-block;
	width: 5.5em;	
}

li.courseListRow a {
	text-decoration: none;
}

li.courseListRow a:hover {
	text-decoration: underline;
}

span.courseListTerm {
	color: #999;
	font-size: 0.8em;
	padding-left: 0.5em;
}

span.termHighlight {
	color: #777;
	font-weight: bold;
}

#wrapper ul.courseListInactive a.activateCourse, #wrapper ul.courseListActive a.deactivateCourse {
   	border-radius: 50%;
    color: white;
    display: none;
    height: 1.5em;
    left: 2em;
    padding: 0 0.4em;
    position: absolute;
    text-align: center;
    width: 0.7em;
}

a.activateCourse {
	background-color: #7ADDA8;
}

a.deactivateCourse {
	background-color: #dd7575;
}

li.courseListRow a.activateCourse:hover, li.courseListRow a.deactivateCourse:hover {
	text-decoration: none;
}



div.contentPost div#discoLinear > div {
	max-width: 45%;
}

div.contentPost span.labelText, div.contentPost p.comment {
	font-size: 0.85em;
	color: #666;	
}

div#subjectItem, div#coursenumberItem, div#requirementsItem, div#gradingItem, div#creditsItem {
	display: inline-block;	
}

div#requirementsItem, div#gradingItem, div#creditsItem {
	margin-right: 3em;	
}


div#sectionsItem {
	width: 45%;
	float: right;
}

ul#courseInfo {
	list-style: none;
	padding: 0;	
	font-size: 0.85em;
	color: #666;	
}

body#tinymce {
	font-size: 0.95em;	
}

div.contentPost div.mce-container {
	width: 45em;	
}

div.contentPost input#titleElement {
	width: 36.75em;	
}

div.contentPost div#prerequisitesItem textarea {
	font-size: 0.8125em;
	padding: 0.5em 0.25em;
}