div.publication div.moduleNav ul, div.publication div.fullPost div.comments ul {
	margin-left:0px;
	padding-left:0px;
	list-style-type:none;
}
div.publication div.moduleNav ul li {
	border-top:1px solid #92AAD6;
}
div.publication div.moduleNav ul li ul {
	padding-left:2em;
	list-style-type:disc;
	margin:0;
}
div.publication div.moduleNav ul li ul li {
	border:none;
	margin:0;
}
div.publication div.moduleNav ul li h4 {
	margin-bottom:.33em;
}
div.publication div.moduleNav ul ul.links {
	list-style-image:url(../../ui_images/tiny_arrow.gif);
	margin-left:20px;
}
div.publication div.moduleNav ul ul.links li {
	font-size:87%;
	border-top:none;
	margin:0px;
}
div.publication div.fullPost div.comments ul li {
	padding:1em;
	margin:.5em 0px .5em 0px;
	background-color:#F0F5FF;
}
div.publication div.fullPost div.commentAdded h4 {
	color:#C33C06;
	margin:0px;
	display:inline;
	padding-right:1em;
}
div.publication div.fullPost div.commentAdded {
	padding:.33em;
	border:1px solid #C33C06;
}
div.publication div.fullPost div.primaryContent {
	width:70%;
	float:left;
}
div.publication div.fullPost div.relatedItems {
	float:right;
	width:28%;
	clear:right;
}
div.publication div.fullPost div.images h4 {
	display:block;
	position:absolute;
	left:-9999px;
	width:100px;
}
div.publication div.fullPost div.images ul {
	padding:0px;
	margin:.5em 0px .5em 0px;
	list-style:none;
	text-align:center;
}
div.publication div.persistent {
	float:right;
	width:28%;
	border-left:1px dotted #92AAD6;
}
div.publication div#filtering, div.publication div.persistent div.loginlogout, div.publication div.addItemLink {
	margin-left:.5em;
}
div.publication div.addItemLink {
	margin-bottom:1em;
}
div.publication div.back {
	clear:left;
}

/* lets hide the "List All Issues" link */
div.publication div.allIssuesLink
{
	display:block;
	position:absolute;
	left:-9999px;
	width:100px;
}

/* --- Related Publication defaults --- */

div.relatedPub div.moduleNav ul {
	margin:0px;
	padding:0px;
	list-style-type:none;
}
div.relatedPub div.moduleNav ul li {
	margin:1em 0;
}
div.relatedPub div.moduleNav ul li h4 {
	margin:0;
	font-size:1em;
}
div.relatedPub div.moduleNav ul li .date {
	font-size:0.8125em;
}
div.relatedPub div.moduleNav ul ul.links li {
	font-size:87%;
	border-top:none;
	margin:0px;
}