// Foundation Overrides
// Cloak, v1

// Custom style overrides for Foundation components that don't have variables

// REVEAL MODAL
// http://foundation.zurb.com/docs/components/reveal.html

.reveal-modal,
dialog {

	&.tiny {

		@media #{$medium-up} {
			min-width: 560px;
		}
	}

	.reveal-heading {
		margin-top: -$reveal-modal-padding;
		margin-bottom: $reveal-modal-padding;
	}

	.close-reveal-modal {
		
		&:before {
			@extend .fa;
			content: $fa-var-times;
		}

		span {
			@include screenreader();
		}
	}
}

.reveal-modal-bg {
	position: fixed;
}