.schedHead {
        text-align: left;
        background-image: url(/athletics/images/1px_white.gif);
        background-color: #F4F6FB;
        background-repeat: repeat-y;
}
.schedRow1 {
        background-color: #DCE4F1;
}
.schedRow2 {
        background-color: #F4F6FB;
}
.schedTD {
        background-image: url(/athletics/images/1px_white.gif);
        background-repeat: repeat-y;
}

div.eventDetails .eventDate
{
	border: 5px;
	color: #eb6b27;
	margin: 0px;
}

div.eventDetails h3, div.eventDetails p
{
	margin: 0px;
}

div.eventDetails h3
{
	font-size: 110%;
}

div#athleticsScheduleResults div.containsSidebar div.eventNews
{
	float: left;
	width: 63%;
}

div #athleticsScheduleResults div.returnLink
{
	clear: left;
}
div#athleticsScheduleResults div.containsSidebar div.eventSidebar {
	float: right;
	width: 32%;
	clear: right;
}

div#athleticsScheduleResults div.images
{
	text-align: center;
	padding-top: 15px;
}

div#athleticsScheduleResults div.images div.tnDesc{
	padding-top: 1px;
	padding-bottom: 15px;
}

div#athleticsScheduleResults div.images h4
{
	width: 0px;
	position: absolute;
	left: -1500px;
	overflow: hidden;
}
