/* line 4, ../scss/font-awesome/_core.scss */
.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 10, ../scss/_extends.scss */
.zero-out {
  margin: 0;
  padding: 0;
}

/* line 15, ../scss/_extends.scss */
.screenreader {
  position: absolute;
  left: -9999px;
  top: -9999px;
  margin-bottom: 0;
}

/* STRUCTURE */
@media only screen and (min-width: 64.063em) {
  /* line 28, ../scss/sites/admissions.scss */
  .lutherAdmissions #minisite #navWrap #minisiteNavigation {
    background: linen;
  }
  /* line 37, ../scss/sites/admissions.scss */
  .lutherAdmissions #minisite #navWrap #minisiteNavigation a {
    color: #1073ce;
  }
  /* line 41, ../scss/sites/admissions.scss */
  .lutherAdmissions #minisite #navWrap #minisiteNavigation .navListTop a.home {
    background: #e8a500;
    color: #FFF;
  }
  /* line 46, ../scss/sites/admissions.scss */
  .lutherAdmissions #minisite #navWrap #minisiteNavigation .navListTop ul a {
    border-top: 1px solid #f4dec8;
    color: #1073ce;
  }
  /* line 50, ../scss/sites/admissions.scss */
  .lutherAdmissions #minisite #navWrap #minisiteNavigation .navListTop ul a:hover {
    background: linen;
    color: #1073ce;
  }
  /* line 58, ../scss/sites/admissions.scss */
  .lutherAdmissions #minisite #navWrap #minisiteNavigation .navListTop ul ul a {
    border-top: 1px solid #f9ede2;
  }
  /* line 61, ../scss/sites/admissions.scss */
  .lutherAdmissions #minisite #navWrap #minisiteNavigation .navListTop ul ul a:hover {
    background: #fdfaf7;
  }
  /* line 67, ../scss/sites/admissions.scss */
  .lutherAdmissions #minisite #navWrap #minisiteNavigation .navListTop ul .navListItem.open {
    background: white;
  }
  /* line 71, ../scss/sites/admissions.scss */
  .lutherAdmissions #minisite #navWrap #minisiteNavigation .navListTop ul .navListItem.open a:hover {
    background: #fdfaf7;
  }
  /* line 80, ../scss/sites/admissions.scss */
  .lutherAdmissions #minisite #navWrap #minisiteNavigation .jump:before,
  .lutherAdmissions #minisite #navWrap #minisiteNavigation .accordion:before {
    color: #FFF;
  }
}
/* line 88, ../scss/sites/admissions.scss */
.lutherAdmissions #minisite #navWrap .socialProfileLinks {
  background: #e9bd91;
}
