/* line 4, ../scss/font-awesome/_core.scss */
.fa, .lutherHome .pubLinks a:before,
.lutherHome .more:before {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 10, ../scss/_extends.scss */
.zero-out, .lutherHome .moduleNav ul {
  margin: 0;
  padding: 0;
}

/* line 15, ../scss/_extends.scss */
.screenreader {
  position: absolute;
  left: -9999px;
  top: -9999px;
  margin-bottom: 0;
}

/* STRUCTURE */
@media only screen and (max-width: 40em) {
  /* line 21, ../scss/sites/home.scss */
  .lutherHome #minisite {
    padding-top: 4px !important;
  }
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  /* line 21, ../scss/sites/home.scss */
  .lutherHome #minisite {
    padding-top: 4px !important;
  }
}
/* line 36, ../scss/sites/home.scss */
.lutherHome #welcomeRow {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 100%;
  *zoom: 1;
}
/* line 165, ../../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
.lutherHome #welcomeRow:before, .lutherHome #welcomeRow:after {
  content: " ";
  display: table;
}
/* line 166, ../../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
.lutherHome #welcomeRow:after {
  clear: both;
}
/* line 40, ../scss/sites/home.scss */
.lutherHome #contentAndRelated {
  		/*#contentSections {
  			//margin: 0 -$column-gutter/2;
  			margin-top: 0;
  			margin-left: -$column-gutter/2;
  			margin-right: -$column-gutter/2;
  			padding: $column-gutter/2;
  			background: $lc-blue-xtra-light url('../../images/lc_color_line.gif') repeat-x left top;
  
  			@media only screen and (min-width:64.063em) {
  				@include grid-column($columns: 5);
  				margin: 0 !important;
  				@include border-top-left-radius(12px);
  			}
  
  			.pageTitle {
  				border: none;
  			}
  
  			.contentPost {
  				.blurb {
  					ul {
  						@extend .zero-out;
  						list-style-type: none;
  
  						.cta:before {
  							@extend .fa;
  							margin-right: rem-calc(16);
  						}
  
  						.blue:before {
  							content: $fa-var-picture-o;
  						}
  
  						.green:before {
  							content: $fa-var-map-marker;
  						}
  
  						.red:before {
  							content: $fa-var-pencil;
  						}
  					}
  				}
  			}
  		}*/
}
/* line 42, ../scss/sites/home.scss */
.lutherHome #contentAndRelated #contentFeature {
  margin-bottom: 0;
}
@media only screen and (min-width: 64.063em) {
  /* line 42, ../scss/sites/home.scss */
  .lutherHome #contentAndRelated #contentFeature {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    float: left;
  }
  /* line 49, ../scss/sites/home.scss */
  .lutherHome #contentAndRelated #contentFeature .featuresModule {
    max-width: 100% !important;
  }
  /* line 52, ../scss/sites/home.scss */
  .lutherHome #contentAndRelated #contentFeature .featuresModule .featureInfoWrap {
    background: none !important;
  }
  /* line 55, ../scss/sites/home.scss */
  .lutherHome #contentAndRelated #contentFeature .featuresModule .featureInfoWrap .featureInfo {
    background: none !important;
    bottom: 1rem;
    right: 1rem;
  }
  /* line 61, ../scss/sites/home.scss */
  .lutherHome #contentAndRelated #contentFeature .featuresModule .featureInfoWrap .featureInfo .featureTitle {
    display: block;
    float: right;
    font-size: 4.0625rem;
    background: rgba(0, 0, 0, 0.75);
    background: rgba(255, 255, 255, 0.75);
    color: #1073ce !important;
    padding: 0.75rem;
    margin-bottom: 1rem;
    text-align: right;
  }
  /* line 73, ../scss/sites/home.scss */
  .lutherHome #contentAndRelated #contentFeature .featuresModule .featureInfoWrap .featureInfo .featureText {
    display: block;
    float: right;
    clear: right;
    font-size: 1.75rem;
    background: rgba(0, 0, 0, 0.75);
    background: rgba(255, 255, 255, 0.75);
    color: #1073ce !important;
    padding: 0.75rem;
    margin: 0;
    text-align: right;
  }
  /* line 85, ../scss/sites/home.scss */
  .lutherHome #contentAndRelated #contentFeature .featuresModule .featureInfoWrap .featureInfo .featureText span:before {
    color: #1073ce !important;
  }
}
/* line 140, ../scss/sites/home.scss */
.lutherHome #contentAndRelated #relatedSections {
  clear: both;
  padding: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 100%;
  *zoom: 1;
  margin-top: 2.5rem;
}
/* line 165, ../../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
.lutherHome #contentAndRelated #relatedSections:before, .lutherHome #contentAndRelated #relatedSections:after {
  content: " ";
  display: table;
}
/* line 166, ../../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
.lutherHome #contentAndRelated #relatedSections:after {
  clear: both;
}
/* line 146, ../scss/sites/home.scss */
.lutherHome #contentAndRelated #relatedSections > div {
  background: none;
}
@media only screen and (min-width: 40.063em) {
  /* line 140, ../scss/sites/home.scss */
  .lutherHome #contentAndRelated #relatedSections {
    width: auto;
    margin-left: -1.25rem;
    margin-right: -1.25rem;
    margin-top: 0;
    margin-bottom: 0;
    max-width: none;
    *zoom: 1;
    float: none;
    margin-top: 2.5rem;
  }
  /* line 165, ../../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
  .lutherHome #contentAndRelated #relatedSections:before, .lutherHome #contentAndRelated #relatedSections:after {
    content: " ";
    display: table;
  }
  /* line 166, ../../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
  .lutherHome #contentAndRelated #relatedSections:after {
    clear: both;
  }
}
/* line 156, ../scss/sites/home.scss */
.lutherHome #contentAndRelated #relatedSections h3 {
  border-bottom: 1px solid #e9e9e9;
  margin: 0;
  padding-bottom: 0.75rem;
}
/* line 166, ../scss/sites/home.scss */
.lutherHome #contentAndRelated #relatedSections .dayEvents .event a {
  font-size: 1.125rem;
}
@media only screen and (min-width: 30em) {
  /* line 174, ../scss/sites/home.scss */
  .lutherHome #contentAndRelated #preSidebar {
    position: relative;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    width: 50%;
    float: left;
  }
  /* line 178, ../scss/sites/home.scss */
  .lutherHome #contentAndRelated #sidebar {
    position: relative;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    width: 50%;
    float: left;
  }
  /* line 182, ../scss/sites/home.scss */
  .lutherHome #contentAndRelated #postSidebar {
    clear: left;
    position: relative;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    width: 50%;
    left: 25%;
    right: auto;
    float: left;
  }
}
@media only screen and (min-width: 60.0625em) {
  /* line 191, ../scss/sites/home.scss */
  .lutherHome #contentAndRelated #preSidebar,
  .lutherHome #contentAndRelated #sidebar,
  .lutherHome #contentAndRelated #postSidebar {
    position: relative;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    width: 33.33333%;
    left: 0%;
    right: auto;
    float: left;
    clear: none;
  }
}
/* line 197, ../scss/sites/home.scss */
.lutherHome #contentAndRelated #calloutSections {
  margin-top: 2.5rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 100%;
  *zoom: 1;
}
/* line 165, ../../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
.lutherHome #contentAndRelated #calloutSections:before, .lutherHome #contentAndRelated #calloutSections:after {
  content: " ";
  display: table;
}
/* line 166, ../../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
.lutherHome #contentAndRelated #calloutSections:after {
  clear: both;
}
@media only screen and (min-width: 30em) {
  /* line 197, ../scss/sites/home.scss */
  .lutherHome #contentAndRelated #calloutSections {
    width: auto;
    margin-left: -1.25rem;
    margin-right: -1.25rem;
    margin-top: 0;
    margin-bottom: 0;
    max-width: none;
    *zoom: 1;
    margin-top: 2.5rem;
  }
  /* line 165, ../../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
  .lutherHome #contentAndRelated #calloutSections:before, .lutherHome #contentAndRelated #calloutSections:after {
    content: " ";
    display: table;
  }
  /* line 166, ../../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
  .lutherHome #contentAndRelated #calloutSections:after {
    clear: both;
  }
}
@media only screen and (min-width: 30em) {
  /* line 216, ../scss/sites/home.scss */
  .lutherHome #contentAndRelated #calloutSections .blurbs .blurb {
    position: relative;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    width: 50%;
    float: left;
  }
}
@media only screen and (min-width: 60.0625em) {
  /* line 216, ../scss/sites/home.scss */
  .lutherHome #contentAndRelated #calloutSections .blurbs .blurb {
    position: relative;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    width: 25%;
    float: left;
  }
}
/* line 226, ../scss/sites/home.scss */
.lutherHome #contentAndRelated #calloutSections .blurbs .blurb .blurbInner {
  border-top: 12px solid;
  background: #f8f8f8;
  -webkit-box-shadow: rgba(0, 0, 0, 0.18) 0 2px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.18) 0 2px 2px;
  box-shadow: rgba(0, 0, 0, 0.18) 0 2px 2px;
  padding-bottom: 0.83333rem;
}
/* line 232, ../scss/sites/home.scss */
.lutherHome #contentAndRelated #calloutSections .blurbs .blurb .blurbInner > * {
  padding: 0 1.25rem;
}
/* line 236, ../scss/sites/home.scss */
.lutherHome #contentAndRelated #calloutSections .blurbs .blurb .blurbInner p:first-child {
  padding: 0;
  margin: 0;
}
/* line 241, ../scss/sites/home.scss */
.lutherHome #contentAndRelated #calloutSections .blurbs .blurb .blurbInner img:first-child {
  padding: 0 0 1.25rem;
}
/* line 247, ../scss/sites/home.scss */
.lutherHome #contentAndRelated #calloutSections .blurbs .blurb:nth-child(4n+1) .blurbInner {
  border-color: #e8a500;
}
/* line 254, ../scss/sites/home.scss */
.lutherHome #contentAndRelated #calloutSections .blurbs .blurb:nth-child(4n+2) .blurbInner {
  border-color: #4a8512;
}
/* line 261, ../scss/sites/home.scss */
.lutherHome #contentAndRelated #calloutSections .blurbs .blurb:nth-child(4n+3) .blurbInner {
  border-color: #9f2112;
}
/* line 268, ../scss/sites/home.scss */
.lutherHome #contentAndRelated #calloutSections .blurbs .blurb:nth-child(4n+4) .blurbInner {
  border-color: #1073ce;
}
/* line 285, ../scss/sites/home.scss */
.lutherHome .pubLinks a:before,
.lutherHome .more:before {
  margin-right: 0.5rem;
}
/* line 292, ../scss/sites/home.scss */
.lutherHome #pageContent .more:before {
  content: "\f0a9";
}
/* line 298, ../scss/sites/home.scss */
.lutherHome .pubLinks a:before {
  content: "\f00b";
}
/* line 304, ../scss/sites/home.scss */
.lutherHome #postSidebar .more:before {
  content: "\f16a";
}
