/* line 1, ../scss/_extends.scss */
.zero-out {
  margin: 0;
  padding: 0;
}

/* line 6, ../scss/_extends.scss */
.screenreader {
  position: absolute;
  left: -9999px;
  top: -9999px;
  margin-bottom: 0;
}

/* line 4, ../scss/font-awesome/_core.scss */
.fa, .lutherLogin .minisiteWrap #contentAndRelated .pageTitle:before {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 1, ../scss/_extends.scss */
.zero-out {
  margin: 0;
  padding: 0;
}

/* line 6, ../scss/_extends.scss */
.screenreader {
  position: absolute;
  left: -9999px;
  top: -9999px;
  margin-bottom: 0;
}

/* line 1, ../scss/_extends.scss */
.zero-out {
  margin: 0;
  padding: 0;
}

/* line 6, ../scss/_extends.scss */
.screenreader {
  position: absolute;
  left: -9999px;
  top: -9999px;
  margin-bottom: 0;
}

/* line 30, ../scss/modules/_form.scss */
#form div,
#form .words,
#form input,
#form label,
#form select,
form div,
form .words,
form input,
form label,
form select {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Arial, sans-serif;
}
/* line 48, ../scss/modules/_form.scss */
#form input[type="text"],
#form input[type="password"],
#form input[type="date"],
#form input[type="datetime"],
#form input[type="datetime-local"],
#form input[type="month"],
#form input[type="week"],
#form input[type="email"],
#form input[type="number"],
#form input[type="search"],
#form input[type="tel"],
#form input[type="time"],
#form input[type="url"],
#form textarea,
form input[type="text"],
form input[type="password"],
form input[type="date"],
form input[type="datetime"],
form input[type="datetime-local"],
form input[type="month"],
form input[type="week"],
form input[type="email"],
form input[type="number"],
form input[type="search"],
form input[type="tel"],
form input[type="time"],
form input[type="url"],
form textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  background-color: white;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 0.875rem;
  margin: 0 0 1rem 0;
  padding: 0.5rem;
  height: 2.3125rem;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
  -moz-transition: -moz-box-shadow 0.45s, border-color 0.45s ease-in-out;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
  margin-bottom: 0;
}
/* line 182, ../../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
#form input[type="text"]:focus,
#form input[type="password"]:focus,
#form input[type="date"]:focus,
#form input[type="datetime"]:focus,
#form input[type="datetime-local"]:focus,
#form input[type="month"]:focus,
#form input[type="week"]:focus,
#form input[type="email"]:focus,
#form input[type="number"]:focus,
#form input[type="search"]:focus,
#form input[type="tel"]:focus,
#form input[type="time"]:focus,
#form input[type="url"]:focus,
#form textarea:focus,
form input[type="text"]:focus,
form input[type="password"]:focus,
form input[type="date"]:focus,
form input[type="datetime"]:focus,
form input[type="datetime-local"]:focus,
form input[type="month"]:focus,
form input[type="week"]:focus,
form input[type="email"]:focus,
form input[type="number"]:focus,
form input[type="search"]:focus,
form input[type="tel"]:focus,
form input[type="time"]:focus,
form input[type="url"]:focus,
form textarea:focus {
  -webkit-box-shadow: 0 0 5px #999999;
  -moz-box-shadow: 0 0 5px #999999;
  box-shadow: 0 0 5px #999999;
  border-color: #999999;
}
/* line 123, ../../foundation/bower_components/foundation/scss/foundation/components/_forms.scss */
#form input[type="text"]:focus,
#form input[type="password"]:focus,
#form input[type="date"]:focus,
#form input[type="datetime"]:focus,
#form input[type="datetime-local"]:focus,
#form input[type="month"]:focus,
#form input[type="week"]:focus,
#form input[type="email"]:focus,
#form input[type="number"]:focus,
#form input[type="search"]:focus,
#form input[type="tel"]:focus,
#form input[type="time"]:focus,
#form input[type="url"]:focus,
#form textarea:focus,
form input[type="text"]:focus,
form input[type="password"]:focus,
form input[type="date"]:focus,
form input[type="datetime"]:focus,
form input[type="datetime-local"]:focus,
form input[type="month"]:focus,
form input[type="week"]:focus,
form input[type="email"]:focus,
form input[type="number"]:focus,
form input[type="search"]:focus,
form input[type="tel"]:focus,
form input[type="time"]:focus,
form input[type="url"]:focus,
form textarea:focus {
  background: #fafafa;
  border-color: #999999;
  outline: none;
}
/* line 130, ../../foundation/bower_components/foundation/scss/foundation/components/_forms.scss */
#form input[type="text"][disabled],
#form input[type="password"][disabled],
#form input[type="date"][disabled],
#form input[type="datetime"][disabled],
#form input[type="datetime-local"][disabled],
#form input[type="month"][disabled],
#form input[type="week"][disabled],
#form input[type="email"][disabled],
#form input[type="number"][disabled],
#form input[type="search"][disabled],
#form input[type="tel"][disabled],
#form input[type="time"][disabled],
#form input[type="url"][disabled],
#form textarea[disabled],
form input[type="text"][disabled],
form input[type="password"][disabled],
form input[type="date"][disabled],
form input[type="datetime"][disabled],
form input[type="datetime-local"][disabled],
form input[type="month"][disabled],
form input[type="week"][disabled],
form input[type="email"][disabled],
form input[type="number"][disabled],
form input[type="search"][disabled],
form input[type="tel"][disabled],
form input[type="time"][disabled],
form input[type="url"][disabled],
form textarea[disabled] {
  background-color: #dddddd;
}
/* line 71, ../scss/modules/_form.scss */
#form input[type="text"],
#form input[type="password"],
#form input[type="date"],
#form input[type="datetime"],
#form input[type="datetime-local"],
#form input[type="month"],
#form input[type="week"],
#form input[type="email"],
#form input[type="number"],
#form input[type="search"],
#form input[type="tel"],
#form input[type="time"],
#form input[type="url"],
form input[type="text"],
form input[type="password"],
form input[type="date"],
form input[type="datetime"],
form input[type="datetime-local"],
form input[type="month"],
form input[type="week"],
form input[type="email"],
form input[type="number"],
form input[type="search"],
form input[type="tel"],
form input[type="time"],
form input[type="url"] {
  max-width: 600px;
}
/* line 75, ../scss/modules/_form.scss */
#form input[type="file"],
#form select,
form input[type="file"],
form select {
  margin: 0 0 1rem 0;
}
/* line 83, ../scss/modules/_form.scss */
#form input[type="checkbox"] + label,
#form input[type="radio"] + label,
form input[type="checkbox"] + label,
form input[type="radio"] + label {
  display: inline-block;
  margin-left: 0.5rem;
  margin-right: 1rem;
  margin-bottom: 0;
  vertical-align: baseline;
}
/* line 92, ../scss/modules/_form.scss */
#form input[type="file"],
form input[type="file"] {
  width: 100%;
}
/* line 97, ../scss/modules/_form.scss */
#form fieldset,
form fieldset {
  border: solid 1px #dddddd;
  padding: 1.25rem;
  margin: 1.125rem 0;
}
/* line 247, ../../foundation/bower_components/foundation/scss/foundation/components/_forms.scss */
#form fieldset legend,
form fieldset legend {
  font-weight: bold;
  background: white;
  padding: 0 0.1875rem;
  margin: 0;
  margin-left: -0.1875rem;
}
/* line 102, ../scss/modules/_form.scss */
#form select,
form select {
  -webkit-appearance: none !important;
  background: #fafafa;
  background-position-x: 97%;
  background-position-y: center;
  border: 1px solid #cccccc;
  padding: 0.5rem;
  font-size: 0.875rem;
  -webkit-border-radius: 0;
  border-radius: 0;
  width: auto;
  max-width: 100%;
}
/* line 111, ../scss/modules/_form.scss */
#form select.radius,
form select.radius {
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
/* line 112, ../scss/modules/_form.scss */
#form select:hover,
form select:hover {
  background: #f2f2f2;
  background-position-x: 97%;
  background-position-y: center;
  border-color: #999999;
}
/* line 122, ../scss/modules/_form.scss */
#form textarea,
form textarea {
  height: auto;
}
/* line 131, ../scss/modules/_form.scss */
#form .formElement,
form .formElement {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 100%;
  *zoom: 1;
  padding: 1rem;
  margin-bottom: 1px;
}
/* line 165, ../../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
#form .formElement:before, #form .formElement:after,
form .formElement:before,
form .formElement:after {
  content: " ";
  display: table;
}
/* line 166, ../../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
#form .formElement:after,
form .formElement:after {
  clear: both;
}
/* line 136, ../scss/modules/_form.scss */
#form .formElement:nth-child(even),
form .formElement:nth-child(even) {
  background: #f6f6f6;
}
/* line 140, ../scss/modules/_form.scss */
#form .formElement .words,
form .formElement .words {
  font-size: 1rem;
  color: #4d4d4d;
  cursor: pointer;
  display: block;
  font-weight: normal;
  margin-bottom: 0.75rem;
  font-weight: 600;
}
/* line 144, ../scss/modules/_form.scss */
#form .formElement .words .requiredIndicator,
form .formElement .words .requiredIndicator {
  font-weight: 300;
  display: inline-block;
  padding-left: 0.25rem;
  color: #838383;
}
/* line 152, ../scss/modules/_form.scss */
#form .formElement td,
form .formElement td {
  padding: .5em 0 .5em 1em;
}
@media only screen and (min-width: 40.063em) {
  /* line 131, ../scss/modules/_form.scss */
  #form .formElement,
  form .formElement {
    padding: 1rem 0;
  }
  /* line 160, ../scss/modules/_form.scss */
  #form .formElement .words,
  form .formElement .words {
    position: relative;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    width: 25%;
    float: left;
  }
  /* line 164, ../scss/modules/_form.scss */
  #form .formElement .element,
  form .formElement .element {
    position: relative;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    width: 75%;
    float: left;
  }
  /* line 168, ../scss/modules/_form.scss */
  #form .formElement td,
  form .formElement td {
    padding: .5em 1em .5em 0;
  }
}
/* line 182, ../scss/modules/_form.scss */
#form #discoErrorNotice,
form #discoErrorNotice {
  border-style: solid;
  border-width: 1px;
  display: block;
  font-weight: normal;
  margin-bottom: 1.25rem;
  position: relative;
  padding: 0.875rem 1.5rem 0.875rem 0.875rem;
  font-size: 0.8125rem;
  background-color: #f7c0b9;
  border-color: #f4aba2;
  color: black;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  color: #9f2112 !important;
}
/* line 186, ../scss/modules/_form.scss */
#form #discoErrorNotice:before,
form #discoErrorNotice:before {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f071";
}
/* line 197, ../scss/modules/_form.scss */
#form #discoErrorNotice h3,
form #discoErrorNotice h3 {
  font-size: 1.125rem;
  font-weight: 600;
  margin: 0 0.375rem 0 0;
  display: inline;
  display: none;
}
/* line 206, ../scss/modules/_form.scss */
#form #discoErrorNotice ul,
form #discoErrorNotice ul {
  margin: 0;
  display: inline;
  font-weight: 600;
}
/* line 211, ../scss/modules/_form.scss */
#form #discoErrorNotice ul li,
form #discoErrorNotice ul li {
  display: inline;
}
/* line 214, ../scss/modules/_form.scss */
#form #discoErrorNotice ul li a,
form #discoErrorNotice ul li a {
  font-weight: 400;
  text-decoration: underline;
}

/* line 1, ../scss/_extends.scss */
.zero-out {
  margin: 0;
  padding: 0;
}

/* line 6, ../scss/_extends.scss */
.screenreader {
  position: absolute;
  left: -9999px;
  top: -9999px;
  margin-bottom: 0;
}

/* STRUCTURE */
/* line 19, ../scss/sites/login.scss */
.lutherLogin {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  background: #f6f6f6;
  padding-top: 3.125rem;
  line-height: 1.3;
}
/* line 27, ../scss/sites/login.scss */
.lutherLogin a:link, .lutherLogin a:visited {
  color: #1073ce;
}
/* line 30, ../scss/sites/login.scss */
.lutherLogin a:hover {
  color: #0d5ea8;
  text-decoration: underline;
}
/* line 36, ../scss/sites/login.scss */
.lutherLogin .minisiteWrap {
  width: 90%;
  max-width: 25rem;
  margin: 0 auto;
}
/* line 42, ../scss/sites/login.scss */
.lutherLogin .minisiteWrap .siteTitle a {
  display: block;
  width: 100px;
  margin: 0 auto;
}
/* line 50, ../scss/sites/login.scss */
.lutherLogin .minisiteWrap #contentAndRelated {
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 0 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 0 2px;
  box-shadow: rgba(0, 0, 0, 0.25) 0 0 2px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  margin-bottom: 2rem;
  background: white;
}
/* line 57, ../scss/sites/login.scss */
.lutherLogin .minisiteWrap #contentAndRelated .pageTitle {
  font-size: 1rem;
  text-align: center;
  background: #eeeeee;
  padding: 1rem;
  color: rgba(0, 71, 137, 0.75);
  text-transform: uppercase;
  -webkit-border-radius: 8px 8px 0 0;
  -moz-border-radius: 8px 8px 0 0;
  -ms-border-radius: 8px 8px 0 0;
  -o-border-radius: 8px 8px 0 0;
  border-radius: 8px 8px 0 0;
  border-bottom: 1px solid #e1e1e1;
}
/* line 67, ../scss/sites/login.scss */
.lutherLogin .minisiteWrap #contentAndRelated .pageTitle:before {
  margin-right: 0.5rem;
  content: "\f023";
  color: rgba(0, 71, 137, 0.75);
}
/* line 76, ../scss/sites/login.scss */
.lutherLogin .minisiteWrap #contentAndRelated .contentMain {
  padding: 1rem 1.125rem;
}
/* line 79, ../scss/sites/login.scss */
.lutherLogin .minisiteWrap #contentAndRelated .contentMain h3 {
  font-size: 1.125rem;
  padding: 0;
  margin: 0 0 1rem;
}
/* line 85, ../scss/sites/login.scss */
.lutherLogin .minisiteWrap #contentAndRelated .contentMain h4.msg {
  color: red;
}
/* line 89, ../scss/sites/login.scss */
.lutherLogin .minisiteWrap #contentAndRelated .contentMain p {
  color: #9d9d9d;
}
/* line 92, ../scss/sites/login.scss */
.lutherLogin .minisiteWrap #contentAndRelated .contentMain p.smallText {
  font-size: 0.75rem;
  margin-top: 1rem;
}
/* line 98, ../scss/sites/login.scss */
.lutherLogin .minisiteWrap #contentAndRelated .contentMain table {
  width: 100%;
}
/* line 102, ../scss/sites/login.scss */
.lutherLogin .minisiteWrap #contentAndRelated .contentMain tr {
  display: block;
  margin-top: 1.5rem;
}
/* line 107, ../scss/sites/login.scss */
.lutherLogin .minisiteWrap #contentAndRelated .contentMain td:first-child {
  display: inline-block;
  width: 30%;
  margin-right: 5%;
  font-weight: 300;
  font-size: 0.875rem;
}
@media only screen and (min-width: 30em) {
  /* line 107, ../scss/sites/login.scss */
  .lutherLogin .minisiteWrap #contentAndRelated .contentMain td:first-child {
    font-size: 0.875rem;
  }
}
/* line 121, ../scss/sites/login.scss */
.lutherLogin .minisiteWrap #contentAndRelated .contentMain td:last-child {
  display: inline-block;
  width: 65%;
}
