/* line 288, ../../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-small {
  font-family: "/only screen and (max-width: 40em)/";
  width: 0em;
}

/* line 293, ../../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:40.063em) and (max-width:63.75em)/";
  width: 40.063em;
}

/* line 298, ../../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-large {
  font-family: "/only screen and (min-width:63.8125em)/";
  width: 64.063em;
}

/* line 303, ../../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:90.063em)/";
  width: 90.063em;
}

/* line 308, ../../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:120.063em)/";
  width: 120.063em;
}

/* line 318, ../../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 323, ../../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
html,
body {
  font-size: 100%;
}

/* line 326, ../../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
body {
  background: white;
  color: #444444;
  padding: 0;
  margin: 0;
  font-family: "Roboto Slab", serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  position: relative;
  cursor: default;
}

/* line 339, ../../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
a:hover {
  cursor: pointer;
}

/* line 344, ../../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
img,
object,
embed {
  max-width: 100%;
  height: auto;
}

/* line 347, ../../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
object,
embed {
  height: 100%;
}

/* line 348, ../../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
img {
  -ms-interpolation-mode: bicubic;
}

/* line 354, ../../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important;
}

/* line 359, ../../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
.left {
  float: left !important;
}

/* line 360, ../../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
.right {
  float: right !important;
}

/* line 361, ../../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
.clearfix {
  *zoom: 1;
}
/* line 165, ../../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
/* line 166, ../../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
.clearfix:after {
  clear: both;
}

/* line 362, ../../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
.text-left {
  text-align: left !important;
}

/* line 363, ../../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
.text-right {
  text-align: right !important;
}

/* line 364, ../../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
.text-center {
  text-align: center !important;
}

/* line 365, ../../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
.text-justify {
  text-align: justify !important;
}

/* line 366, ../../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
.hide {
  display: none;
}

/* line 372, ../../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
.antialiased {
  -webkit-font-smoothing: antialiased;
}

/* line 375, ../../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
img {
  display: inline-block;
  vertical-align: middle;
}

/* line 385, ../../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
textarea {
  height: auto;
  min-height: 50px;
}

/* line 388, ../../foundation/bower_components/foundation/scss/foundation/components/_global.scss */
select {
  width: 100%;
}

/* line 4, ../scss/font-awesome/_core.scss */
.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 10, ../scss/_extends.scss */
.zero-out {
  margin: 0;
  padding: 0;
}

/* line 15, ../scss/_extends.scss */
.screenreader {
  position: absolute;
  left: -9999px;
  top: -9999px;
  margin-bottom: 0;
}

/* STRUCTURE */
@media only screen and (min-width: 63.8125em) {
  /* line 24, ../scss/sites/sports.scss */
  .lutherSports {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #292929), color-stop(100%, #333333));
    background-image: -webkit-linear-gradient(#292929, #333333);
    background-image: -moz-linear-gradient(#292929, #333333);
    background-image: -o-linear-gradient(#292929, #333333);
    background-image: linear-gradient(#292929, #333333);
  }
}
/* line 35, ../scss/sites/sports.scss */
.lutherSports a.more,
.lutherSports .pubLinks a,
.lutherSports p.more a {
  color: #004789;
}
/* line 38, ../scss/sites/sports.scss */
.lutherSports a.more:hover,
.lutherSports .pubLinks a:hover,
.lutherSports p.more a:hover {
  color: #002d56;
}
/* line 44, ../scss/sites/sports.scss */
.lutherSports .contactBlurb .blurbInner {
  border-color: #004789;
}
@media only screen and (min-width: 63.8125em) {
  /* line 49, ../scss/sites/sports.scss */
  .lutherSports #minisite {
    margin: 1.25rem 0;
    padding-top: 0;
    border: none;
    background: none;
  }
  /* line 65, ../scss/sites/sports.scss */
  .lutherSports #minisite #contentAndRelated {
    background: #FFF;
    padding-right: 1.25rem !important;
    padding-top: 1.25rem;
  }
}
/* line 73, ../scss/sites/sports.scss */
.lutherSports #emergencyPreempt {
  margin-top: 1.25rem;
}
/* line 75, ../scss/sites/sports.scss */
.lutherSports #emergencyPreempt .callout-danger {
  background: #f2968b;
}
/* line 84, ../scss/sites/sports.scss */
.lutherSports #wrapper #global-banner {
  border-color: #27527b;
}
/* line 89, ../scss/sites/sports.scss */
.lutherSports #wrapper #global-nav {
  border-color: #336ca2;
}
@media only screen and (min-width: 63.8125em) {
  /* line 95, ../scss/sites/sports.scss */
  .lutherSports #wrapper #global-nav .sections > li {
    background: #004789;
  }
  /* line 100, ../scss/sites/sports.scss */
  .lutherSports #wrapper #global-nav .sections > li a:hover {
    background-color: #003c75;
  }
}
/* line 116, ../scss/sites/sports.scss */
.lutherSports #wrapper #global-banner hgroup {
  background: #0a2345;
}
/* line 126, ../scss/sites/sports.scss */
.lutherSports #wrapper #global-banner hgroup h1 a {
  background: url("../../images/logo_mobile_1x.png") no-repeat;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 132, ../scss/sites/sports.scss */
  .lutherSports #wrapper #global-banner hgroup h1 a {
    background: url("../../images/logo_mobile_2x.png") no-repeat;
    -webkit-background-size: 150px 28px;
    -moz-background-size: 150px 28px;
    -o-background-size: 150px 28px;
    background-size: 150px 28px;
  }
}
@media only screen and (min-width: 63.8125em) {
  /* line 140, ../scss/sites/sports.scss */
  .lutherSports #wrapper #global-banner hgroup h1 a {
    width: 168px;
    height: 75px;
    background: url("../../images/logo_sports_1x.png") no-repeat;
    top: 10.5px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 63.8125em), only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 63.8125em), only screen and (-o-min-device-pixel-ratio: 2 / 1) and (min-width: 63.8125em), only screen and (min-device-pixel-ratio: 2) and (min-width: 63.8125em), only screen and (min-resolution: 192dpi) and (min-width: 63.8125em), only screen and (min-resolution: 2dppx) and (min-width: 63.8125em) {
  /* line 150, ../scss/sites/sports.scss */
  .lutherSports #wrapper #global-banner hgroup h1 a {
    background: url("../../images/logo_2x.png") no-repeat;
    -webkit-background-size: 168px 75px;
    -moz-background-size: 168px 75px;
    -o-background-size: 168px 75px;
    background-size: 168px 75px;
  }
}
@media only screen and (min-width: 63.8125em) {
  /* line 163, ../scss/sites/sports.scss */
  .lutherSports #minisite #navWrap #minisiteNavigation {
    background: #424242;
  }
  /* line 172, ../scss/sites/sports.scss */
  .lutherSports #minisite #navWrap #minisiteNavigation a {
    color: white;
  }
  /* line 176, ../scss/sites/sports.scss */
  .lutherSports #minisite #navWrap #minisiteNavigation .navListTop a.home {
    background: #999999;
    color: #004789;
    border-bottom: none;
  }
  /* line 182, ../scss/sites/sports.scss */
  .lutherSports #minisite #navWrap #minisiteNavigation .navListTop ul a {
    border-top: 1px solid #212121;
    color: white;
  }
  /* line 186, ../scss/sites/sports.scss */
  .lutherSports #minisite #navWrap #minisiteNavigation .navListTop ul a:hover {
    background: #333333;
    color: white;
  }
  /* line 194, ../scss/sites/sports.scss */
  .lutherSports #minisite #navWrap #minisiteNavigation .navListTop ul ul a {
    border-top: 1px solid #303030;
  }
  /* line 197, ../scss/sites/sports.scss */
  .lutherSports #minisite #navWrap #minisiteNavigation .navListTop ul ul a:hover {
    background: #3d3d3d;
  }
  /* line 203, ../scss/sites/sports.scss */
  .lutherSports #minisite #navWrap #minisiteNavigation .navListTop ul .navListItem.open {
    background: #4d4d4d;
  }
  /* line 207, ../scss/sites/sports.scss */
  .lutherSports #minisite #navWrap #minisiteNavigation .navListTop ul .navListItem.open a:hover {
    background: #525252 !important;
  }
  /* line 216, ../scss/sites/sports.scss */
  .lutherSports #minisite #navWrap #minisiteNavigation .jump a:before,
  .lutherSports #minisite #navWrap #minisiteNavigation .accordion a:before {
    color: #FFF;
  }
}
/* line 223, ../scss/sites/sports.scss */
.lutherSports #minisite #navWrap .socialProfileLinks {
  background: #1073ce;
  background: #999999;
}
/* line 230, ../scss/sites/sports.scss */
.lutherSports #minisite .uname_luther_sports_affiliations {
  text-align: center;
}
/* line 233, ../scss/sites/sports.scss */
.lutherSports #minisite .uname_luther_sports_affiliations p {
  display: inline;
}
/* line 237, ../scss/sites/sports.scss */
.lutherSports #minisite .uname_luther_sports_affiliations a {
  display: inline-block;
  margin: 1.25rem;
}
/* line 242, ../scss/sites/sports.scss */
.lutherSports #minisite .uname_luther_sports_affiliations img {
  width: 6.25rem;
}
/* line 295, ../scss/sites/sports.scss */
.lutherSports #preFoot {
  clear: both;
  width: 100%;
  margin-bottom: 1.25rem;
  background: #e9e9e9;
}
/* line 303, ../scss/sites/sports.scss */
.lutherSports #preFoot:before, .lutherSports #preFoot:after {
  display: block;
  height: 1px;
  background: gainsboro;
  content: "";
}
@media only screen and (min-width: 63.8125em) {
  /* line 295, ../scss/sites/sports.scss */
  .lutherSports #preFoot {
    margin: 0 auto;
    background: none;
  }
  /* line 316, ../scss/sites/sports.scss */
  .lutherSports #preFoot:before, .lutherSports #preFoot:after {
    display: none;
  }
}
@media only screen and (min-width: 63.8125em) {
  /* line 331, ../scss/sites/sports.scss */
  .lutherSports .loginLinkModule div a {
    background: #ccc;
    background: rgba(255, 255, 255, 0.05) !important;
    color: rgba(255, 255, 255, 0.5);
  }
  /* line 336, ../scss/sites/sports.scss */
  .lutherSports .loginLinkModule div a:hover {
    background: #ccc;
    background: rgba(255, 255, 255, 0.25) !important;
    color: rgba(255, 255, 255, 0.65);
  }
  /* line 344, ../scss/sites/sports.scss */
  .lutherSports .loginLinkModule #footerLoginLink {
    background: #ccc;
    background: rgba(255, 255, 255, 0.05) !important;
    color: rgba(255, 255, 255, 0.5);
  }
}
/* line 352, ../scss/sites/sports.scss */
.lutherSports #post-footer p {
  color: #FFF !important;
}
