/* line 4, ../scss/font-awesome/_core.scss */
.fa, .lutherSports .responsiveEventsList .view-all ul .more:after {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 10, ../scss/_extends.scss */
.zero-out {
  margin: 0;
  padding: 0;
}

/* line 15, ../scss/_extends.scss */
.screenreader {
  position: absolute;
  left: -9999px;
  top: -9999px;
  margin-bottom: 0;
}

/* STRUCTURE */
/* line 24, ../scss/sites/sports.scss */
.lutherSports {
  background: #333;
  background: #333333;
  background: black;
  background: #002d56;
  background: #333;
}
/* line 32, ../scss/sites/sports.scss */
.lutherSports #minisite {
  background: #FFF;
}
/* line 44, ../scss/sites/sports.scss */
.lutherSports #wrapper #global-banner hgroup h1 a {
  background: url("../../images/logo_mobile_1x.png") no-repeat;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 50, ../scss/sites/sports.scss */
  .lutherSports #wrapper #global-banner hgroup h1 a {
    background: url("../../images/logo_mobile_2x.png") no-repeat;
    -webkit-background-size: 150px 28px;
    -moz-background-size: 150px 28px;
    -o-background-size: 150px 28px;
    background-size: 150px 28px;
  }
}
@media only screen and (min-width: 64.063em) {
  /* line 58, ../scss/sites/sports.scss */
  .lutherSports #wrapper #global-banner hgroup h1 a {
    width: 168px;
    height: 75px;
    background: url("../../images/logo_sports_1x.png") no-repeat;
    top: 10.5px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 64.063em), only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 64.063em), only screen and (-o-min-device-pixel-ratio: 2 / 1) and (min-width: 64.063em), only screen and (min-device-pixel-ratio: 2) and (min-width: 64.063em), only screen and (min-resolution: 192dpi) and (min-width: 64.063em), only screen and (min-resolution: 2dppx) and (min-width: 64.063em) {
  /* line 68, ../scss/sites/sports.scss */
  .lutherSports #wrapper #global-banner hgroup h1 a {
    background: url("../../images/logo_2x.png") no-repeat;
    -webkit-background-size: 168px 75px;
    -moz-background-size: 168px 75px;
    -o-background-size: 168px 75px;
    background-size: 168px 75px;
  }
}
@media only screen and (min-width: 64.063em) {
  /* line 81, ../scss/sites/sports.scss */
  .lutherSports #minisite #navWrap #minisiteNavigation {
    background: #424242;
  }
  /* line 90, ../scss/sites/sports.scss */
  .lutherSports #minisite #navWrap #minisiteNavigation a {
    color: white;
  }
  /* line 94, ../scss/sites/sports.scss */
  .lutherSports #minisite #navWrap #minisiteNavigation .navListTop a.home {
    background: #1073ce;
    color: white;
  }
  /* line 104, ../scss/sites/sports.scss */
  .lutherSports #minisite #navWrap #minisiteNavigation .navListTop ul a {
    border-top: 1px solid #212121;
    color: white;
  }
  /* line 108, ../scss/sites/sports.scss */
  .lutherSports #minisite #navWrap #minisiteNavigation .navListTop ul a:hover {
    background: #333333;
    color: white;
  }
  /* line 116, ../scss/sites/sports.scss */
  .lutherSports #minisite #navWrap #minisiteNavigation .navListTop ul ul a {
    border-top: 1px solid #303030;
  }
  /* line 119, ../scss/sites/sports.scss */
  .lutherSports #minisite #navWrap #minisiteNavigation .navListTop ul ul a:hover {
    background: #3d3d3d;
  }
  /* line 125, ../scss/sites/sports.scss */
  .lutherSports #minisite #navWrap #minisiteNavigation .navListTop ul .navListItem.open {
    background: #4d4d4d;
  }
  /* line 129, ../scss/sites/sports.scss */
  .lutherSports #minisite #navWrap #minisiteNavigation .navListTop ul .navListItem.open a:hover {
    background: #3d3d3d;
  }
  /* line 138, ../scss/sites/sports.scss */
  .lutherSports #minisite #navWrap #minisiteNavigation .jump:before,
  .lutherSports #minisite #navWrap #minisiteNavigation .accordion:before {
    color: #FFF;
  }
}
/* line 146, ../scss/sites/sports.scss */
.lutherSports #minisite #navWrap .socialProfileLinks {
  background: #1073ce;
}
/* line 151, ../scss/sites/sports.scss */
.lutherSports #minisite .uname_luther_sports_affiliations {
  text-align: center;
}
/* line 155, ../scss/sites/sports.scss */
.lutherSports #minisite .uname_luther_sports_affiliations a {
  display: inline-block;
  margin: 1.25rem;
}
/* line 160, ../scss/sites/sports.scss */
.lutherSports #minisite .uname_luther_sports_affiliations img {
  width: 6.25rem;
}
/* line 169, ../scss/sites/sports.scss */
.lutherSports .responsiveEventsList table {
  border: none;
}
/* line 173, ../scss/sites/sports.scss */
.lutherSports .responsiveEventsList table tr th,
.lutherSports .responsiveEventsList table tr td {
  font-size: 100%;
  padding: 0.9375rem;
}
@media only screen and (max-width: 40em) {
  /* line 177, ../scss/sites/sports.scss */
  .lutherSports .responsiveEventsList table tr th.location,
  .lutherSports .responsiveEventsList table tr td.location {
    display: none;
  }
}
/* line 192, ../scss/sites/sports.scss */
.lutherSports .responsiveEventsList .view-all ul {
  margin: 0;
}
/* line 197, ../scss/sites/sports.scss */
.lutherSports .responsiveEventsList .view-all ul .more:after {
  content: "\f138";
  margin-left: 0.375rem;
}
