/* line 4, ../scss/font-awesome/_core.scss */
.fa, .lutherSports .responsiveEventsList .view-all ul .more:after {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 10, ../scss/_extends.scss */
.zero-out {
  margin: 0;
  padding: 0;
}

/* line 15, ../scss/_extends.scss */
.screenreader {
  position: absolute;
  left: -9999px;
  top: -9999px;
  margin-bottom: 0;
}

/* STRUCTURE */
/* line 19, ../scss/sites/sports.scss */
.lutherSports {
  background: #333;
}
/* line 23, ../scss/sites/sports.scss */
.lutherSports #minisite {
  background: #FFF;
}
/* line 35, ../scss/sites/sports.scss */
.lutherSports #wrapper #global-banner hgroup h1 a {
  background: url("../../images/logo_mobile_1x.png") no-repeat;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 41, ../scss/sites/sports.scss */
  .lutherSports #wrapper #global-banner hgroup h1 a {
    background: url("../../images/logo_mobile_2x.png") no-repeat;
    -webkit-background-size: 150px 28px;
    -moz-background-size: 150px 28px;
    -o-background-size: 150px 28px;
    background-size: 150px 28px;
  }
}
@media only screen and (min-width: 64.063em) {
  /* line 49, ../scss/sites/sports.scss */
  .lutherSports #wrapper #global-banner hgroup h1 a {
    width: 168px;
    height: 75px;
    background: url("../../images/logo_sports_1x.png") no-repeat;
    top: 10.5px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 64.063em), only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 64.063em), only screen and (-o-min-device-pixel-ratio: 2 / 1) and (min-width: 64.063em), only screen and (min-device-pixel-ratio: 2) and (min-width: 64.063em), only screen and (min-resolution: 192dpi) and (min-width: 64.063em), only screen and (min-resolution: 2dppx) and (min-width: 64.063em) {
  /* line 59, ../scss/sites/sports.scss */
  .lutherSports #wrapper #global-banner hgroup h1 a {
    background: url("../../images/logo_2x.png") no-repeat;
    -webkit-background-size: 168px 75px;
    -moz-background-size: 168px 75px;
    -o-background-size: 168px 75px;
    background-size: 168px 75px;
  }
}
/* line 72, ../scss/sites/sports.scss */
.lutherSports #minisite #navWrap .navListTop a.home {
  background: #CCCCCC;
}
/* line 76, ../scss/sites/sports.scss */
.lutherSports #minisite #navWrap #minisiteNavigation {
  background: #445566;
}
/* line 79, ../scss/sites/sports.scss */
.lutherSports #minisite #navWrap #minisiteNavigation a {
  color: #FFF;
}
/* line 91, ../scss/sites/sports.scss */
.lutherSports .responsiveEventsList .view-all ul {
  margin: 0;
}
/* line 96, ../scss/sites/sports.scss */
.lutherSports .responsiveEventsList .view-all ul .more:after {
  content: "\f138";
  margin-left: 0.375rem;
}
