.sites {
	background-color: #8AA3D0;
	padding: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #385790;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #385790;
}
.leftNav {
	padding: 20px;
	background-color: #E9EEF8;
	border-right:1px solid #dbe3f2;
	border-bottom: 1px solid #d3dced;
}
.leftNav .siteName {
	font-size:1.1em;
	margin:0;
}
.leftNav .siteName a {
	color: #000099;
	text-decoration:none;
	display:block;
	padding:0.1em;
}
.leftNav .siteName strong {
	display:block;
	padding:0.1em;
}
.leftNav .siteName a:hover {
	background-color:#f1f4fb;
	text-decoration:underline;
}
.managerNav {
	background-color: #FEEFB5;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 15px;
}
.managerList {
	margin-right: 15px;
	margin-left: 15px;
}
.leftList {
	margin: 3px 0 0 0px;
	padding: 0;
	list-style-type: none;
	
}
.leftList a {
	display:block;
	vertical-align:top;
	padding:4px 0 5px 0;
}
.leftList a:hover {
	background-color:#f1f4fb;
}
.leftList a.inline {
	display:inline;
	padding:0;
	vertical-align:baseline;
}
.leftList a img {
	border:0;
	margin:0 4px 0;
	vertical-align:top;
}
.navSelect a {
}
.navSelect {
	font-weight: bold;
	background-color:#f6f8fc;
}
.managerNav .navSelect, .managerNav ul.outer ul li.navSelect {
	background-color:#fef7dd;
	padding:4px 0 5px 0;
}
.managerNav .leftList a:hover {
	background-color:#fef4cf;
}
.managerNav ul.outer li {
	padding:4px 0 5px 0;
}
.managerNav ul.outer ul li {
	padding:0;
}
.nav {
	text-decoration: none;
}
.viewFilter {
	background-color: #8AA3D0;
}
.viewInfo {
	background-color: #D9E2F4;
}
.roundedTop { background: url(../../ui_images/reason_admin/ne.png) no-repeat top right }
* html .roundedTop { background-image: url(../../ui_images/reason_admin/ne.gif) }
.roundedBottom { background: url(../../ui_images/reason_admin/se.png) no-repeat bottom right }
* html .roundedBottom { background-image: url(../../ui_images/reason_admin/se.gif) }
img.roundedCorner {width: 6px; height: 6px; border: none; display: block; }
.roundedTop img.roundedCorner { background-image: url(../../ui_images/reason_admin/nw.png); }
* html .roundedTop img.roundedCorner { background-image: url(../../ui_images/reason_admin/nw.gif); width:10px; height:10px; }
.roundedBottom img.roundedCorner { background-image: url(../../ui_images/reason_admin/sw.png); }
* html .roundedBottom img.roundedCorner { background-image: url(../../ui_images/reason_admin/sw.gif); width:10px; height:10px; }
.viewFilter h4 {
	margin:0;
	font-size:1em;
}
.viewFilter tr.submitRow input, .viewFilter tr#discoSubmitRow input {
	background-color:#e9eef8;
	border:1px solid #385790;
	padding:3px 5px;
	color:#385790;
	text-transform:uppercase;
	font-weight:bold;
	cursor:pointer;
	font-size:0.9em;
	letter-spacing:0.05em;
}
.viewFilter tr.submitRow input:hover, .viewFilter tr#discoSubmitRow input:hover {
	background-color:#fff;
}
.viewFilter tr.submitRow input.clear, .viewFilter tr#discoSubmitRow input[name="clear"] {
	background-color:#c5d2eb;
}
.viewFilter tr.submitRow input.clear:hover, .viewFilter tr#discoSubmitRow input[name="clear"]:hover {
	background-color:#e9eef8;
}
.addLink {
	background-color:#EFC87B;
}
.addLink .roundedContent a {
	display:block;
	padding-left:18px;
	background:transparent url(../../silk_icons/add.png) no-repeat left center;
	min-height:16px;
	color:#6a3921;
}
* html .addLink .roundedContent a {
	height:16px;
}
.addLink .roundedContent a:hover {
	color:#8a410b;
}
.addLink .roundedContent .importBlock a {
	background-image:url(../../ui_images/reason_admin/batch_import.png);
}
.oldBrowserAlert {
	display: none;
}
.publicSiteLink {
	font-weight: bold;
	color: #fff;
	text-decoration: underline;
	padding: 4px;
	margin-left: 15px;
}
div#preview table.itemData th, div#preview table.itemData td {
	margin:0;
	padding:3px 5px;
	border:none;
	vertical-align:top;
}
div#preview table.itemData th {
	font-size:80%;
	color:#999;
}
div#preview table.itemData td.col1, div#preview table.itemData th.col1 {
	text-align:right;
	font-weight:bold;
}
div#preview table.itemData td.col2, div#preview table.itemData th.col2 {
	text-align:left;
	font-weight:normal;
}
div#previewRels ul {
	list-style: none;
	margin:0px;
	padding:0px;
}
div#previewRels ul li {
	margin: 10px 0px 15px 0px;
}
div#previewRels ul ul {
	list-style-type:disc;
	margin: 5px 0px 5px 20px;
}
div#previewRels ul ul li {
	margin: 5px;
}
div#previewRels ul h4 {
	margin: 5px 0px 5px 0px;
}
div#previewRels h3 {
	border-bottom: 1px dotted #8AA3D0;
	padding: 0px 0px 6px 0px;
	margin: 35px 0px 0px 0px;
}
div#preview table, table#adminLayoutTable {
	width:100%;
}
div#preview table td.col1 {
	width:15%;
}
div#themeSelection ul {
	padding:0px;
	margin:0px;
	list-style-type:none;
	background-color:#dddddd;
}
div#themeSelection li {
	padding:1em;
	border-top:1px solid #ffffff;
	background-image: url(../../ui_images/reason_admin/sw.gif);
	background-repeat: no-repeat;
	background-position: bottom left;
}
div#themeSelection li:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}
* html div#themeSelection li {
	height: 1%;
}
div#themeSelection div.image {
	float:right;
	border:1px solid #333333;
}
div#themeSelection h4 {
	margin-bottom:0px;
	padding:.5em 1em;
	background-color:#666666;
	color:#eeeeee;
	background-image: url(../../ui_images/reason_admin/ne.gif);
	background-repeat: no-repeat;
	background-position: top right;
	font-weight:normal;
	font-style:italic;
}
ul.leftList li.masterAdmin {
	border-bottom:1px solid #748FC2;
	border-top:1px solid #748FC2;
	padding-bottom:.5em;
	padding-top:.5em;
	margin-bottom:.6em;
}
div#guide h4 {
	margin:0;
}
div#guide h4 span.count {
	font-weight:normal;
	color:#666;
}
div#guide li {
	margin-top:.8em;
	margin-bottom:.8em;
}
div#guide li.minisite_page {
	border-bottom:1px dotted #999;
	padding-bottom:.5em;
}
div#guide div.recent, div#guide div.recent ul li a, div#guide h4 span.count {
	font-size:90%;
}
div#guide div.recent ul, div#guide div.recent ul li {
	display:inline;
	margin:0;
	padding:0;
}
div#guide div.recent ul li {
	border-left:1px dotted #666;
	padding-left:.5em;
}
div#guide div.recent ul li.item1 {
	border-left:none;
	padding-left:0;
}
div#guide div.recent a.more {
	font-style:italic;
}
div#siteIntro div#siteNotices {
	float:right;
	width:33%;
}
div#siteIntro div#siteNotices div#siteDesc, div#siteIntro div#siteNotices div#whatsNew, div#siteIntro div#siteNotices div.notLiveNotice {
	padding:1em;
	margin:0 0 1em 1em;
	background-color:#E9EEF8;
}
div#siteIntro div#siteNotices div.notLiveNotice h4 {
	margin:0;
	color:#555;
}
div#siteIntro div#siteNotices div.notLiveNotice p {
	margin:0.5em 0 0 0;
	font-size:0.9em;
	color:#333;
}
div.otherSiteRelation {
	margin: .5em;
	padding:.75em;
	border:1px solid #dcdcdc;
	background-color:#f9f9f9;
	color:#666;
	float:right;
	width:30%;
}
div.otherSiteRelation ul {
	margin:.5em 0 0 0;
	padding-left:1.5em;
}
div.otherSiteRelation ul li, div.otherSiteRelation strong {
	font-size:97%;
}
p.otherActionItems {
	margin-bottom:0;
}
p.testGroup {
	float:right;
	padding:.5em;
	margin:0;
	border:1px solid #aaa;
}
div.importBlock {
	margin-top:.67em;
	padding-top:.67em;
	border-top:1px solid #fff;
}
div#allRels #connectionsRow h4, div#allRels #connectionsRow dl {
	margin:.5em 0;
}
div#allRels #connectionsRow dt {
	font-style:italic;
}
a.openToggler {
	cursor:pointer;
}
div.treeItemWrapDepth1 {
	margin-left:2.5em;
}
div.treeItemWrapDepth2 {
	margin-left:5em;
}
div.treeItemWrapDepth3 {
	margin-left:7.5em;
}
div.treeItemWrapDepth4 {
	margin-left:10em;
}
div.treeItemWrapDepth5 {
	margin-left:12.5em;
}
div.treeItemWrapDepth6 {
	margin-left:15em;
}
div.treeItemWrapDepth7 {
	margin-left:17.5em;
}
div.treeItemWrapDepth8 {
	margin-left:20em;
}
div.treeItemWrapDepth9 {
	margin-left:22em;
}
div.treeItemWrapDepth10 {
	margin-left:24em;
}
div.treeItemWrapDepth11 {
	margin-left:26em;
}
div.treeItemWrapDepth12 {
	margin-left:28em;
}
div.treeItemWrapDepth13 {
	margin-left:29em;
}
div.treeItemWrapDepth14 {
	margin-left:30em;
}
div.treeItemWrapDepth15 {
	margin-left:31em;
}
div.treeItemWrapDepth16 {
	margin-left:32em;
}
form tr.error td, #discoLinear div.formElement.error {
	background-color:#FFC;
}
form tr.error td.words, #discoLinear div.formElement.error {
	font-weight:bold;
	color:#900;
}
#securityWarning {
	background-color:#fcf;
	padding:1em;
	border:1px solid #c9c;
}
#securityWarning h3, #securityWarning p {
	margin:0;
}
div.contentArea object.pageViewer, div.contentArea iframe.pageViewer {
	width:100%;
	height:500px;
	border:2px inset;
}
div.sortPostsModule td.words {
	font-size:90%;
	width:42%;
}
div.contentArea div.editor form#disco_form table#discoTable {
	width:100%;
}
span.listerPageNum, span.listerResultNum {
	white-space:nowrap;
}
div.versionUpdateNotice {
	background:#fffeca url(../../silk_icons/error.png) no-repeat 12px 12px;
	border:1px solid #f1df46;
	padding:12px 12px 12px 34px;
}
tr.notInNav td.viewerCol_name {
	
}

div.addlActions {
	color: #666;	
}

div.addlActions a {
	text-decoration: none;	
}

.borrowNav, .borrowNav ul {
	list-style:none;
	padding:0;
	margin:0;
	display:inline-block;
}
.borrowNav, .borrowNav ul {
	display:block;
}
.borrowNav:after, .borrowNav ul:after {
    content:".";
    display:block;
    visibility:hidden;
    clear:both;
    height:0;
}
.borrowNav {
	margin-bottom:0.85em;
	background:transparent url(../../ui_images/subtle_tabs/tabset_bg.gif) repeat-x bottom;
}
.borrowNav li {
	float:left;
	margin-left:0.7em;
	border:1px solid #d3dbef;
	background-color:#fff;
}
.borrowNav li.current {
	border-bottom-color:#fff;
}
.borrowNav strong, .borrowNav a {
	color:#333;
	display:block;
	padding:0.3em 0.8em 0.3em 0.7em;
	border:1px solid #fff;
	text-decoration:none;
}
.borrowNav a {
	background:#edf1f9 url(../../ui_images/subtle_tabs/tab_bg.gif) repeat-x bottom;
	border-bottom-color:#e3e9f6;
}
.borrowNav a img {
	border:none;
}
.borrowNav a:hover {
	text-decoration:underline;
	background-color:#e4eaf8;
	background-image:url(../../ui_images/subtle_tabs/tabhover_bg.gif);
	color:#000;
}
.borrowNav li.current strong {
	background:#fff url(../../ui_images/subtle_tabs/curtab_bg.gif) repeat-x;
}

/*  Added for styling of associator jump links 12/3/12 - Amanda Frisbee */

.jumpLinkFind, .jumpLinkTop {
	background-color:#dbdbdb;
	width: 200px;
	float: right;
}
.jumpLinkFind .roundedContent a.jump {
	display:block;
	padding-left:18px;
	background:transparent url(../../silk_icons/arrow_down.png) no-repeat left center;
	min-height:16px;
	color:#000099;
}
.jumpLinkTop .roundedContent a.jump {
	display:block;
	padding-left:18px;
	background:transparent url(../../silk_icons/arrow_up.png) no-repeat left center;
	min-height:16px;
	color:#000099;
}
* html .jumpLink .roundedContent a {
	height:16px;
}
.jumpLinkFind .roundedContent a:hover, .jumpLinkTop .roundedContent a:hover {
	color:#fffdee;
	/*color:#000099;*/
}
