.listRow1 td {
	background-color: #FFFBDA;
	background-image: url(../../ui_images/1px_white.gif);
	background-repeat: repeat-x;
}
.listRow2 td {
	background-color: #fffdee;
	background-image: url(../../ui_images/1px_white.gif);
	background-repeat: repeat-x;
}
.listHead {
	background-color: #FAEEBF;
	background-image: url(../../ui_images/1px_white.gif);
	background-repeat: repeat-x;
}
.viewFilter {
	background-color: #FAEEBF;
	margin-right: 15px;
	margin-bottom: 15px;
}
