.listRow1 td {
	background-color: #FFFBDA;
	background-image: url(../../ui_images/1px_white.gif);
	background-repeat: repeat-x;
}
.listRow2 td {
	background-color: #fffdee;
	background-image: url(../../ui_images/1px_white.gif);
	background-repeat: repeat-x;
}
.listHead {
	background-color: #FAEEBF;
	background-image: url(../../ui_images/1px_white.gif);
	background-repeat: repeat-x;
}
.viewFilter {
	background-color: #F0E1A8;
	margin-right: 0;
	margin-bottom: 15px;
	float:none;
	width:auto;
	max-width:40em;
}

.listrow1 td {
	background-color: #FFFBDA;
	background-image: url(../../ui_images/1px_white.gif);
	background-repeat: repeat-x;
	/* background-color: #FFFBDA; */
	/* background-color: #EAEFE0; */
}
.listrow2 td {
	background-color: #FFFFFF;
	background-image: url(../../ui_images/1px_white.gif);
	background-repeat: repeat-x;
	/* background-color: #FAEEBF; */
	/* background-color: #D6DEC6; */
}
.listHead {
	background-color: #FAEEBF;
	background-image: url(../../ui_images/1px_white.gif);
	background-repeat: repeat-x;
	/* background-color: #FAEEBF; */
	/* background-color: #D6DEC6; */
}



a.sort_switch_up img, a.sort_switch_down img
{
	margin-left: auto;
	margin-right: auto;
	display: block;
	border: none;
}