// Common Styles
// Cloak, v1

// Common styles and elements that are repeated throughout Reason

// Persistent is the search and filter interface that goes along with some modules
.persistent {
	margin-bottom: $horizontal-gutter;
	border: none;

	#filtering {
		@include clearfix;
		margin: 0;
		background: $snow;
		border: 1px solid $silver;
		padding: $horizontal-gutter/2;
		padding-bottom: 0;

		.searchForm {
			// Form styles included in _form.scss
			
			// Remove filter button
			a {
				display: block;
				float: left;
				line-height: 1;
				margin-left: rem-calc(12);
				//margin-bottom: rem-calc(6);
				padding: rem-calc(4);
				font-size: rem-calc(12);
				background: $white;
				border: 1px solid $iron;
				border-top: 0;
				border-radius: 0 0 $global-radius $global-radius;

				&:hover {
					border-color: $aluminum;
				}

				@include inline-icon($icon: $fa-var-times-circle);
			}
		}
		
		// Category filter as a select dropdown
		.filterSet {
			margin: 0 0 $horizontal-gutter/2 0 !important;
			
			.filterSelect {
			}

			// Remove filter button
			a {
				display: block;
				float: left;
				line-height: 1;
				margin-left: rem-calc(12);
				margin-bottom: rem-calc(6);
				margin-bottom: $horizontal-gutter/2;
				padding: rem-calc(4);
				font-size: rem-calc(12);
				background: $white;
				border: 1px solid $iron;
				border-top: 0;
				border-radius: 0 0 $global-radius $global-radius;

				&:hover {
					border-color: $aluminum;
				}

				@include inline-icon($icon: $fa-var-times-circle);
			}
		}

		// Category list navigation
		.filters {
			margin: 0 0 $horizontal-gutter/2 0 !important;

			h4 {
				display: inline-block;
				margin-right: rem-calc(8);
				font-weight: 400;

				@media #{$small-only} {
					font-weight: 700;
				}
			}

			ul {
				list-style-type: none;
				margin: 0;
				display: inline;

				li {
					display: inline-block;
					margin-right: rem-calc(8);
					white-space: pre;

					a {
						@include inline-icon($icon: $fa-var-folder-o, $color: $monsoon);
					}

					strong {
						@include inline-icon($icon: $fa-var-folder-open-o, $color: inherit);
					}
				}
			}
		}
	}

	.loginlogout {
		margin: $column-gutter/4 $column-gutter/2 0 0;
		text-align: right;
		font-size: rem-calc(14);

		a {
			@include inline-icon($pseudo: after, $icon: $fa-var-lock);
		}
	}
}

.moduleNav {

	// PAGINATION
	// Foundaiton's pagnation mixins use different markup than Reason's.
	// For maximum integration, we use Foundation pagination mixins and variables wherever possible.
	.pagination {
		display: block;
		min-height: $pagination-height;
		margin-#{$default-float}: $pagination-margin;
		margin-bottom: $horizontal-gutter;
		padding: 0 !important;
		background: none !important;

		&.above {
		}

		&.below {
		}

		.next,
		.previous {
			border: none !important;
			margin: 0 !important;
			padding: 0;
		}

		.pages a,
		.pages strong,
		.next,
		.previous { 
			height: $pagination-li-height;
			color: $pagination-li-font-color;
			font-size: $pagination-li-font-size;
			margin-#{$default-float}: $pagination-li-margin;
			float: $pagination-li-float;
			display: block;
			padding: $pagination-link-pad !important;
			background: none;
			@include radius;
			font-weight: normal;
			line-height: inherit;
			@include single-transition(background-color);

			&:hover,
			&:focus {
				background: $pagination-link-active-bg;
			}
		}

		.pages {

			strong {
				@include pagination-current-item($has-anchor: false);
				float: $pagination-li-float;
				margin-left: $pagination-li-margin;
			}
		}
	}

	.feedLink {

		.feedInfo {

			a {
				@include feed-button();
			}
		}
	}
}

#generic {
	@include clearfix;
	margin-bottom: $horizontal-gutter/2;

	.back {
	
		a {
			@include back-link();
		}
	}	
}
