// Footer Styles
// Cloak, v1

#footer {
	background: $vapor;
	border-top: 1px solid $gainsboro;
	text-align: center;
	padding: $horizontal-gutter/1.5 $column-gutter/2;

	@media #{$medium-up} {
		padding: $horizontal-gutter $column-gutter;
	}

	#maintained {
		// Maintained is a module, so it's styles are
		// found in modules/_maintained.scss.
	}

	.loginLinkModule {
		// Login Link is a module, so it's styles are
		// found in modules/_login-link.scss.
	}
}