// Header Styles
// Cloak, v1

#banner {
	background: $vapor;
	border-bottom: 1px solid $gainsboro;
	text-align: center;
	padding: $column-gutter;

	h1 {
		font-family: $font-family-serif;
		margin: 0;
		padding-bottom: $column-gutter/2;

	}

	#navigationToggles {
		@include zero-out();

		li {
			list-style-type: none;
			display: inline-block;
			margin: 0 rem-calc(6);

			&.navJump {

				@media #{$medium-high-up} {
					@include screenreader();
				}

				a {
					@include circle-icon-button();
				}

				.navJumpText {
					@include screenreader();
				}
			}

			&.searchToggle {
				a {
					@include circle-icon-button(rem-calc(15), rem-calc(10), $iron, $fa-var-search);
				}

				.searchJumpText {
					@include screenreader();
				}
			}
		}
	}

	#bannerXtra {

		#search {

			// Search uses Foundation's Reveal Modal
			// http://foundation.zurb.com/docs/components/reveal.html
			// Cloak sets many of the Reveal Modal's (lightbox) styles with variables in _settings.scss.
			// Cloak's custom global Reveal Modal styles are set in _widgets.scss.

		}
	}
}