<!-- <div data-rv-show="model.<%= Formbuilder.options.mappings.DEFAULT_VALUE %> == 'tom'"> -->
<div data-rv-show="model.displayDefaultValueUI">
		<% /* %>
		<P>debugger 4: [<span data-rv-text='model.default_value'></span>]
		<P>debugger 5: [<span data-rv-text='model.displayDefaultValueUI'></span>]
		<% */ %>
<div class='fb-edit-section-header'>Default Value</div>
  <div class='fb-default_value-description'>
		<textarea data-rv-input='model.<%= Formbuilder.options.mappings.DEFAULT_VALUE %>' /></textarea>
  </div>
</div>
