---
- hosts: all
  vars:
    http_port: 80
    max_clients: 200
    web_root_path: /var/www
    reason_package_path: /var/reason_package
  # vars_prompt:
  #   github_user: "What is your github username?"
  user: vagrant
  sudo: yes
  tasks:
  - name: ensure apache & php are installed
    apt: pkg={{ item }} state=present update_cache=yes cache_valid_time=86400
    with_items:
      - apache2
      - php5
      - libapache2-mod-php5
      - php5-mysql
      - php5-tidy
      - php5-curl
      - imagemagick
      - curl
    notify:
    - restart apache

  - name: ensure apache is running
    service: name=apache2 state=started

  - name: ensure MySQL is installed
    apt: pkg={{ item }} state=present
    with_items:
      - mysql-server
      - python-mysqldb

  - name: Start the MySQL service
    service: name=mysql state=started

  - name: create reason databases
    mysql_db: db={{ item }} state=present
    with_items:
      - reason
      - thor
    notify:
      - import reason databases
      - open setup in browser

  # WARNING!: usernames and passwords should not be specified here for production!
  - name: create user reason_user...NO PRODUCTION PASSWORDS
    mysql_user: state=present name=reason_user password=some_password priv=reason.*:ALL

  - name: create reason symlinks
    file: src={{ item.src }} dest={{ item.dest }} owner=www-data group=www-data state=link
    with_items:
      - { src: '{{ reason_package_path }}/reason_4.0/www/', dest: '{{ web_root_path }}/reason' }
      - { src: '{{ reason_package_path }}/www/', dest: '{{ web_root_path }}/reason_package' }
      - { src: '{{ reason_package_path }}/thor/', dest: '{{ web_root_path }}/thor' }
      - { src: '{{ reason_package_path }}/loki_2.0/', dest: '{{ web_root_path }}/loki_2.0' }
      - { src: '{{ reason_package_path }}/flvplayer/', dest: '{{ web_root_path }}/flvplayer' }
      - { src: '{{ reason_package_path }}/jquery/', dest: '{{ web_root_path }}/jquery' }
      - { src: '{{ reason_package_path }}/date_picker/', dest: '{{ web_root_path }}/date_picker' }
      # - { src: '{{ web_root_path }}/luther_css_js/stylesheets/', dest: '{{ web_root_path }}/stylesheets' }
      # - { src: '{{ web_root_path }}/luther_css_js/javascripts/', dest: '{{ web_root_path }}/javascripts' }
      # - { src: '{{ web_root_path }}/luther_css_js/images/', dest: '{{ web_root_path }}/images' }

  - name: set permissions on write required dirs
    file: path={{ item.path }} owner={{ item.owner }} group={{ item.group }} mode=0774 state=directory recurse=yes
    with_items:
      - { path: '{{ web_root_path }}/', owner: www-data, group: www-data }
      - { path: '{{ reason_package_path }}/reason_4.0/data/', owner: www-data, group: www-data }

  - name: copy php.ini to /etc/php5/apache2/php.ini
    copy: src=php.ini dest=/etc/php5/apache2/php.ini owner=root group=root mode=0644
    notify:
    - restart apache

  - name: copy reason config files for vagrant
    copy: src={{ item }} dest=/vagrant/settings/{{ item }}
    with_items:
      - dbs.xml
      - error_handler_settings.php

  - name: copy apache config with rewrite FileInfo
    copy: src=default dest=/etc/apache2/sites-available/default owner=root group=root mode=0644
    notify:
    - restart apache

  - name: Apache enable rewrite
    command: a2enmod rewrite creates=/etc/apache2/mods-enabled/rewrite.load
    notify: 
      - restart apache
      - update urls

  handlers:
    - name: restart apache
      service: name=apache2 state=restarted

    - name: import reason databases
      mysql_db: db={{ item.db }} target={{ item.target }} state=import
      with_items:
        - { db: reason, target: /var/sql/reason.sql }
        - { db: thor, target: /var/sql/thor.sql }
    
    - name: update urls
      command: 'curl -k -f http://192.168.56.101/reason/scripts/urls/update_urls_cli.php'

    - name: open setup in browser
      sudo: no
      local_action: 'shell open http://192.168.56.101/reason/setup.php'
