#affilTitle{
    width: 30%;
}

#directory_person table {
 background:#ffffff;
 border:none;
}
#directory_person th,
#directory_person td,
#directory_person caption {
 border:none;
 padding: 0 5px 0 0;
}
#directory_person td,
#directory_person tr {
 vertical-align: top;

}
#directory_person tr.ultra-light {
 background: #eeeeee;

}
#directory_person tr.light {
 background: #dddddd;
}

#directory_person {
    padding-bottom: 3px;
}

#directory_person td {
    width: 34ex;
}

#directory_person td#pic_td {
    width: 141px;
}

#directory_person {
    width: 640px;
    margin: 0 auto;
}

.nowrap{
white-space: nowrap;
}
