#content_primary{
		width:900px;
		margin:5px;
	}


#django_form{
		width:650px;
		margin:5px;
	}

        .content-primary {
            width:100%;
        }

        .fieldWrapper > ul > li {
            list-style:none;
            display:inline;
            width:auto;
        }

	.errorField{ 
		margin: 2%;
		border-color: red;
		border-style: solid;
		border-width: 2px;
		background:pink;
	}

	div {
		padding:5px;
	}

	label{
	}

	.fieldWrapper > label{
		display:block;
		text-align:right;
		padding-right:5px;
		width:150px;
	}
        

	div.fieldWrapper{
		display:block;
	}

	div.fieldWrapper label{
		float:left;
	}

	.inlineRadioBlock{
		list-style-type:none;
		display:block;
	}

	.inlineRadioBlock > label {
		display:inline-block;
		padding-right:5px;
		text-align:right;
		width:150px;
	}

	.inlineRadioBlock ul{
		list-style-type:none;
		display:inline;
		padding:0px;
	}

	.inlineRadioBlock  li{
		display:inline;
	}

	div.inlineRadioWrapper li{
		list-style-type:none;
		display:inline;
		padding-left:5px;
	}

	div.textareaWrapper{
		height:150px;
                margin-bottom:40px;
	}

	.textareaWrapper > label {
		display:inline;
		float:left;
		padding-top:40px;
		vertical-align:middle;
		text-align:right;
	}

	.textareaWrapper > textarea{
		display:inline;
		width:75%;
	}

	.textareaWrapper > .helper{
		padding-right:15px;
		text-align:right;
	}
	.required:after { content: '*'}
	.errorlist { 
		color:red;
		font-size:small;
	}
	.helper {
		font-size:small;
		display:block;
	}

	.buttons{
		width:257px;
		margin:0px auto;
	}