body {
    background-color: #e2ecf5;
    margin: 0px;
}

/* DIRECTIONS STYLE
*/

table.directions {
    padding-right: 1cm;
}

div#myBanner {
    background-image: url('/images/luther2010/mobile/mobile_header_grad.gif');
    background-repeat: repeat-x;
    padding-right: 0cm;
}

/*FOR NOW NO BANNER XTRA BECAUSE OF CAMPUS TOUR*/
div #head { display: none; }
/*--------------------*/

div#luther_search {
    position: relative;
}

div#absolute_search {
    z-index: 1;
    position: absolute;
    top: 13px;
    right: 2px;
    width:50%;
}

/* these next two (searchButton and search) may not do anything */
#searchButton {
    padding: 0; margin: 0;
}

#search {
    padding: 0; margin: 0;
}

div#content {
    color:#0b2345;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 1px;
    margin: 0px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

div#footer {
    font-size: 11px;
    color: #0B2345;
}

/*(for mobile news footer not to show) ---*/
div#foot ul {
    display: none;
}

div#foot div.vcard {
    display: none;
}

ol.icon-menu {
    list-style:none;
    margin: 0;
    padding:5px;
}
ol.icon-menu li {
    display:inline-block;
    background-repeat:no-repeat;
    background-position:center 10px;
    vertical-align:top;
}

.pageTitle{
    margin-top: 3px;
    margin-bottom: 10px;
    font-size: 20px;
}

ol.icon-menu li a {
    width: 60px;
    height:2em;
    padding:4px;
    padding-top: 75px;
    text-align:center;
    font-size: 10px;
    font-family: Helvetica;
    font-weight: bold;
    display:block;
    text-decoration:none;
    color: #0b2345;
}
li#menu-home {background-image:url('/images/luther2010/mobile/blue_home_mobile_icon.png');}
li#menu-directions {background-image:url('/images/luther2010/mobile/directions_mobile_icon.png');}
li#menu-mail {background-image:url('/images/luther2010/mobile/norse_mail_mobile_icon.png');}
li#menu-map {background-image:url('https://reason.luther.edu/images/luther2010/mobile/campus_map_2_mobile_icon.png');}
li#menu-directory {background-image:url('https://reason.luther.edu/images/luther2010/mobile/directory_2_mobile_icon.png');}
li#menu-cafcam {background-image:url('/images/luther2010/mobile/caf_cam_mobile_icon.png');}
li#menu-cafmenu {background-image:url('/images/luther2010/mobile/caf_menu_mobile_icon.png');}
li#menu-labstat {background-image:url('/images/luther2010/mobile/lab_availability_mobile_icon.png');}
li#menu-library_search {background-image:url('/images/luther2010/mobile/library_search_mobile_icon.png');}
li#menu-news {background-image:url('/images/luther2010/mobile/news_mobile_icon.png');}
li#menu-find {background-image:url('/images/luther2010/mobile/find_mobile_icon.png');}
li#menu-calendar {background-image:url('https://reason.luther.edu/images/luther2010/mobile/calendar_mobile_icon.png');}
li#menu-tour {background-image:url('https://reason.luther.edu/images/luther2010/mobile/campus_tour_icon.png');}
li#menu-admissions {background-image:url('/images/luther2010/mobile/admissions_mobile_icon.png');}
li#menu-visitors {background-image:url('/images/luther2010/mobile/visitor_mobile_icon.png');}
li#menu-contact {background-image:url('/images/luther2010/mobile/contact_mobile_icon.png');}
li#menu-fullmobile {background-image:url('/images/luther2010/mobile/full_mobile_mobile_icon.png');}
li#menu-christmascard {background-image: url('/images/luther2010/mobile/xmas_mobile_icon.png');}
li#menu-watchsports {background-image:url('/images/luther2010/mobile/watch_sports_mobile_icon.png');}

/* NEWS STYLE
*/

div.desc {
    display: none;
}

div.persistent {
    display: none;
}

div.pagination.above {
    display: none;
}

div#maintainer {
    display: none;
}

div.feedInfo {
    text-align: left;
}

div.fullPost div.date {
    display: none;
}

h3.postTitle {
    display: none;
}

/* campus tour */

#lastUpdated {
    display: none;
}

ul.childrenList img {
    float:left;
    margin:0 8px 0 0;
}

.childrenList h4 {
    margin:0;
    padding:0;
    font-weight: normal;
    font-size: 13px;
    
}

div#eventCal {
    width: 100%;
}

table#footer1{
    display: none;
}

/* Caf Menu Stuff */

input.chk {
    display: none;
}

div.daytitles {
   font-weight: bold;
   font-size: 20px;
   text-align: center;
}

img.keyall {
    display: none;
}

td.mealname {
   font-weight: bold;
   font-size: 16px;
   text-decoration: underline;
}

td.station {
    font-weight: bold;
}

img.nav {
    display: none;
}

img.icon {
    display: none;
}

td.chkbr {
    display: none;
}
td.chklu {
    display: none;
}
td.chkdi {
    display: none;
}
td.chkla {
    display: none;
}
.gsc-search-box-tools .gsc-search-box .gsc-input {
 padding-right: 2px !important;
 font-size: 96% !important;
}
.gsc-input-box {
 height: 22px !important;
}
.cse .gsc-search-button input.gsc-search-button-v2, input.gsc-search-button-v2 {
 margin-top: 0 !important;
 padding: 6px !important;
 background-color: transparent !important;
 border-color: transparent !important;
}
input.gsc-search-button-v2:hover, input.gsc-search-button-v2:focus {
 background-color: transparent !important;
 border-color: transparent !important;
}
.gscb_a {
 font: 22px/13px arial, sans-serif !important;
}

/*
.highslide {
    visibility: hidden;
}
*/
