#account-select {
    margin-top: 20px;
    margin-bottom: 20px;
}
div.content.content-primary {
    width: 70%;
    padding: 4.5em 13px 0 14px;
}
table#tender {
    width:50%;
}
#from, #to {
	padding: 5px;
	margin: 10px;
}