div#live_preview_panel {
	width:96%;
	background-color:#ddd;
	border:1px solid #bbb;
	padding:1.5em 2%;
	margin-bottom: 1.5em;
}
div#live_preview_panel div.live_preview_thumbnails {
	margin:1em 0;
}
div#live_preview_panel div.live_preview_thumbnails img {
	border:none !important;
	height:40px;
	width:auto;
}
div#live_preview_panel div#live_preview_view .featuresModule ul.features li,
div#live_preview_panel div#live_preview_view .featuresModule ul.features li .featureImage,
div#live_preview_panel div#live_preview_view .featuresModule ul.features li .featureImage img {
	max-width: 100%;
	height: auto !important;
}
div.contentArea div.editor form#disco_form table#discoTable {
	width:49%;
}
table#discoTable input[type=text], #adminLayoutTable table#discoTable textarea {
	width:90%;
}
table#discoTable input#bg_color {
	width:8em;
}
table#discoTable div.colorpicker_close {
	text-align:right;
}
table#discoTable div.colorpicker_wrap {
	position:absolute;
	background-color:#fff;
	-moz-box-shadow: 0 2px 10px #000;
	-webkit-box-shadow: 0 2px 10px #000;
	box-shadow: 0 2px 10px #000;

	border:1px solid #999;
	padding:1em;
}
.live_preview_controls .note {
	color:#666;
}