.featureVideo{
	display:none;
}
.featuresModuleGallery ul {
	margin:0;
	padding:0;
	list-style:none;
}
.featuresModuleGallery ul>li {
	margin:0 1em 1em 0;
	padding:0;
	display:inline-block;
	max-width:100%;
	vertical-align:top;
	position:relative;
}
.featuresModuleGallery ul>li>a, .featuresModuleGallery ul>li>.noLink {
	display:block;
	height:0;
	padding-bottom:100%;
}
.featuresModuleGallery ul>li .featureInfo {
	position:absolute;
	bottom:0;
	background:rgba(0,0,0,.75);
	color:#fff;
	width:100%;
	box-sizing:border-box;
	padding:.5em 1em;
}
.featuresModuleGallery ul>li .featureInfo * {
	color:#fff !important;
}
.featuresModuleGallery ul>li .featureInfo h3 {
	margin:0;
}
#nyroModalWrapper, #nyroModalLoading.error {
	background-color:#fff;
	padding:20px;
	-moz-box-shadow: 0 3px 8px #000;
	-webkit-box-shadow: 0 3px 8px #000;
	box-shadow: 0 3px 8px #000;
}
#nyroModalWrapper #closeBut .closeText {
	display:none;
}
#nyroModalWrapper #closeBut {
	padding:6px;
	position:absolute;
	display:block;
	right:-18px;
	top:-16px;
	width:16px;
	height:16px;
	background:#fff;
	-moz-border-radius:13px;
	-webkit-border-radius:13px;
	border-radius:13px;
	-moz-box-shadow: 0 1px 4px #000;
	-webkit-box-shadow: 0 1px 4px #000;
	box-shadow: 0 1px 4px #000;
}