
.inline-group > h2 {
    background: none;
    color: #FF0000;
    padding:5px;
}

.inline-group > h2:first-child {
    background: #555;
    color: white;
    font-size:24px;
    padding:20px;
}

.inline-related > h3 {
    font-size:18px;
    background: white;
}

.inline-related > h3 > span.delete > label {
    color: white;
}

.inline-related > h2 {
    color: #CCC;
}