div#buildings div.building {
	border:1px solid #466B9E;
	float:right;
	width:65%;
}
div#buildings div.building div.images {
	float:right;
	padding:1em;
	background-color:#F5F7FA;
	border:1px dotted #466B9E;
	margin:1em
}
div#buildings div.building h3 {
	margin-top:0;
	background-color:#ADC8E2;
	padding:.6em 1em;
	border-bottom:1px dotted #8AA3D0;
}
div#buildings div.building div.floors, div#buildings div.building div.notes {
	margin:1.5em;
}
div#buildings.viewBuilding div.buildingTypes, div#buildings.viewBuilding div.buildings.withHeader {
	float:left;
	width:30%;
	overflow:hidden;
	background-color:#DDEAF2;
	border:1px solid #466B9E;
	padding:1em;
}
div#buildings.viewBuilding div.buildingTypes h3, div#buildings.viewBuilding div.buildings.withHeader h3 {
	display:none;
}
div#buildings.viewBuilding div.buildingTypes h4 {
	margin:0;
}