/* 
    Document   : XWPR
    Created on : Sep 29, 2011, 3:27:18 PM
    Author     : welplu01
    Description:
        css for Update My Profile WebAdvisor form
*/

.heading1 { font-size:large; color:#043A69; }
.heading2 { font-size:medium; color:#043A69; }
.label { width:80px; }
.control { vertical-align:middle; }
.envisionWindow { padding-left:90px; }
.horizontal table td { padding:0px 12px 0px 0px; }
input:focus { background-color:#CEDCE8; }
.oddrow { background-color:#CEDCE8 !important; }

