/* GENERAL CARLETON CSS SELECTOR */
/* last updated: 04/14/04 BK */

/* Default Settings */




/* The User Agent string is Mozilla/5.0 (Windows; U; Windows NT 5.1; en-US; rv:1.7.5) Gecko/20041107 Firefox/1.0 */


	
		/* Windows Mozilla */
		
		
		
		
		
		
	
	


/* CURRENT STYLES */

/*start: @import url("modernBrowsers.css");*/
/* NF: padding and border cause IE to add extra paragraphs in the editor */
.callOut { background: #FFFFCC; margin: 1em; /*padding: 1em;*/ /*border: 1px dashed #FFCC00;*/ }
.callOut p { padding: 1em; margin: 0em; }
body { background:#FFFFFF; margin:0; padding:0; }
/*end: @import url("modernBrowsers.css");*/


h1,.header1 { font-size: xx-large; font-family: verdana, arial, helvetica, sans-serif; font-weight: bold; }

h2,.header2 { font-size: x-large; font-family: verdana, arial, helvetica, sans-serif; font-weight: bold; }

h3,.header3 { font-size: large; font-family: verdana, arial, helvetica, sans-serif; font-weight: bold; }

h4,.header4 { font-size: medium; font-family: verdana, arial, helvetica, sans-serif; font-weight: bold; }

body { margin: 0; padding: 0; }

body,p,ul,ol,li,table,tr,td,th,div,.text { font-size: small; font-family: verdana, arial, helvetica, sans-serif; }

b,strong,.bold  { font-family: verdana, arial, helvetica, sans-serif; font-weight: bold; }

i,em,.italic { font-family: verdana, arial, helvetica, sans-serif; font-style: italic; }

.smallText { font-size: x-small; font-family: verdana, arial, helvetica, sans-serif; font-weight: normal; }

.maintained { font-size: x-small; font-family: verdana, arial, helvetica, sans-serif; font-weight: normal; color: #666666; }

.locationBarText {color: #FFCC00; font-family : verdana, arial, helvetica, sans-serif; font-size: x-small; background-color: #000066; } 

td.locationBarText a.locationBarLinks, a.locationBarLinks, td.locationBarText a.locationBarLinks:visited, a.locationBarLinks:visited, a.locationBarLinks:hover, .locationBarLinks {color: #FFFFFF; font-family : verdana, arial, helvetica, sans-serif; font-size: x-small; }

.bluebar {  background-color: #000066; }

.bluebarElements { font-size: 11px; font-family: Verdana, Arial, Helvetica, sans-serif; }

.dropdownEm {  font-weight: bold; }

.bluebarVertDiv {  color: #8AA3D0; }

#bluebarDropdown {  background-color: #E8EDF6; }

#searchInput {  background-color: #E8EDF6; }

#searchInputFocus {  background-color: #E8EDF6; }

#searchGo {  background-color: #E8EDF6; }

/* yeah, yeah, yeah this is a little f*cked up because the .bg****** don't match the background-color. it is a hack for right now - BK */
.bgFFFFCC { background-color: #ffffcc; }
.bgFFFF99 { background-color: #e9eef8; } 
.bg99CCFF { background-color: #d9e2f4; }
.bgCCCCCC { background-color: #cccccc; }
.bgE8E8E8 { background-color: #e8e8e8; }

ol.upperRoman { list-style-type: upper-roman; }
ol.lowerRoman { list-style-type: lower-roman; }
ol.upperAlpha { list-style-type: upper-alpha; }
ol.lowerAlpha { list-style-type: lower-alpha; }
ol.decimal { list-style-type: decimal; }

hr.blueDash { height: 1px; border-style: dashed; color: #8AA3D0; background-color: #8AA3D0; }
.colorBlockFormat { background: #E9EEF8; padding: 5px 0px 5px 10px; }

img.lokiInserted { margin:10px; }
