.loki
{
	width: 95%;  /* be overridden by textarea height and width */

	padding: 5px;
	border: 1px solid #999999;

	background-color: #e2e2e2;
}

.loki table.iframe_wrapper, .loki textarea
{
	width: 100%;
	height: 276px;
	background-color: white;
	border: inset #ffffff 2px;
}
.loki table td {
	height:100%;
}
.loki iframe
{
	width: 100%;
	height: 100%;
}

.loki .toolbar
{
	line-height:23px;
}

.loki .toolbar a
{
	border: #e2e2d2 solid 1px;

	margin:2px 1px;
	vertical-align: top;
}

.loki .toolbar a img
{
	vertical-align: top;
	/* this makes a weird blue border in IE (maybe b/c it's a link?) ... */
	/*border: transparent solid 1px;*/
	/* ... so instead we add a margin here and take it away below: */
	margin: 1px;
}

.loki .toolbar a.hover img    /* use real classes rather than pseudo-classes to accomodate IE */
{
	background-color: buttonface;
	border-bottom: buttonshadow solid 1px;
	border-left: buttonhighlight solid 1px;
	border-right: buttonshadow solid 1px;
	border-top:  buttonhighlight solid 1px;
	margin: 0px;
}

.loki .toolbar a.active img   /* use real classes rather than pseudo-classes to accomodate IE */
{
	background-color: buttonface;
	border-bottom: buttonhighlight solid 1px;
	border-left: buttonshadow solid 1px;
	border-right: buttonhighlight solid 1px;
	border-top:  buttonshadow solid 1px;
	margin: 0px;
}


.loki .contextmenu
{
	background-color: ButtonFace;
	/*border: outset 2px lightgrey;*/
	border: 2px solid buttonshadow;
	border-left-color: buttonhighlight;
	border-top-color: buttonhighlight;
	font-size: 9pt;
	font-family: sans-serif;
	color: black
}

.loki .contextmenu a.menuitem
{
	padding: 2px;
	cursor: default;
	display: block;
	color: black;
	text-decoration: none;
}

.loki .contextmenu a.menuitem:hover
{
	/* use buttonshadow-esque colors instead of real ones here? */
	background-color: Highlight;
	color: HighlightText;
}

.loki .contextmenu .disabled
{
	padding: 2px;
	cursor: default;
	display: block;
	color: GrayText;
}

.loki .grippy_wrapper
{
	text-align: right;
	/*background: url("../images/grippy.png") no-repeat right;*/
}
.loki .grippy_wrapper .grippy
{
	cursor: s-resize;
}
